$header-height: 45px;

.header {
  position: fixed;
  left: 0;
  right: 0;
  height: $header-height;
  line-height: $header-height;
  padding: 0 12px;
  z-index: 1000;
  background: #fafafa;
  border-bottom: 1px solid #f0f0f0;

  .breadcrumb {
    padding-left: 1em;
  }

  .center {
    height: 100%;
    line-height: $header-height - 5px;
    padding: 0 12px;

    &:hover,
    &:focus {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.018);
    }

    .username {
      display: inline-block;
      margin-left: 12px;
      vertical-align: middle;
      font-weight: bold;
    }
  }
}
