<div style="height: 100%">
  <div class="header">
    <nz-row nzJustify="space-between">
      <nz-col>
        <nz-space [nzSplit]="split">
          <ng-template #split>
            <nz-divider nzType="vertical"></nz-divider>
          </ng-template>
          <ng-container *nzSpaceItem>
            <button nz-button nzType="text">
              <span nz-icon nzType="appstore"></span>
            </button>
          </ng-container>
          <nz-breadcrumb *nzSpaceItem class="breadcrumb" nzAutoGenerate> </nz-breadcrumb>
        </nz-space>
      </nz-col>
      <nz-col> </nz-col>
      <nz-col>
        <div class="center" nz-popover> </div>
      </nz-col>
    </nz-row>
  </div>
</div>
