<ng-template #transportMessageTpl>
  {{ bit.l["uploading"] }}({{ tds.doneLength }}/{{ tds.total }})
  <nz-progress [nzPercent]="tds.percent"></nz-progress>
</ng-template>

<bit-header>
  <nz-button-group>
    <nz-upload class="upload" bitUpload nzName="file" nzMultiple (nzChange)="tds.update($event)">
      <button nz-button>
        <i nz-icon [nzType]="'upload'"></i><span>{{ bit.l["upload"] }}</span>
      </button>
    </nz-upload>
    <button
      class="transport-btn"
      nz-button
      nz-popover
      [nzPopoverContent]="transportContent"
      [nzPopoverPlacement]="'bottomRight'"
      [nzPopoverTrigger]="'click'"
    >
      <nz-badge [nzStatus]="(tds.done | async) ? 'default' : 'processing'">
        <i nz-icon nzType="inbox"></i>
      </nz-badge>
    </button>

    <ng-template #transportContent>
      <cdk-virtual-scroll-viewport itemSize="10" class="transport-container">
        <nz-list nzSize="small">
          <nz-list-empty *ngIf="tds.total === 0"></nz-list-empty>
          <nz-list-item *cdkVirtualFor="let x of tds">
            <span nz-typography nzEllipsis style="width: 450px">{{ x.name }}</span>
            <div style="width: 150px">
              <nz-progress [nzPercent]="x.percent" nzSize="small"></nz-progress>
            </div>
          </nz-list-item>
        </nz-list>
      </cdk-virtual-scroll-viewport>
    </ng-template>
  </nz-button-group>
</bit-header>

<ng-template #title>
  <nz-space>
    <nz-space-item>
      <nz-button-group>
        <button nz-button (click)="checkedAllBind($event)">
          <label
            nz-checkbox
            [(ngModel)]="ds.lists.checked"
            [nzIndeterminate]="ds.lists.indeterminate"
            (ngModelChange)="ds.lists.checkedAll($event)"
          >
            {{ bit.l["checked"] }}
          </label>
        </button>
        <button nz-button nz-dropdown [nzDropdownMenu]="menu">
          <nz-badge [nzCount]="ds.lists.checkedNumber">
            <i nz-icon nzType="ellipsis"></i>
          </nz-badge>
        </button>
        <nz-dropdown-menu #menu>
          <ul nz-menu>
            <li nz-menu-item>
              <i nz-icon nzType="swap"></i>
              {{ bit.l["move"] }}
            </li>
            <li nz-menu-item>
              <i nz-icon nzType="delete"></i>
              {{ bit.l["deleteItem"] }}
            </li>
          </ul>
        </nz-dropdown-menu>
      </nz-button-group>
    </nz-space-item>
    <nz-space-item *ngIf="ds.lists.hasSearch('type_id')">
      <nz-select
        style="width: 240px"
        [(ngModel)]="ds.lists.search['type_id'].value"
        [bitSearchChange]="ds.lists"
        (after)="ds.fetchData(true)"
        [nzDropdownRender]="renderTemplate"
        [nz-tooltip]="bit.l['typePlaceholder']"
      >
        <nz-option [nzValue]="''" [nzLabel]="bit.l['all']"></nz-option>
        <nz-option [nzValue]="0" [nzLabel]="bit.l['unknownType']"></nz-option>
        <nz-option *ngFor="let x of typeLists" [nzValue]="x.id" [nzLabel]="x.name"></nz-option>
      </nz-select>
      <ng-template #renderTemplate>
        <button nz-button nzType="link" nzBlock (click)="openTypeDrawer()">
          <i nz-icon nzType="form"></i>
          {{ bit.l["editType"] }}
        </button>
      </ng-template>
    </nz-space-item>
    <nz-space-item *ngIf="ds.lists.hasSearch('name')">
      <nz-input-group nzSearch [nzAddOnAfter]="nzAddOnAfter" style="width: 320px">
        <input
          nz-input
          [bitSearchStart]="ds.lists"
          [placeholder]="bit.l['search']"
          [(ngModel)]="ds.lists.search['name'].value"
          (after)="ds.fetchData(true)"
        />
      </nz-input-group>
      <ng-template #nzAddOnAfter>
        <button
          nz-button
          nzType="primary"
          nzSearch
          [bitSearchStart]="ds.lists"
          (after)="ds.fetchData(true)"
        >
          <i nz-icon nzType="search"></i>
        </button>
      </ng-template>
    </nz-space-item>
    <nz-space-item>
      <button nz-button nzType="default" (click)="ds.fetchData(true)">
        <i nz-icon nzType="sync"></i>
        {{ bit.l["refreshLists"] }}
      </button>
    </nz-space-item>
    <nz-space-item>
      <button nz-button nzType="default" [bitSearchClear]="ds.lists" (after)="ds.fetchData(true)">
        <i nz-icon nzType="clear"></i>
        {{ bit.l["clearSearch"] }}
      </button>
    </nz-space-item>
  </nz-space>
</ng-template>

<nz-drawer
  [nzClosable]="false"
  [nzWidth]="640"
  [nzVisible]="typeVisible"
  [nzTitle]="typeTitle"
  [nzFooter]="typeSort ? typeFooter : null"
  (nzOnClose)="closeTypeDrawer()"
>
  <ng-template #typeFooter>
    <nz-alert nzType="info" nzBanner [nzMessage]="bit.l['typeSortTip']"></nz-alert>
  </ng-template>
  <ng-template #typeTitle>
    <nz-space>
      <nz-space-item>
        {{ bit.l["editType"] }}
      </nz-space-item>
      <nz-space-item>
        <nz-switch
          [(ngModel)]="typeSort"
          [nzCheckedChildren]="bit.l['sort']"
          [nzUnCheckedChildren]="bit.l['sort']"
        >
        </nz-switch>
      </nz-space-item>
    </nz-space>
  </ng-template>
  <ng-container *nzDrawerContent>
    <nz-table
      #typeTable
      [nzData]="typeLists"
      nzSize="middle"
      nzTableLayout="fixed"
      [nzFrontPagination]="false"
    >
      <thead>
      <tr>
        <th nzWidth="70%">{{ bit.l["typeName"] }}</th>
        <th *ngIf="!typeSort">{{ bit.l["action"] }}</th>
      </tr>
      </thead>
      <tbody
        cdkDropList
        [cdkDropListDisabled]="!typeSort"
        (cdkDropListDropped)="drop($event)"
      >
      <tr class="example-custom-placeholder" *cdkDragPlaceholder></tr>
      <tr *ngIf="!typeSort">
        <td>
          <input
            nz-input
            [(ngModel)]="typeName"
            [placeholder]="bit.l['typeNamePlaceholder']"
            (keyup.enter)="addTypeSubmit()"
          />
        </td>
        <td>
          <a (click)="addTypeSubmit()"><i nz-icon nzType="check"></i> {{ bit.l["submit"] }}</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="addTypeCancel()"><i nz-icon nzType="close"></i> {{ bit.l["cancel"] }}</a>
        </td>
      </tr>
      <tr
        *ngFor="let data of typeTable.data;index as i;count as len"
        [ngClass]="{'drag-cursor':typeSort}"
        cdkDrag
        (contextmenu)="openSortMenu($event, sortMenu)"
      >
        <ng-container *ngIf="editTypeCell(data); else normalCellTel">
          <td>
            <input
              nz-input
              [(ngModel)]="data.editName"
              [placeholder]="bit.l['typeNamePlaceholder']"
              (keyup.enter)="editTypeSubmit(data)"
            />
          </td>
          <td>
            <a (click)="editTypeSubmit(data)">
              <i nz-icon nzType="check"></i> {{ bit.l["submit"] }}
            </a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="editTypeCancel()">
              <i nz-icon nzType="close"></i> {{ bit.l["cancel"] }}
            </a>
          </td>
        </ng-container>
        <ng-template #normalCellTel>
          <td>
            {{ data.name }}
          </td>
          <td *ngIf="!typeSort">
            <a (click)="editType(data)">
              <i nz-icon nzType="edit"></i> {{ bit.l["edit"] }}
            </a>
            <nz-divider nzType="vertical"></nz-divider>
            <a
              nz-popconfirm
              [nzPopconfirmTitle]="bit.l['deleteWarning']"
              (nzOnConfirm)="editTypeDelete([data.id])"
            >
              <i nz-icon nzType="delete"></i> {{ bit.l["delete"] }}
            </a>
          </td>
        </ng-template>
        <nz-dropdown-menu #sortMenu>
          <ul nz-menu>
            <li nz-menu-item (click)="sortMove(i,0)">
              <i nz-icon nzType="vertical-align-top"></i> 置顶
            </li>
            <li nz-menu-item (click)="sortMove(i,len-1)">
              <i nz-icon nzType="vertical-align-bottom"></i> 置底
            </li>
          </ul>
        </nz-dropdown-menu>
      </tr>

      </tbody>
    </nz-table>
  </ng-container>
</nz-drawer>

<nz-ribbon [nzText]="bit.l['uploadRibbon']">
  <nz-card [nzTitle]="title">
    <cdk-virtual-scroll-viewport
      itemSize="8"
      class="infinite-container"
      [ngStyle]="{ 'height.px': ui.setNotOverflowHeight(-160) | async }"
    >
      <nz-list nzGrid>
        <nz-list-empty *ngIf="ds.empty()"></nz-list-empty>
        <div nz-row [nzGutter]="8">
          <div nz-col *cdkVirtualFor="let x of ds">
            <nz-list-item *ngIf="x">
              <nz-card
                style="width: 195px"
                nzSize="small"
                [nzHoverable]="true"
                [nzCover]="coverTemplate"
                [nzActions]="[actionCopy, actionRename, actionEllipsis]"
              >
                <nz-card-meta [nzTitle]="cardTitle"></nz-card-meta>
                <ng-template #cardTitle>
                  <label
                    nz-checkbox
                    [(ngModel)]="x.checked"
                    (ngModelChange)="ds.lists.refreshStatus()"
                    [nz-tooltip]="x.name"
                  >
                    {{ x.name }}
                  </label>
                </ng-template>
              </nz-card>
              <ng-template #coverTemplate>
                <div
                  class="thumb"
                  [style]="{ 'background-image': thumb(x.url) }"
                  (click)="preview(x)"
                >
                  <div class="thumb-actions">
                    <i nz-icon nzType="search"></i>
                  </div>
                </div>
              </ng-template>
              <ng-template #actionCopy>
                <i
                  nz-icon
                  nzType="link"
                  [nz-tooltip]="x.copied ? copyTip : bit.static + x.url"
                  (click)="copy(x)"
                ></i>
                <ng-template #copyTip>
                  <span nz-typography nzType="success">
                    <i nz-icon nzType="check"></i>
                  </span>
                  {{ bit.l["copied"] }}
                </ng-template>
              </ng-template>
              <ng-template #actionRename>
                <i
                  nz-icon
                  nzType="edit"
                  [nz-tooltip]="bit.l['rename']"
                  (click)="openRenameModal(x)"
                ></i>
              </ng-template>
              <ng-template #actionEllipsis>
                <i
                  nz-icon
                  nzType="ellipsis"
                  nz-dropdown
                  [nzDropdownMenu]="actionMenu"
                  [nzClickHide]="false"
                ></i>
                <nz-dropdown-menu #actionMenu>
                  <ul nz-menu>
                    <li nz-menu-item>
                      <i nz-icon nzType="swap"></i>
                      {{ bit.l["move"] }}
                    </li>
                    <li nz-menu-item (click)="delete([x.id])">
                      <i nz-icon nzType="delete"></i>
                      {{ bit.l["deleteItem"] }}
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </ng-template>
            </nz-list-item>
          </div>
        </div>
      </nz-list>
    </cdk-virtual-scroll-viewport>
  </nz-card>
</nz-ribbon>

<nz-modal
  #renameModal
  [nzTitle]="bit.l['confirm']"
  [nzOkDisabled]="!renameForm ? false : !renameForm.valid"
  (nzOnOk)="submitRename()"
  (nzOnCancel)="closeRenameModal()"
>
  <ng-container *nzModalContent>
    <form *ngIf="renameData" nz-form nzLayout="vertical" [formGroup]="renameForm">
      <nz-form-item>
        <nz-form-label [innerHTML]="bit.l['renameLabel'] | Print: [renameData.name]">
        </nz-form-label>
        <nz-form-control [nzErrorTip]="name.ref">
          <input formControlName="name" nz-input [placeholder]="bit.l['namePlaceholder']" />
          <bit-error-tip
            #name
            [hasError]="{
              required: bit.l['nameRequire']
            }"
          ></bit-error-tip>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
