.upload {
  z-index: 2;
}

.transport-btn {
  margin-left: -1px;
}

.transport-container {
  height: 420px;
  width: 640px;
  overflow-x: hidden;
}

:host ::ng-deep {
  .ant-card-meta-title {
    font-size: 14px;
  }

  .ant-card-actions > li {
    margin: 6px 0;
  }

  .ant-checkbox-wrapper {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
  }
}

.infinite-container {
  width: 100%;
  overflow-x: hidden;
}

.thumb {
  height: 135px;
  width: 100%;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;

  .thumb-actions {
    pointer-events: none;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 32px;
    margin-top: -16px;
    text-align: center;
    z-index: 1;
    color: #fff;
    font-size: 32px;
    opacity: 0;
  }

  &:hover {
    .thumb-actions {
      opacity: 0.8;
    }
  }
}
