<ng-template #titleRef>
  <nz-space nzAlign="center">
    <wpx-keyword
      *nzSpaceItem
      [wpxWidth]="320"
      [wpxModel]="model"
      [wpxKeys]="['name', 'namespace']"
      (wpxSubmit)="getData()"
      wpxPlaceholder="工作流名称"
    ></wpx-keyword>
    <wpx-toolbox *nzSpaceItem [wpxModel]="model" (wpxClear)="getData()" (wpxRefresh)="getData()"> </wpx-toolbox>
  </nz-space>
</ng-template>

<ng-template #extraRef>
  <nz-space nzAlign="center">
    <button *nzSpaceItem nz-button (click)="openSchedules()"> 服务接入 </button>
    <button *nzSpaceItem nz-button nzType="primary" (click)="openForm()"> 新增 </button>
  </nz-space>
</ng-template>

<wpx-table
  #wpxTable
  [wpxTitle]="titleRef"
  [wpxExtra]="extraRef"
  [wpxModel]="model"
  [wpxColumns]="[
    {
      title: '工作流名称',
      key: 'name',
      width: '360px',
      render: name
    },
    {
      title: '所属项目',
      key: 'project',
      width: '240px',
      render: project
    },
    {
      title: '详情',
      key: 'detail',
      render: detail
    }
  ]"
  [wpxItemSize]="50"
  [wpxOffset]="310"
  [wpxActions]="actions"
  (wpxChange)="getData()"
>
  <ng-template #name let-data>
    <nz-tag nzColor="blue">
      <ng-container [ngSwitch]="data.kind">
        <ng-container *ngSwitchCase="'schedule'">定时启动</ng-container>
      </ng-container>
    </nz-tag>
    {{ data.name }}
  </ng-template>
  <ng-template #project let-data>
    <ng-container *ngIf="projectDict[data.project] as project"> {{ project.name }} </ng-container>
  </ng-template>
  <ng-template #detail let-data>
    <ng-container *ngIf="data.schedule as v">
      <nz-tag *ngIf="!v.status" nzColor="error">
        <span nz-icon nzType="stop"></span>
        <span>禁用</span>
      </nz-tag>
      <nz-tag>
        <span nz-icon nzType="deployment-unit" nzTheme="outline"></span>
        <ng-container *ngIf="scheduleDict[v.schedule_id] as schedule">
          {{ schedule.name }}
        </ng-container>
      </nz-tag>
      <a (click)="openDetail(data, projectDict[data.project], scheduleDict[v.schedule_id])">
        已设置 {{ v.jobs.length }} 个事件
      </a>
    </ng-container>
  </ng-template>
</wpx-table>

<nz-dropdown-menu #actions="nzDropdownMenu">
  <ul *ngIf="wpxTable.actived as v" nz-menu>
    <li nz-menu-item nzDisabled>
      <b>{{ v.name }}</b>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item (click)="openControls(v)">管理</li>
    <li nz-menu-item (click)="openForm(v)"> 修改 </li>
    <li nz-menu-item nzDanger (click)="delete(v)"> 删除 </li>
  </ul>
</nz-dropdown-menu>
