<nz-layout class="main">
  <app-toolbar></app-toolbar>
  <nz-layout>
    <app-header></app-header>
    <nz-layout class="frame nested" style="overflow: hidden">
      <nz-sider nzTheme="light" [nzWidth]="330">
        <nz-space>
          <nz-input-group *nzSpaceItem [nzPrefix]="suffixIconSearch" style="width: 180px">
            <input type="text" nz-input placeholder="搜索" [(ngModel)]="searchText" />
            <ng-template #suffixIconSearch>
              <span nz-icon nzType="search"></span>
            </ng-template>
          </nz-input-group>
          <nz-button-group *nzSpaceItem>
            <button nz-button nzType="text" nz-tooltip="刷新" (click)="getData()">
              <i nz-icon nzType="reload"></i>
            </button>
            <button nz-button nzType="text" nz-tooltip="重组" (click)="openReorganization()">
              <i nz-icon nzType="swap"></i>
            </button>
            <button nz-button nzType="text" nz-tooltip="新增" (click)="form()">
              <span nz-icon nzType="sisternode"></span>
            </button>
          </nz-button-group>
        </nz-space>

        <nz-divider style="margin: 8px 0"></nz-divider>

        <nz-tree-view [nzTreeControl]="control" [nzDataSource]="ds" nzBlockNode>
          <nz-tree-node *nzTreeNodeDef="let node" nzTreeNodeIndentLine>
            <nz-tree-node-toggle nzTreeNodeNoopToggle>
              <ng-container *ngTemplateOutlet="icon; context: { $implicit: node }"></ng-container>
            </nz-tree-node-toggle>
            <nz-tree-node-option
              [nzDisabled]="node.disabled"
              [nzSelected]="selection.isSelected(node)"
              (nzClick)="selected(node)"
            >
              <ng-container *ngTemplateOutlet="content; context: { $implicit: node }"></ng-container>
            </nz-tree-node-option>
          </nz-tree-node>

          <nz-tree-node *nzTreeNodeDef="let node; when: hasChild" nzTreeNodeIndentLine>
            <nz-tree-node-toggle>
              <ng-container *ngTemplateOutlet="icon; context: { $implicit: node }"></ng-container>
            </nz-tree-node-toggle>
            <nz-tree-node-option
              [nzDisabled]="node.disabled"
              [nzSelected]="selection.isSelected(node)"
              (nzClick)="selected(node)"
            >
              <ng-container *ngTemplateOutlet="content; context: { $implicit: node }"></ng-container>
            </nz-tree-node-option>
          </nz-tree-node>
        </nz-tree-view>
      </nz-sider>
      <nz-layout style="overflow: auto">
        <nz-content class="content">
          <router-outlet></router-outlet>
        </nz-content>
      </nz-layout>
    </nz-layout>
  </nz-layout>
</nz-layout>

<ng-template #icon let-node>
  <div class="custom-icon">
    <ng-container *ngIf="!node.status; else kind">
      <span nz-icon nzType="stop" nzTheme="twotone" [nzTwotoneColor]="'#ff7875'"></span>
    </ng-container>
    <ng-template #kind [ngSwitch]="node.kind">
      <ng-container *ngSwitchCase="'default'">
        <span nz-icon nzType="database" nzTheme="twotone"></span>
      </ng-container>
      <ng-container *ngSwitchCase="'aggregation'">
        <span nz-icon nzType="calculator" nzTheme="twotone"></span>
      </ng-container>
      <ng-container *ngSwitchCase="'manual'">
        <span nz-icon nzType="code" nzTheme="twotone"></span>
      </ng-container>
      <ng-container *ngSwitchCase="'group'">
        <span nz-icon [nzType]="!control.isExpanded(node) ? 'folder' : 'folder-open'" nzTheme="twotone"></span>
      </ng-container>
    </ng-template>
  </div>
</ng-template>

<ng-template #content let-node>
  <div class="custom-node" (contextmenu)="nodeActions($event, nodeActionsMenu, node)">
    <span *ngIf="node.icon" nz-icon [nzType]="node.icon"></span>
    {{ node.name }}
    <ng-container *ngIf="node.manifest">
      [
      <ng-container [ngSwitch]="node.manifest">
        <ng-container *ngSwitchCase="'default'"> 标准表格 </ng-container>
        <ng-container *ngSwitchCase="'form'">独立表单</ng-container>
        <ng-container *ngSwitchCase="'dashboard'">仪表盘</ng-container>
      </ng-container>
      ]
    </ng-container>
    <ng-container *ngIf="node.manual"> [ {{ node.manual.scope }} ] </ng-container>
  </div>
</ng-template>

<nz-dropdown-menu #nodeActionsMenu="nzDropdownMenu">
  <ul *ngIf="actionNode as node" nz-menu>
    <li nz-menu-item [nzSelected]="false">
      <i *ngIf="node.icon" nz-icon [nzType]="node.icon"></i>&nbsp;
      <span>{{ node.name }}</span>
    </li>
    <li nz-menu-divider></li>
    <ng-container *ngIf="node.kind === 'group'">
      <li nz-menu-item (click)="form(undefined, node._id)"> 新增 </li>
    </ng-container>
    <li nz-menu-item (click)="form(node)"> 编辑 </li>
    <li nz-menu-item nzDanger (click)="delete(node)"> 删除 </li>
  </ul>
</nz-dropdown-menu>

<nz-drawer nzTitle="拖拽进行重组" [nzVisible]="reorganizationVisible" (nzOnClose)="closeReorganization()">
  <ng-container *nzDrawerContent>
    <nz-tree
      nzBlockNode
      nzExpandAll
      nzShowLine
      nzDraggable
      [nzData]="reorganizationNodes"
      (nzOnDrop)="reorganization($event)"
    >
    </nz-tree>
  </ng-container>
</nz-drawer>
