<ng-template #title>
  <nz-space>
    <nz-input-group *nzSpaceItem nzSuffixIcon="search">
      <input type="text" nz-input placeholder="搜索" [(ngModel)]="name" />
    </nz-input-group>
    <nz-button-group *nzSpaceItem>
      <button nz-button nzType="text" nz-tooltip="刷新" (click)="getData()">
        <i nz-icon nzType="reload"></i>
      </button>
      <button nz-button nzType="text" [nz-tooltip]="expand ? '全部收起' : '全部展开'" (click)="expanded()">
        <i nz-icon [nzType]="expand ? 'node-collapse' : 'node-expand'"></i>
      </button>
    </nz-button-group>
  </nz-space>
</ng-template>

<ng-template #extra>
  <button nz-button nzType="primary" (click)="submit()">更新权限</button>
</ng-template>

<nz-card [nzTitle]="title" [nzExtra]="extra">
  <nz-tree #tree nzCheckable nzExpandAll [nzData]="nodes" [nzSearchValue]="name" [nzCheckedKeys]="checkedKeys">
  </nz-tree>
</nz-card>
