<nz-list nzSize="large" nzItemLayout="vertical">
  <nz-list-item>
    <nz-list-item-meta>
      <nz-list-item-meta-title><b>开放服务</b></nz-list-item-meta-title>
    </nz-list-item-meta>
    <nz-descriptions nzSize="small" nzBordered [nzColumn]="2">
      <nz-descriptions-item nzTitle="URL">https://openapi.kainonly.com</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Key">D44VjTYtVflj2gvmqCUQHK9sLyVCYO7Z</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Secret">已设置</nz-descriptions-item>
    </nz-descriptions>
    <nz-list-item-extra>
      <button nz-button nzType="primary" nzShape="circle" nz-tooltip="设置">
        <i nz-icon nzType="tool"></i>
      </button>
    </nz-list-item-extra>
  </nz-list-item>
  <nz-list-item>
    <nz-list-item-meta>
      <nz-list-item-meta-title><b>日志传输</b></nz-list-item-meta-title>
    </nz-list-item-meta>
    <nz-table #basicTable [nzData]="[]" [nzHideOnSinglePage]="true">
      <thead>
        <tr>
          <th nzWidth="240px"><b>标识</b></th>
          <th nzWidth="240px"><b>主题</b></th>
          <th><b>描述</b></th>
          <th nzWidth="200px"><b>操作</b></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of basicTable.data">
          <td> </td>
          <td></td>
        </tr>
      </tbody>
    </nz-table>
    <nz-list-item-extra>
      <button nz-button nzType="primary" nzShape="circle" nz-tooltip="同步">
        <i nz-icon nzType="sync"></i>
      </button>
    </nz-list-item-extra>
  </nz-list-item>
  <nz-list-item>
    <nz-list-item-meta>
      <nz-list-item-meta-title><b>日志收集</b></nz-list-item-meta-title>
    </nz-list-item-meta>
    <nz-table #basicTable [nzData]="[]" [nzHideOnSinglePage]="true">
      <thead>
        <tr>
          <th nzWidth="240px"><b>标识</b></th>
          <th nzWidth="240px"><b>主题</b></th>
          <th><b>描述</b></th>
          <th nzWidth="200px"><b>操作</b></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of basicTable.data">
          <td> </td>
          <td></td>
        </tr>
      </tbody>
    </nz-table>
    <nz-list-item-extra>
      <button nz-button nzType="primary" nzShape="circle" nz-tooltip="同步">
        <i nz-icon nzType="sync"></i>
      </button>
    </nz-list-item-extra>
  </nz-list-item>
  <nz-list-item>
    <nz-list-item-meta>
      <nz-list-item-meta-title><b>定时调度</b></nz-list-item-meta-title>
    </nz-list-item-meta>
    <nz-table #basicTable [nzData]="[]" [nzHideOnSinglePage]="true">
      <thead>
        <tr>
          <th nzWidth="240px"><b>标识</b></th>
          <th nzWidth="240px"><b>触发条件</b></th>
          <th><b>描述</b></th>
          <th nzWidth="200px"><b>操作</b></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of basicTable.data">
          <td> </td>
          <td></td>
        </tr>
      </tbody>
    </nz-table>
    <nz-list-item-extra>
      <button nz-button nzType="primary" nzShape="circle" nz-tooltip="同步">
        <i nz-icon nzType="sync"></i>
      </button>
    </nz-list-item-extra>
  </nz-list-item>
</nz-list>
