<v-page-table #pageTable [lists]="lists" [columns]="columns" [api]="activitiesService.api">
  <nz-input-group *vPageTableSearch="'username'" [nzSuffixIcon]="'search'" style="width: 320px">
    <input
      nz-input
      [placeholder]="bit.l['search']"
      [(ngModel)]="lists.search['username'].value"
      [bitSearchStart]="lists"
      (bitAfter)="pageTable.getLists(true)"
    />
  </nz-input-group>
  <nz-range-picker
    *vPageTableSearch="'time'"
    nzFormat="yyyy-MM-dd HH:mm:ss"
    [bitSearchChange]="lists"
    [nzShowTime]="{ nzFormat: 'HH:mm:ss' }"
    [nzPlaceHolder]="[bit.l['startTime'], bit.l['endTime']]"
    [(ngModel)]="lists.search['time'].value"
    (bitAfter)="pageTable.getLists(true)"
  >
  </nz-range-picker>
  <ng-container *vPageTableCell="'ip'; let data">
    <ng-container *ngIf="data.country !== '0'"> {{ data.country }} /</ng-container>
    <ng-container *ngIf="data.province !== '0'"> {{ data.province }} /</ng-container>
    <a nz-typography [nz-tooltip]="ispTip">
      {{ data.city }}
      <ng-template #ispTip>
        {{ data.isp }}
      </ng-template>
    </a>
    <br />
    <b>( {{ data.ip }} )</b>
  </ng-container>
  <ng-container *vPageTableCell="'platform'"> 管理后台</ng-container>
  <ng-container *vPageTableCell="'risk'; let data">
    <ng-container *ngIf="data.logged">
      <i nz-icon nzType="check"></i>
      {{ bit.l['loginSuccess'] }}
    </ng-container>
    <ng-container *ngIf="!data.logged">
      <a nz-typography nzType="danger" [nz-tooltip]="riskTip">
        <i nz-icon nzType="close"></i>
        {{ bit.l['loginError'] }}
        <ng-template #riskTip> {{ bit.l['attack'] }}: {{ data.password }} </ng-template>
      </a>
    </ng-container>
    <br />
    <i>{{ data.risk }}</i>
  </ng-container>
</v-page-table>
