<nz-layout style="height: 100%; background: transparent">
  <nz-page-header>
    <nz-page-header-title>工作流管理</nz-page-header-title>
    <nz-page-header-subtitle>{{ doc.name }}</nz-page-header-subtitle>
    <nz-page-header-tags>
      <nz-tag nzColor="blue">
        <ng-container [ngSwitch]="doc.kind">
          <ng-container *ngSwitchCase="'schedule'">定时启动</ng-container>
        </ng-container>
      </nz-tag>
    </nz-page-header-tags>
    <nz-page-header-extra>
      <button nz-button nzType="primary" form="form" nzShape="circle" [disabled]="!form.valid">
        <span nz-icon nzType="check" nzTheme="outline"></span>
      </button>
    </nz-page-header-extra>
  </nz-page-header>

  <nz-content style="overflow: hidden auto">
    <nz-card>
      <form nz-form nzLayout="vertical" id="form" [formGroup]="form" (wpxSubmit)="submit($event)">
        <nz-form-item>
          <nz-form-label nzRequired> 服务节点 </nz-form-label>
          <nz-form-control nzHasFeedback [nzAutoTips]="tips.schedule_id">
            <nz-select
              style="width: 320px"
              formControlName="schedule_id"
              nzAllowClear
              nzPlaceHolder="请选择服务节点"
              nzShowSearch
              nzServerSearch
              (nzOnSearch)="schedules$.next($event)"
            >
              <ng-container *ngFor="let item of scheduleItems">
                <nz-option [nzValue]="item._id" [nzLabel]="item.name"> </nz-option>
              </ng-container>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzRequired> 启用 </nz-form-label>
          <nz-form-control>
            <nz-switch formControlName="status"></nz-switch>
          </nz-form-control>
        </nz-form-item>
        <nz-divider nzPlain nzText="触发事件" nzOrientation="left"></nz-divider>
        <nz-collapse formArrayName="jobs" [nzBordered]="false" cdkDropList (cdkDropListDropped)="sort($event, jobs)">
          <ng-container *ngFor="let x of jobs.controls; index as i" [formGroupName]="i">
            <nz-collapse-panel [nzHeader]="headerRef" [nzExtra]="extraRef" cdkDrag>
              <ng-template #headerRef>
                <b># {{ i + 1 }}</b>
              </ng-template>
              <ng-template #extraRef>
                <nz-button-group>
                  <button nz-button nzType="text" type="button" (click)="removeJob(i)">
                    <i nz-icon nzType="minus-circle" nzTheme="outline"></i>
                  </button>
                  <button nz-button nzType="text" type="button" cdkDragHandle>
                    <i nz-icon nzType="holder" nzTheme="outline"></i>
                  </button>
                </nz-button-group>
              </ng-template>
              <nz-form-item>
                <nz-form-label nzRequired> 操作 </nz-form-label>
                <nz-form-control nzHasFeedback>
                  <nz-select formControlName="mode" nzAllowClear nzPlaceHolder="请选择执行操作">
                    <nz-option nzValue="HTTP" nzLabel="HTTP：发送 POST 请求"> </nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzRequired> 规格 </nz-form-label>
                <nz-form-control nzHasFeedback>
                  <nz-cron-expression formControlName="spec" nzType="spring"></nz-cron-expression>
                </nz-form-control>
              </nz-form-item>
              <ng-container [ngSwitch]="x.get('mode')!.value" formGroupName="option">
                <ng-container *ngSwitchCase="'HTTP'">
                  <nz-form-item>
                    <nz-form-label nzRequired> 网络回调地址 </nz-form-label>
                    <nz-form-control nzHasFeedback>
                      <input nz-input formControlName="url" placeholder="请输入网络回调地址" />
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label> 请求 Headers </nz-form-label>
                    <nz-form-control nzHasFeedback>
                      <textarea nz-input formControlName="headers" placeholder="请输入 JSON 格式的 Headers"></textarea>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label> 请求 Body </nz-form-label>
                    <nz-form-control nzHasFeedback>
                      <textarea nz-input formControlName="body" placeholder="请输入 JSON 格式的 Body"></textarea>
                    </nz-form-control>
                  </nz-form-item>
                </ng-container>
              </ng-container>
            </nz-collapse-panel>
          </ng-container>
        </nz-collapse>

        <button nzBlock type="button" nzType="text" nzSize="large" nz-button (click)="appendJob()">
          <i nz-icon nzType="plus-circle"></i> 新增触发
        </button>
      </form>
    </nz-card>
  </nz-content>
</nz-layout>
