<ng-template #titleRef>
  <nz-space nzAlign="center">
    <wpx-keyword
      *nzSpaceItem
      [wpxWidth]="320"
      [wpxModel]="model"
      [wpxKeys]="['name']"
      (wpxSubmit)="getData()"
      wpxPlaceholder="队列名称、主题"
    ></wpx-keyword>
    <wpx-toolbox *nzSpaceItem [wpxModel]="model" (wpxClear)="getData()" (wpxRefresh)="getData()"> </wpx-toolbox>
  </nz-space>
</ng-template>

<ng-template #extraRef>
  <nz-space nzAlign="center">
    <ng-container *ngIf="model.selection.size as size">
      <button *nzSpaceItem nz-button nzType="dashed" nz-dropdown [nzDropdownMenu]="menu"> 已选中 {{ size }} 项 </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="basicTable.clearSelections()"> 取消选择 </li>
        </ul>
        <ul nz-menu>
          <li nz-menu-item nzDanger (click)="bulkDelete()"> 删除 </li>
        </ul>
      </nz-dropdown-menu>
    </ng-container>
    <button *nzSpaceItem nz-button (click)="openPublish()"> 发布消息 </button>
    <button *nzSpaceItem nz-button nzType="primary" (click)="openForm()"> 新增 </button>
  </nz-space>
</ng-template>

<wpx-table
  #basicTable
  [wpxTitle]="titleRef"
  [wpxExtra]="extraRef"
  [wpxModel]="model"
  [wpxColumns]="[
    {
      title: '队列名称',
      width: '240px',
      render: name
    },
    {
      title: '主题命名',
      width: '240px',
      render: subjects
    },
    {
      title: '所属项目',
      width: '240px',
      render: project
    },
    {
      title: '详情',
      width: '600px',
      render: detail
    }
  ]"
  [wpxItemSize]="50"
  [wpxOffset]="310"
  [wpxActions]="actions"
  (wpxChange)="getData()"
>
  <ng-template #name let-data>
    {{ data.name }}
    <ng-container *ngIf="data.description">
      <span nz-icon nzType="question-circle" nzTheme="outline" [nz-tooltip]="data.description"></span>
    </ng-container>
  </ng-template>
  <ng-template #project let-data>
    <ng-container *ngIf="projectDict[data.project] as project"> {{ project.name }} </ng-container>
  </ng-template>
  <ng-template #subjects let-data>
    <ng-container *ngIf="data.subjects.length > 1; else subjectText">
      {{ data.subjects[0] }}
      <span nz-icon nzType="info-circle" nzTheme="outline" [nz-tooltip]="data.subjects"></span>
    </ng-container>
    <ng-template #subjectText>
      {{ data.subjects }}
    </ng-template>
  </ng-template>
  <ng-template #detail let-data>
    <nz-tag *ngIf="data.max_msgs && data.max_msgs !== -1"> 最大消息数：{{ data.max_msgs }} </nz-tag>
    <nz-tag *ngIf="data.max_bytes && data.max_bytes !== -1"> 最大字节数：{{ data.max_bytes | nzBytes }} </nz-tag>
    <nz-tag *ngIf="data.max_age"> 有效期：{{ data.max_age / 1e9 }}s </nz-tag>
    <a (click)="openDetail(data, projectDict[data.project])">查看</a>
  </ng-template>
</wpx-table>

<nz-dropdown-menu #actions="nzDropdownMenu">
  <ul *ngIf="basicTable.actived as v" nz-menu>
    <li nz-menu-item nzDisabled>
      <b>{{ v.name }}</b>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item (click)="openForm(v)"> 修改 </li>
    <li nz-menu-item nzDanger (click)="delete(v)"> 删除 </li>
  </ul>
</nz-dropdown-menu>
