<nz-row [nzGutter]="[8, 8]">
  <nz-col [nzSpan]="15">
    <nz-row [nzGutter]="[8, 8]">
      <nz-col [nzSpan]="24">
        <nz-segmented [nzOptions]="state"></nz-segmented>
      </nz-col>
      <nz-col [nzSpan]="24">
        <nz-card>
          <app-overview-cluster-cpu height="360px" width="100%"></app-overview-cluster-cpu>
        </nz-card>
      </nz-col>
      <nz-col [nzSpan]="24">
        <nz-card>
          <nz-result nzStatus="success" nzTitle="未发现任何问题" nzSubTitle="生产服务部署一切正常"> </nz-result>
        </nz-card>
      </nz-col>
    </nz-row>
  </nz-col>
  <nz-col [nzSpan]="9">
    <nz-row [nzGutter]="[8, 8]">
      <nz-col [nzSpan]="24">
        <nz-segmented [nzOptions]="control"></nz-segmented>
      </nz-col>
      <nz-col [nzSpan]="24">
        <nz-card>
          <nz-list nzSize="large" nzItemLayout="vertical">
            <nz-list-item>
              <nz-list-item-meta>
                <nz-list-item-meta-title><b>Kubernetes 集群</b></nz-list-item-meta-title>
              </nz-list-item-meta>
              <nz-descriptions nzSize="small" nzLayout="vertical" nzBordered [nzColumn]="2">
                <nz-descriptions-item nzTitle="访问地址"> https://localhost:6443 </nz-descriptions-item>
                <nz-descriptions-item nzTitle="密钥文件"> 未设置 </nz-descriptions-item>
              </nz-descriptions>
              <nz-list-item-extra>
                <button nz-button nzType="primary" nzShape="circle" nz-tooltip="设置">
                  <i nz-icon nzType="tool"></i>
                </button>
              </nz-list-item-extra>
            </nz-list-item>
            <nz-list-item>
              <nz-list-item-meta>
                <nz-list-item-meta-title><b>MongoDB 数据库</b></nz-list-item-meta-title>
              </nz-list-item-meta>
              <nz-descriptions nzSize="small" nzLayout="vertical" nzBordered [nzColumn]="2">
                <nz-descriptions-item nzTitle="连接地址"> 未设置 </nz-descriptions-item>
                <nz-descriptions-item nzTitle="数据库"> 未设置 </nz-descriptions-item>
                <nz-descriptions-item nzTitle="用户名"> 未设置 </nz-descriptions-item>
                <nz-descriptions-item nzTitle="密码"> 未设置 </nz-descriptions-item>
              </nz-descriptions>
              <nz-list-item-extra>
                <button nz-button nzType="primary" nzShape="circle" nz-tooltip="设置">
                  <i nz-icon nzType="tool"></i>
                </button>
              </nz-list-item-extra>
            </nz-list-item>
            <nz-list-item>
              <nz-list-item-meta>
                <nz-list-item-meta-title><b>Redis 缓存</b></nz-list-item-meta-title>
              </nz-list-item-meta>
              <nz-descriptions nzSize="small" nzLayout="vertical" nzBordered [nzColumn]="2">
                <nz-descriptions-item nzTitle="连接地址"> 未设置 </nz-descriptions-item>
                <nz-descriptions-item nzTitle="密码"> 未设置 </nz-descriptions-item>
                <nz-descriptions-item nzTitle="用户名"> 未设置 </nz-descriptions-item>
              </nz-descriptions>
              <nz-list-item-extra>
                <button nz-button nzType="primary" nzShape="circle" nz-tooltip="设置">
                  <i nz-icon nzType="tool"></i>
                </button>
              </nz-list-item-extra>
            </nz-list-item>
            <nz-list-item>
              <nz-list-item-meta>
                <nz-list-item-meta-title><b>Nats JetStream 消息中间件</b></nz-list-item-meta-title>
              </nz-list-item-meta>
              <nz-descriptions nzSize="small" nzLayout="vertical" nzBordered [nzColumn]="2">
                <nz-descriptions-item nzTitle="连接地址"> 未设置 </nz-descriptions-item>
                <nz-descriptions-item nzTitle="NKey"> 未设置 </nz-descriptions-item>
              </nz-descriptions>
              <nz-list-item-extra>
                <button nz-button nzType="primary" nzShape="circle" nz-tooltip="设置">
                  <i nz-icon nzType="tool"></i>
                </button>
              </nz-list-item-extra>
            </nz-list-item>
          </nz-list>
        </nz-card>
      </nz-col>
    </nz-row>
  </nz-col>
</nz-row>
