<bit-ph skip></bit-ph>

<nz-card>
  <nz-card-tab>
    <nz-tabset nzSize="large" nzLinkRouter>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['./acl']"> 访问管控 </a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['./resource']"> 资源管控 </a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['./role']"> 权限组 </a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['./admin']"> 用户管理 </a>
      </nz-tab>
    </nz-tabset>
  </nz-card-tab>
  <router-outlet></router-outlet>
</nz-card>
