<form *ngIf="form" nz-form nzLayout="vertical" id="form" [formGroup]="form" (wpxSubmit)="submit($event)">
  <nz-form-item>
    <nz-form-label nzRequired>项目名称</nz-form-label>
    <nz-form-control
      nzHasFeedback
      [nzAutoTips]="{
        default: {
          required: '项目名称不能为空',
          duplicated: '存在重复的定义，项目名称必须是唯一的'
        }
      }"
    >
      <input nz-input type="text" formControlName="name" placeholder="请填写项目名称" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired>命名空间</nz-form-label>
    <nz-form-control
      nzHasFeedback
      [nzAutoTips]="{
        default: {
          required: '命名空间不能为空',
          duplicated: '存在重复的定义，命名空间必须是唯一的'
        }
      }"
    >
      <input nz-input type="text" formControlName="namespace" placeholder="请填写命名空间" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>密钥</nz-form-label>
    <nz-form-control nzHasFeedback>
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input nz-input type="text" formControlName="secret" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button type="button" nz-tooltip="生成密钥" (click)="randomSecret()">
          <span nz-icon nzType="thunderbolt"></span>
        </button>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>有效期</nz-form-label>
    <nz-form-control nzHasFeedback nzExtra="* 不设置有效期即永久有效">
      <nz-date-picker style="width: 100%" formControlName="expire_time" nzShowTime></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>入口</nz-form-label>
    <nz-form-control nzHasFeedback>
      <nz-form-control formArrayName="entry">
        <ng-container *ngFor="let x of entry?.controls; index as i; first as isFirst">
          <nz-input-group nzCompact [ngStyle]="{ 'margin-top': isFirst ? null : '-1px' }">
            <input style="width: 90%" type="text" nz-input [formControlName]="i" placeholder="请输入 IP 地址" />
            <button nz-button type="button" nzType="default" style="width: 10%" (click)="removeEntry(i)">
              <i nz-icon nzType="minus-circle"></i>
            </button>
          </nz-input-group>
        </ng-container>
        <button style="margin-top: 8px" nzBlock type="button" nz-button nzType="dashed" (click)="addEntry()">
          <i nz-icon nzType="plus-circle"></i> 新增地址
        </button>
      </nz-form-control>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired>状态</nz-form-label>
    <nz-form-control>
      <nz-switch formControlName="status"></nz-switch>
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button type="button" nzType="default" (click)="close()">取消</button>
  <button nz-button nzType="primary" form="form" [disabled]="!form.valid">提交</button>
</div>
