<nz-page-header [nzGhost]="false">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <ng-container *ngFor="let breadcrumb of breadcrumbs">
      <nz-breadcrumb-item>
        <ng-container *ngIf="paths.hasOwnProperty(breadcrumb) && dict.hasOwnProperty(paths[breadcrumb])">
          {{ dict[paths[breadcrumb]].name | object: bit.locale }}
        </ng-container>
      </nz-breadcrumb-item>
    </ng-container>
  </nz-breadcrumb>
  <nz-page-header-title>{{ title | object: bit.locale }}</nz-page-header-title>
  <nz-page-header-subtitle *ngIf="!!bit.ph.subTitle">{{ bit.ph!.subTitle }}</nz-page-header-subtitle>
</nz-page-header>
