<ng-container *ngTemplateOutlet="router.banner"></ng-container>
<nz-page-header [nzGhost]="false" [nzBackIcon]="!router.back ? null : ''" (nzBack)="bit.back()">
  <nz-breadcrumb [nzSeparator]="breadcrumbIcon" nz-page-header-breadcrumb>
    <ng-template #breadcrumbIcon>
      <i nz-icon nzType="right"></i>
    </ng-template>
    <nz-breadcrumb-item>
      <a routerLink="/">{{ bit.l["dashboard"] }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item *ngFor="let x of router.breadcrumb; index as i; last as islast">
      <ng-container *ngIf="islast; else notLast">
        {{ x.name | object: bit.locale }}
      </ng-container>
      <ng-template #notLast>
        <a *ngIf="x.router; else notRouterlink" [bitHistory]="x.key">
          {{ x.name | object: bit.locale }}
        </a>
        <ng-template #notRouterlink>{{ x.name | object: bit.locale }}</ng-template>
      </ng-template>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-title>{{ router.title | object: bit.locale }}</nz-page-header-title>
  <nz-page-header-subtitle>{{ router.subTitle }}</nz-page-header-subtitle>
  <nz-page-header-tags>
    <ng-container *ngTemplateOutlet="router.tags"></ng-container>
  </nz-page-header-tags>
  <nz-page-header-extra>
    <nz-space>
      <ng-container *ngFor="let action of router.actions">
        <ng-container *nzSpaceItem>
          <ng-container *ngTemplateOutlet="action"></ng-container>
        </ng-container>
      </ng-container>
    </nz-space>
  </nz-page-header-extra>
  <nz-page-header-content>
    <ng-container *ngTemplateOutlet="router.content"></ng-container>
  </nz-page-header-content>
  <nz-page-header-footer>
    <ng-container *ngTemplateOutlet="router.footer"></ng-container>
  </nz-page-header-footer>
</nz-page-header>
