:host ::ng-deep {
  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #1890ff;
    }
  }

  .logo {
    height: 64px;
    line-height: 64px;
    font-size: 16px;
    white-space: nowrap;
    color: #fff;
    padding-left: 22px;
    background: #002140;
    overflow: hidden;

    img {
      width: 32px;
      height: 32px;
    }

    nz-divider {
      opacity: 0.6;
      margin: 0 12px;
    }
  }
}

nz-layout {
  &.dashboard-layout {
    height: 100%;
  }
}

nz-content {
  .app-breadcrumb {
    background-color: #fff;
    padding: 16px 24px;
  }

  .app-warpper {
    padding: 15px 12px;
  }
}
