<nz-layout class="dashboard-layout">
  <nz-sider nzCollapsible [(nzCollapsed)]="collapsed">
    <div class="logo" [ngClass]="{hide:collapsed}">{{bit.l['main']}}</div>
    <ul nz-menu
        [nzTheme]="'dark'"
        [nzInlineCollapsed]="collapsed"
        [nzMode]="collapsed?'vertical':'inline'">
      <ng-template ngFor let-x [ngForOf]="nav_lists">
        <ng-template [ngIf]="x.routerlink">
          <li nz-menu-item
              [nzSelected]="actives.indexOf(x.id)!==-1"
              [routerLink]="['/{'+x.routerlink+'}']">
            <i nz-icon [type]="x.icon"></i>
            <span class="nav-text">{{x.name|JSONParse:bit.locale}}</span>
          </li>
        </ng-template>
        <ng-template [ngIf]="!x.routerlink">
          <li nz-submenu [nzOpen]="actives.indexOf(x.id)!==-1">
            <span title>
               <i nz-icon [type]="x.icon"></i>
              <span>{{x.name|JSONParse:bit.locale}}</span>
            </span>
            <ul>
              <ng-template ngFor let-y [ngForOf]="x.children">
                <ng-template [ngIf]="y.routerlink">
                  <li nz-menu-item
                      [nzSelected]="actives.indexOf(y.id)!==-1"
                      [routerLink]="['/{'+y.routerlink+'}']">
                    {{y.name|JSONParse:bit.locale}}
                  </li>
                </ng-template>
                <ng-template [ngIf]="!y.routerlink">
                  <li nz-submenu>
                    <span title>{{x.name|JSONParse:bit.locale}}</span>
                    <ul>
                      <ng-template ngFor let-z [ngForOf]="y.children">
                        <ng-template [ngIf]="z.routerlink">
                          <li nz-menu-item
                              [nzSelected]="actives.indexOf(z.id)!==-1"
                              [routerLink]="['/{'+z.routerlink+'}']">
                            {{z.name|JSONParse:bit.locale}}
                          </li>
                        </ng-template>
                      </ng-template>
                    </ul>
                  </li>
                </ng-template>
              </ng-template>
            </ul>
          </li>
        </ng-template>
      </ng-template>
    </ul>
  </nz-sider>
  <nz-layout>
    <ul nz-menu [nzMode]="'horizontal'" [nzSelectable]="false">
      <li nz-menu-item routerLink="/">
        <i nz-icon type="dashboard"></i> {{bit.l['dashboard']}}
      </li>
      <li nz-submenu>
        <span title>
          <i nz-icon type="flag"></i> {{bit.l['language']}}
        </span>
        <ul>
          <li [nzDisabled]="bit.locale==='zh_cn'" nz-menu-item (click)="bit.setLocale('zh_cn')">
            <a title>中文</a>
          </li>
          <li [nzDisabled]="bit.locale==='en_us'" nz-menu-item (click)="bit.setLocale('en_us')">
            <a title>English</a>
          </li>
        </ul>
      </li>
      <li nz-submenu style="float: right">
        <span title>
          <i nz-icon type="user"></i> {{bit.l['center']}}
        </span>
        <ul>
          <li nz-menu-item routerLink="/{profile}">
            <a title><i nz-icon type="solution"></i> {{bit.l['profile']}}</a>
          </li>
          <li nz-menu-item (click)="logout()">
            <a title><i nz-icon type="logout"></i> {{bit.l['exit']}}</a>
          </li>
        </ul>
      </li>
    </ul>
    <nz-content>
      <div class="bit-breadcrumb">
        <ng-template #breadcrumbIcon><i nz-icon type="right"></i></ng-template>
        <nz-breadcrumb [nzSeparator]="breadcrumbIcon">
          <nz-breadcrumb-item>
            <a routerLink="/">{{bit.l['dashboard']}}</a>
          </nz-breadcrumb-item>
          <ng-template ngFor let-x let-islast="last" [ngForOf]="breadcrumb">
            <nz-breadcrumb-item>
              <ng-template [ngIf]="islast">{{x.name|JSONParse:bit.locale}}</ng-template>
              <ng-template [ngIf]="!islast">
                <ng-template [ngIf]="x.routerlink">
                  <a (click)="breadLink(x.routerlink)">
                    {{x.name|JSONParse:bit.locale}}
                  </a>
                </ng-template>
                <ng-template [ngIf]="!x.routerlink">
                  {{x.name|JSONParse:bit.locale}}
                </ng-template>
              </ng-template>
            </nz-breadcrumb-item>
          </ng-template>
        </nz-breadcrumb>
        <h2 *ngIf="breadcrumb.length!==0">{{breadtitle|JSONParse:bit.locale}}</h2>
      </div>
      <div class="bit-warpper">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
