<form *ngIf="form" nz-form nzLayout="vertical" id="form" [formGroup]="form" (wpxSubmit)="submit($event)">
  <nz-form-item>
    <nz-form-label nzRequired>所属部门</nz-form-label>
    <nz-form-control nzHasFeedback>
      <nz-tree-select
        [nzNodes]="nodes"
        nzShowSearch
        formControlName="department"
        nzPlaceHolder="请选择所属部门"
      ></nz-tree-select>
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button type="button" nzType="default" (click)="close()">取消</button>
  <button nz-button nzType="primary" form="form" [disabled]="!form?.valid">提交</button>
</div>
