[submodule "projects/lab-skeleton"]
	path = projects/lab-skeleton
	url = git@github.com:kain-lab/lab-skeleton.git
[submodule "projects/ngx-howler"]
	path = projects/ngx-howler
	url = git@github.com:kainonly/ngx-howler.git
