<ng-template #searchRef>
  <nz-space>
    <nz-range-picker
      *nzSpaceItem
      [nzShowTime]="{ nzFormat: 'HH:mm' }"
      nzFormat="yyyy-MM-dd HH:mm"
      [nzDisabledDate]="disabledDate"
      [(ngModel)]="date"
      (ngModelChange)="getData(true)"
    ></nz-range-picker>
    <nz-button-group *nzSpaceItem>
      <button nz-button nzType="text" nz-tooltip="Refresh" (click)="getData(true)">
        <i nz-icon nzType="reload"></i>
      </button>
      <button nz-button nzType="text" nz-tooltip="Reset" (click)="clearSearch()">
        <i nz-icon nzType="clear"></i>
      </button>
    </nz-button-group>
  </nz-space>
</ng-template>

<ng-template #actions>
  <nz-space>
    <button *nzSpaceItem nz-button i18n> Export </button>
  </nz-space>
</ng-template>

<nz-card [nzTitle]="searchRef" [nzExtra]="actions">
  <nz-table
    #basicTable
    [nzFrontPagination]="false"
    [nzShowSizeChanger]="true"
    [nzHideOnSinglePage]="true"
    [nzLoading]="dataset.loading"
    [nzData]="dataset.values"
    [nzTotal]="dataset.total"
    [(nzPageSize)]="dataset.pagesize"
    [(nzPageIndex)]="dataset.page"
    (nzPageIndexChange)="getData(false)"
    (nzPageSizeChange)="getData(true)"
  >
    <thead>
      <tr>
        <th
          nzWidth="60px"
          nzLeft
          nzAlign="center"
          [nzChecked]="dataset.checked"
          [nzIndeterminate]="dataset.indeterminate"
          (nzCheckedChange)="dataset.setNChecked($event)"
        >
        </th>
        <th nzWidth="180px"><b i18n>Timestamp</b></th>
        <th nzWidth="320px"><b i18n>Operator</b></th>
        <th><b i18n>Resource</b></th>
        <th nzWidth="60px" nzRight nzAlign="center">
          <button nz-button nzType="text" nzBlock disabled>
            <i nz-icon nzType="setting"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of basicTable.data">
        <tr>
          <td
            nzLeft
            nzAlign="center"
            [nzDisabled]="data['disabled']"
            [nzChecked]="dataset.checkedIds.has(data['_id'])"
            (nzCheckedChange)="dataset.setChecked(data['_id'], $event)"
          >
          </td>
          <td>
            {{ data['timestamp'] | date: 'yyyy-MM-dd HH:mm:ss' }}
          </td>
          <td>
            <a *ngIf="userKV[data.metadata.user_id] as user; else isSystem" (click)="openUserDetail(user)">
              <span> {{ user.email }}</span>
              <nz-divider nzType="vertical"></nz-divider>
              <span>
                <ng-container *ngIf="user.name; else noName">
                  {{ user.name }}
                </ng-container>
              </span>
            </a>
            <ng-template #isSystem>
              <ng-container i18n>system</ng-container>
            </ng-template>
          </td>
          <td>
            <a (click)="openResourceDetail(data)">
              <span>{{ data._id }}</span>
              <nz-divider nzType="vertical"></nz-divider>
              <code>{{ data.metadata.method }} {{ data.metadata.path }}</code>
            </a>
          </td>
          <td nzRight nzAlign="center">
            <button nz-button nzType="text" nz-dropdown [nzDropdownMenu]="menu">
              <i nz-icon nzType="ellipsis"></i>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item i18n>Definition</li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #noName> None </ng-template>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="userDetailVisible"
  [nzWidth]="640"
  nzPlacement="right"
  nzTitle="User Detail"
  (nzOnClose)="closeUserDetail()"
>
  <ng-container *nzDrawerContent>
    <nz-descriptions *ngIf="userDetail as u" nzBordered [nzColumn]="2">
      <nz-descriptions-item nzTitle="Email">{{ u.email }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Call">
        <ng-container *ngIf="u.name; else noName">
          {{ u.name }}
        </ng-container>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="ID" [nzSpan]="2">{{ u._id }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Avatar" [nzSpan]="2">{{ u.avatar }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Status" [nzSpan]="2">
        <ng-container *ngIf="u.status; else isFalse"> <nz-badge nzStatus="processing"></nz-badge> On </ng-container>
        <ng-template #isFalse> <nz-badge nzStatus="default"></nz-badge> Off </ng-template>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Sessions" [nzSpan]="2">
        <span>
          Logged in <b> {{ u.sessions }} </b> times
        </span>
      </nz-descriptions-item>
      <nz-descriptions-item *ngIf="u.last as l" nzTitle="Time Online" [nzSpan]="2">
        {{ l.timestamp | date: 'yyyy/MM/dd HH:mm:ss' }}
      </nz-descriptions-item>
      <nz-descriptions-item *ngIf="u.last as l" nzTitle="IP" [nzSpan]="2">
        <b>[ {{ l.ip }} ]</b>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Area & ISP" [nzSpan]="2">
        <nz-space *ngIf="u.last as l" [nzSplit]="spaceSplit">
          <ng-template #spaceSplit>
            <nz-divider nzType="vertical"></nz-divider>
          </ng-template>
          <span *nzSpaceItem>{{ !l.country ? '-' : l.country }}</span>
          <span *nzSpaceItem>{{ !l.province ? '-' : l.province }}</span>
          <span *nzSpaceItem>{{ !l.city ? '-' : l.city }}</span>
          <span *nzSpaceItem>{{ !l.isp ? '-' : l.isp }}</span>
        </nz-space>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Create Time" [nzSpan]="2">
        {{ u.create_time | date: 'yyyy/MM/dd HH:mm:ss' }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Update Time" [nzSpan]="2">
        {{ u.update_time | date: 'yyyy/MM/dd HH:mm:ss' }}
      </nz-descriptions-item>
    </nz-descriptions>
  </ng-container>
</nz-drawer>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="resourceDetailVisible"
  [nzWidth]="640"
  nzPlacement="right"
  nzTitle="Resource Detail"
  (nzOnClose)="closeResourceDetail()"
>
  <ng-container *nzDrawerContent>
    <nz-descriptions *ngIf="resourceDetail as r" nzBordered [nzColumn]="2">
      <nz-descriptions-item nzTitle="ID" [nzSpan]="2">{{ r._id }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Url" [nzSpan]="2">
        <code>{{ r.metadata.method }} {{ r.metadata.path }}</code>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Host">{{ r.metadata.host }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Cost">{{ r.data.cost }}ms</nz-descriptions-item>
      <nz-descriptions-item nzTitle="IP">{{ r.metadata.ip }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Status">{{ r.data.status }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Query" [nzSpan]="2">
        <code>{{ r.data.query }}</code>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Body" [nzSpan]="2">
        <code>{{ r.data.body }}</code>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Agent" [nzSpan]="2">
        <code>{{ r.data.user_agent }}</code>
      </nz-descriptions-item>
    </nz-descriptions>
  </ng-container>
</nz-drawer>
