<nz-layout style="height: 100%; background: transparent">
  <nz-page-header>
    <nz-page-header-title>工作流详情</nz-page-header-title>
    <nz-page-header-subtitle>{{ doc.name }}</nz-page-header-subtitle>
    <nz-page-header-tags>
      <nz-tag>{{ doc.kind }}</nz-tag>
    </nz-page-header-tags>
    <nz-page-header-extra>
      <button nz-button nzType="primary" nzShape="circle">
        <span nz-icon nzType="sync" nzTheme="outline"></span>
      </button>
    </nz-page-header-extra>
  </nz-page-header>

  <nz-content style="overflow: hidden auto">
    <nz-card> </nz-card>
  </nz-content>
</nz-layout>
