<ng-template #searchRef>
  <nz-space>
    <nz-range-picker
      *nzSpaceItem
      [nzShowTime]="{ nzFormat: 'HH:mm' }"
      nzFormat="yyyy-MM-dd HH:mm"
      [nzDisabledDate]="disabledDate"
      [(ngModel)]="date"
      (ngModelChange)="getData(true)"
    ></nz-range-picker>
    <nz-button-group *nzSpaceItem>
      <button nz-button nzType="text" nz-tooltip="刷新" i18n-nz-tooltip (click)="getData(true)">
        <i nz-icon nzType="reload"></i>
      </button>
      <button nz-button nzType="text" nz-tooltip="重置" i18n-nz-tooltip (click)="clearSearch()">
        <i nz-icon nzType="clear"></i>
      </button>
    </nz-button-group>
  </nz-space>
</ng-template>

<ng-template #actions>
  <nz-space>
    <button *nzSpaceItem nz-button i18n disabled> 导出 </button>
  </nz-space>
</ng-template>

<nz-card [nzTitle]="searchRef" [nzExtra]="actions">
  <nz-table
    #basicTable
    [nzFrontPagination]="false"
    [nzShowSizeChanger]="true"
    [nzHideOnSinglePage]="true"
    [nzLoading]="dataset.loading"
    [nzData]="dataset.values"
    [nzTotal]="dataset.total"
    [(nzPageSize)]="dataset.pagesize"
    [(nzPageIndex)]="dataset.page"
    (nzPageIndexChange)="getData(false)"
    (nzPageSizeChange)="getData(true)"
  >
    <thead>
      <tr>
        <th style="padding: 8px 4px" nzLeft nzWidth="240px">
          <span style="margin: 0 3px" nz-icon nzType="field-time"></span>
          <b i18n> 时间戳</b>
        </th>
        <th><b i18n>用户</b></th>
        <th><b i18n>模式</b></th>
        <th><b i18n>地区 ISP</b></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of basicTable.data">
        <tr>
          <td
            style="padding: 8px 4px"
            nzLeft
            [nzExpand]="expands.has(data._id)"
            (nzExpandChange)="expandsChange(data._id, $event)"
          >
            {{ data['timestamp'] | date : 'yyyy-MM-dd HH:mm:ss' }}
          </td>
          <td>
            <a *ngIf="userKV[data.metadata.user_id] as user" (click)="openUserDetail(user)">
              <ng-container *ngIf="user.name; else showEmail">
                {{ user.name }}
              </ng-container>
              <ng-template #showEmail> {{ user.email }} </ng-template>
            </a>
          </td>
          <td>
            <ng-container [ngSwitch]="data.metadata.channel">
              <ng-container *ngSwitchCase="'email'" i18n>电子邮件</ng-container>
              <ng-container *ngSwitchCase="'feishu'" i18n>飞书</ng-container>
            </ng-container>
          </td>
          <td>
            <nz-space [nzSplit]="spaceSplit">
              <span *nzSpaceItem>{{ data.metadata.client_ip }}</span>
              <span *nzSpaceItem i18n>{{ !data.country ? '未知' : data.country }}</span>
              <span *nzSpaceItem i18n>{{ !data.province ? '未知' : data.province }}</span>
              <span *nzSpaceItem i18n>{{ !data.city ? '未知' : data.city }}</span>
              <span *nzSpaceItem i18n>{{ !data.isp ? '未知' : data.isp }}</span>
            </nz-space>
          </td>
        </tr>
        <tr [nzExpand]="expands.has(data._id)">
          <td style="padding: 8px 4px"> </td>
          <td colspan="4">
            <code>{{ data.user_agent }}</code>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</nz-card>

<nz-drawer
  [nzClosable]="false"
  [nzVisible]="userDetailVisible"
  [nzWidth]="640"
  nzPlacement="right"
  nzTitle="用户详情"
  i18n-nzTitle
  (nzOnClose)="closeUserDetail()"
>
  <ng-container *nzDrawerContent>
    <nz-descriptions *ngIf="userDetail as u" nzBordered [nzColumn]="2">
      <nz-descriptions-item nzTitle="ID" [nzSpan]="2">{{ u._id }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="电子邮件">{{ u.email }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="称呼">
        <ng-container *ngIf="u.name; else noName">
          {{ u.name }}
        </ng-container>
        <ng-template #noName> None </ng-template>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="头像" [nzSpan]="2">{{ u.avatar }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="状态" [nzSpan]="2">
        <ng-container *ngIf="u.status; else isFalse">
          <nz-badge nzStatus="processing"></nz-badge> <span i18n>开启</span>
        </ng-container>
        <ng-template #isFalse> <nz-badge nzStatus="default"></nz-badge> <span i18n>关闭</span> </ng-template>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="累计会话" [nzSpan]="2">
        <span i18n>
          已登录 <b> {{ u.sessions }} </b> 次
        </span>
      </nz-descriptions-item>
      <nz-descriptions-item *ngIf="u.history as history" nzTitle="最近登录时间" i18n-nzTitle [nzSpan]="2">
        {{ history.timestamp | date : 'yyyy/MM/dd HH:mm:ss' }}
      </nz-descriptions-item>
      <nz-descriptions-item *ngIf="u.history as history" nzTitle="IP" [nzSpan]="2">
        {{ history.client_ip }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="地区 ISP" i18n-nzTitle [nzSpan]="2">
        <nz-space *ngIf="u.history as history" [nzSplit]="spaceSplit">
          <span *nzSpaceItem i18n>{{ !history.country ? '未知' : history.country }}</span>
          <span *nzSpaceItem i18n>{{ !history.province ? '未知' : history.province }}</span>
          <span *nzSpaceItem i18n>{{ !history.city ? '未知' : history.city }}</span>
          <span *nzSpaceItem i18n>{{ !history.isp ? '未知' : history.isp }}</span>
        </nz-space>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="创建时间" i18n-nzTitle [nzSpan]="2">
        {{ u.create_time | date : 'yyyy/MM/dd HH:mm:ss' }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="更新时间" i18n-nzTitle [nzSpan]="2">
        {{ u.update_time | date : 'yyyy/MM/dd HH:mm:ss' }}
      </nz-descriptions-item>
    </nz-descriptions>
  </ng-container>
</nz-drawer>

<ng-template #spaceSplit>
  <nz-divider nzType="vertical"></nz-divider>
</ng-template>
