html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
}

.header {
  height: 56px;
  line-height: 56px;
  padding: 0 12px;
  z-index: 1000;
  background: #fafafa;
  border-bottom: 1px solid #f0f0f0;
}
