<nz-page-header style="margin: -8px -8px 0 -8px" [nzGhost]="false">
  <nz-page-header-title>集群上下文</nz-page-header-title>
  <nz-page-header-subtitle>
    <nz-select
      [ngModel]="clusters.context()"
      (ngModelChange)="open($event)"
      style="width: 200px"
      nzBorderless
      nzPlaceHolder="请选择集群名称"
    >
      <ng-container *ngFor="let item of items">
        <nz-option [nzValue]="item._id" [nzLabel]="item.name"></nz-option>
      </ng-container>
    </nz-select>
  </nz-page-header-subtitle>
  <nz-page-header-extra>
    <nz-space nzAlign="center">
      <button *nzSpaceItem nz-button nzType="primary" nzShape="circle" (click)="form()">
        <span nz-icon nzType="plus"></span>
      </button>
      <button *nzSpaceItem nz-button nzShape="circle" nz-dropdown [nzDropdownMenu]="actions">
        <span nz-icon nzType="more"></span>
      </button>
    </nz-space>
  </nz-page-header-extra>
  <nz-page-header-footer>
    <nz-tabset *ngIf="clusters.context() as id" nzLinkRouter>
      <nz-tab nzTitle="总览">
        <a *nzTabLink nz-tab-link [routerLink]="['/admin', 'clusters', 'kubernetes', id, 'overview']"> 总览 </a>
      </nz-tab>
    </nz-tabset>
  </nz-page-header-footer>
</nz-page-header>

<nz-dropdown-menu #actions="nzDropdownMenu">
  <ul *ngIf="itemDict[clusters.context()] as v" nz-menu>
    <li nz-menu-item (click)="form(v)"> 修改 </li>
    <li nz-menu-item nzDanger (click)="delete(v)"> 删除 </li>
  </ul>
</nz-dropdown-menu>

<nz-content style="padding-top: 8px">
  <router-outlet></router-outlet>
</nz-content>
