<ng-template #menuRef>
  <button nzSize="large" nz-button nzType="text" routerLink="/admin">
    <span nz-icon nzType="control" nzTheme="outline"></span> 管理后台
  </button>
  <button nzSize="large" nz-button nzType="text" routerLink="/filebrowser">
    <span nz-icon nzType="inbox" nzTheme="outline"></span> 资源中心
  </button>
  <button nzSize="large" nz-button nzType="text" routerLink="/audit">
    <span nz-icon nzType="audit" nzTheme="outline"></span> 审计日志
  </button>
  <br />
  <button *ngIf="experiment" nzSize="large" nz-button nzType="text" routerLink="/experiment">
    <span nz-icon nzType="experiment" nzTheme="outline"></span> 实验
  </button>
</ng-template>

<nz-row nzJustify="space-between" nzAlign="middle">
  <nz-col>
    <nz-space nzAlign="center" nzSize="large">
      <ng-container *nzSpaceItem>
        <button
          nz-button
          nzType="text"
          nz-popover
          [nzPopoverContent]="menuRef"
          nzPopoverPlacement="bottomLeft"
          nzPopoverTrigger="click"
        >
          <i nz-icon nzType="appstore" nzTheme="outline"></i>
        </button>
      </ng-container>
      <ng-container *ngIf="type" [ngSwitch]="type">
        <ng-container *ngSwitchDefault>
          <nz-breadcrumb *nzSpaceItem nzAutoGenerate> </nz-breadcrumb>
        </ng-container>
      </ng-container>
    </nz-space>
  </nz-col>
  <nz-col>
    <ng-content></ng-content>
  </nz-col>
  <nz-col>
    <div
      *ngIf="app.user() as u"
      class="center"
      nz-popover
      [nzPopoverContent]="centerRef"
      nzPopoverPlacement="bottomRight"
      nzPopoverTrigger="click"
    >
      <nz-badge nzDot>
        <ng-container *ngIf="u.avatar; else iconAvatarRef">
          <nz-avatar nzIcon="user" [nzSrc]="[u.avatar] | wpxAssets" [nzShape]="'square'"></nz-avatar>
        </ng-container>
        <ng-template #iconAvatarRef>
          <nz-avatar nzIcon="user" [nzShape]="'square'"></nz-avatar>
        </ng-template>
      </nz-badge>
    </div>
  </nz-col>
</nz-row>

<ng-template #centerRef>
  <nz-tabset style="width: 360px" [nzTabBarExtraContent]="actions">
    <ng-template #actions>
      <nz-space>
        <button *nzSpaceItem nz-button nzType="text" nz-tooltip="个人中心" (click)="profile()">
          <i nz-icon nzType="user"></i>
        </button>
        <button *nzSpaceItem nz-button nzType="text" nz-tooltip="退出" (click)="logout()">
          <i nz-icon nzType="logout"></i>
        </button>
      </nz-space>
    </ng-template>
    <nz-tab nzTitle="通知(0)">
      <nz-list nzItemLayout="horizontal">
        <nz-list-empty></nz-list-empty>
      </nz-list>
    </nz-tab>
    <nz-tab nzTitle="告警(0)">
      <nz-list nzItemLayout="horizontal">
        <nz-list-empty></nz-list-empty>
      </nz-list>
    </nz-tab>
  </nz-tabset>
</ng-template>
