<ng-template #titleRef>
  <nz-space nzAlign="center">
    <wpx-keyword
      *nzSpaceItem
      [wpxWidth]="320"
      [wpxModel]="model"
      [wpxKeys]="['topic']"
      (wpxSubmit)="getData()"
      wpxPlaceholder="主题命名"
    ></wpx-keyword>
    <wpx-toolbox *nzSpaceItem [wpxModel]="model" (wpxClear)="getData()" (wpxRefresh)="getData()"> </wpx-toolbox>
  </nz-space>
</ng-template>

<ng-template #extraRef>
  <nz-space nzAlign="center">
    <ng-container *ngIf="model.selection.size as size">
      <button *nzSpaceItem nz-button nzType="dashed" nz-dropdown [nzDropdownMenu]="menu"> 已选中 {{ size }} 项 </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="basicTable.clearSelections()"> 取消选择 </li>
        </ul>
        <ul nz-menu>
          <li nz-menu-item nzDanger (click)="bulkDelete()"> 删除 </li>
        </ul>
      </nz-dropdown-menu>
    </ng-container>
    <button *nzSpaceItem nz-button (click)="openEmqx()"> 服务接入 </button>
    <button *nzSpaceItem nz-button nzType="primary" (click)="openForm()"> 新增 </button>
  </nz-space>
</ng-template>

<wpx-table
  #basicTable
  [wpxTitle]="titleRef"
  [wpxExtra]="extraRef"
  [wpxModel]="model"
  [wpxColumns]="[
    {
      title: '主题命名',
      width: '420px',
      render: name
    },
    {
      title: '授权项目',
      render: projects
    }
  ]"
  [wpxItemSize]="50"
  [wpxOffset]="310"
  [wpxActions]="actions"
  (wpxChange)="getData()"
>
  <ng-template #name let-data>
    {{ data.topic }}
    <ng-container *ngIf="data.description">
      <span nz-icon nzType="question-circle" nzTheme="outline" [nz-tooltip]="data.description"></span>
    </ng-container>
  </ng-template>
  <ng-template #projects let-data>
    <a (click)="openControls(data)">已授权 {{ data.projects.length }} 个项目</a>
  </ng-template>
</wpx-table>

<nz-dropdown-menu #actions="nzDropdownMenu">
  <ul *ngIf="basicTable.actived as v" nz-menu>
    <li nz-menu-item nzDisabled>
      <b>{{ v.topic }}</b>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item (click)="openForm(v)"> 修改 </li>
    <li nz-menu-item nzDanger (click)="delete(v)"> 删除 </li>
  </ul>
</nz-dropdown-menu>
