<div class="toolbar">
  <div class="logo"></div>
  <ul nz-menu nzMode="vertical">
    <li nz-menu-item nz-tooltip="应用" nzTooltipPlacement="right">
      <span nz-icon nzType="appstore"></span>
    </li>
    <li nz-menu-item nz-tooltip="统计" nzTooltipPlacement="right">
      <span nz-icon nzType="pie-chart"></span>
    </li>
    <li nz-menu-item nz-tooltip="媒体" nzTooltipPlacement="right">
      <span nz-icon nzType="inbox"></span>
    </li>
    <li nz-menu-item nz-tooltip="权限组" nzTooltipPlacement="right">
      <span nz-icon nzType="partition"></span>
    </li>
    <li nz-menu-item nz-tooltip="团队成员" nzTooltipPlacement="right">
      <span nz-icon nzType="team"></span>
    </li>
    <li nz-menu-item nz-tooltip="会话" nzTooltipPlacement="right">
      <span nz-icon nzType="rocket"></span>
    </li>
    <li nz-menu-item nz-tooltip="审计" nzTooltipPlacement="right">
      <span nz-icon nzType="file-protect"></span>
    </li>
  </ul>
  <button class="setting" nz-button nzType="text" nzBlock nz-tooltip="设置">
    <span nz-icon nzType="setting"></span>
  </button>
</div>
