<ng-template #titleRef>
  <nz-space nzAlign="center">
    <wpx-keyword
      *nzSpaceItem
      [wpxWidth]="320"
      [wpxModel]="model"
      [wpxKeys]="['target']"
      (wpxSubmit)="getData()"
      wpxPlaceholder="目标资源"
    ></wpx-keyword>
    <wpx-toolbox *nzSpaceItem [wpxModel]="model" (wpxClear)="getData()" (wpxRefresh)="getData()"> </wpx-toolbox>
  </nz-space>
</ng-template>

<ng-template #extraRef>
  <nz-space nzAlign="center">
    <ng-container *ngIf="model.selection.size as size">
      <button *nzSpaceItem nz-button nzType="dashed" nz-dropdown [nzDropdownMenu]="menu"> 已选中 {{ size }} 项 </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="wpxTable.clearSelections()"> 取消选择 </li>
        </ul>
        <ul nz-menu>
          <li nz-menu-item nzDanger (click)="bulkDelete()"> 删除 </li>
        </ul>
      </nz-dropdown-menu>
    </ng-container>
    <button
      *nzSpaceItem
      nz-button
      nz-popconfirm
      nzPopconfirmTitle="您确定要开始同步吗?"
      (nzOnConfirm)="sync()"
      [nzLoading]="syncing"
    >
      同步
    </button>
    <button *nzSpaceItem nz-button (click)="openSetting()"> 设置 </button>
    <button *nzSpaceItem nz-button nzType="primary" (click)="openForm()"> 新增 </button>
  </nz-space>
</ng-template>

<wpx-table
  #wpxTable
  [wpxTitle]="titleRef"
  [wpxExtra]="extraRef"
  [wpxModel]="model"
  [wpxColumns]="[
    {
      title: '目标资源',
      key: 'target',
      render: target
    },
    {
      title: '源地址',
      key: 'source'
    }
  ]"
  [wpxAction]="action"
  (wpxChange)="getData()"
>
  <ng-template #target let-data>
    <nz-tag nzColor="blue" [ngSwitch]="data.kind">
      <ng-container *ngSwitchCase="'static'"> 静态资源 </ng-container>
    </nz-tag>
    {{ data.target }}
  </ng-template>
</wpx-table>

<ng-template #action let-data>
  <button nz-button nzType="text" nz-dropdown [nzDropdownMenu]="menu">
    <span nz-icon nzType="ellipsis" nzTheme="outline"></span>
  </button>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item (click)="openForm(data)"> 修改 </li>
      <li nz-menu-item nzDanger (click)="delete(data)"> 删除 </li>
    </ul>
  </nz-dropdown-menu>
</ng-template>
