<nz-header>
  <nz-row nzJustify="space-between">
    <nz-col>
      <div class="logo">
        <a href="#">
          <img src="/assets/logo.svg" alt="ng-zorro-antd" />
          <h1>WEPLANX</h1>
        </a>
      </div>
    </nz-col>
    <nz-col> </nz-col>
    <nz-col>
      <nz-space>
        <div *nzSpaceItem class="center" nz-popover [nzPopoverContent]="center" nzPopoverPlacement="bottomRight">
          <nz-badge nzDot>
            <nz-avatar nzShape="square" [nzSize]="24" nzSrc="/assets/user.png"> </nz-avatar>
          </nz-badge>
          <span class="name">KAIN</span>
          <ng-template #center>
            <nz-tabset style="width: 360px" [nzTabBarExtraContent]="actions">
              <ng-template #actions>
                <nz-space>
                  <button *nzSpaceItem [routerLink]="['center']" nz-button nzType="text" nz-tooltip="个人中心">
                    <i nz-icon nzType="user"></i>
                  </button>
                  <button *nzSpaceItem nz-button nzType="text" nz-tooltip="退出" (click)="logout()">
                    <i nz-icon nzType="logout"></i>
                  </button>
                </nz-space>
              </ng-template>
              <nz-tab nzTitle="通知(4)">
                <nz-list nzItemLayout="horizontal">
                  <nz-list-item>
                    <nz-list-item-meta>
                      <nz-list-item-meta-title>你收到了14份周报</nz-list-item-meta-title>
                      <nz-list-item-meta-description>1 天前</nz-list-item-meta-description>
                    </nz-list-item-meta>
                  </nz-list-item>
                  <nz-list-item>
                    <nz-list-item-meta>
                      <nz-list-item-meta-title>合同协议已更新</nz-list-item-meta-title>
                      <nz-list-item-meta-description>5 天前</nz-list-item-meta-description>
                    </nz-list-item-meta>
                  </nz-list-item>
                  <nz-list-item>
                    <nz-list-item-meta>
                      <nz-list-item-meta-title>工作内容</nz-list-item-meta-title>
                      <nz-list-item-meta-description>2 周前</nz-list-item-meta-description>
                    </nz-list-item-meta>
                  </nz-list-item>
                </nz-list>
                <button nz-button nzType="text" nzBlock>查看更多</button>
              </nz-tab>
              <nz-tab nzTitle="消息(3)">
                <nz-list nzItemLayout="horizontal">
                  <nz-list-item>
                    <nz-list-item-meta>
                      <nz-list-item-meta-title>你收到了14份周报</nz-list-item-meta-title>
                      <nz-list-item-meta-description>1 天前</nz-list-item-meta-description>
                    </nz-list-item-meta>
                  </nz-list-item>
                  <nz-list-item>
                    <nz-list-item-meta>
                      <nz-list-item-meta-title>合同协议已更新</nz-list-item-meta-title>
                      <nz-list-item-meta-description>5 天前</nz-list-item-meta-description>
                    </nz-list-item-meta>
                  </nz-list-item>
                  <nz-list-item>
                    <nz-list-item-meta>
                      <nz-list-item-meta-title>工作内容</nz-list-item-meta-title>
                      <nz-list-item-meta-description>2 周前</nz-list-item-meta-description>
                    </nz-list-item-meta>
                  </nz-list-item>
                </nz-list>
                <button nz-button nzType="text" nzBlock nzSize="large">查看更多</button>
              </nz-tab>
              <nz-tab nzTitle="待办(4)">
                <nz-list nzItemLayout="horizontal">
                  <nz-list-item>
                    <nz-list-item-meta>
                      <nz-list-item-meta-title>你收到了14份周报</nz-list-item-meta-title>
                      <nz-list-item-meta-description>1 天前</nz-list-item-meta-description>
                    </nz-list-item-meta>
                  </nz-list-item>
                  <nz-list-item>
                    <nz-list-item-meta>
                      <nz-list-item-meta-title>合同协议已更新</nz-list-item-meta-title>
                      <nz-list-item-meta-description>5 天前</nz-list-item-meta-description>
                    </nz-list-item-meta>
                  </nz-list-item>
                  <nz-list-item>
                    <nz-list-item-meta>
                      <nz-list-item-meta-title>工作内容</nz-list-item-meta-title>
                      <nz-list-item-meta-description>2 周前</nz-list-item-meta-description>
                    </nz-list-item-meta>
                  </nz-list-item>
                </nz-list>
                <button nz-button nzType="text" nzBlock>查看更多</button>
              </nz-tab>
            </nz-tabset>
          </ng-template>
        </div>
      </nz-space>
    </nz-col>
  </nz-row>
</nz-header>
