<nz-sider nzBreakpoint="lg" nzCollapsible [(nzCollapsed)]="collapsed" (nzCollapsedChange)="change($event)">
  <div class="sider-logo" [ngClass]="{ collapsed: collapsed }">
    <a href="#">
      <img src="/assets/logo.svg" alt="ng-zorro-antd" />
      <h1>Angular Bit</h1>
    </a>
  </div>
  <div class="sider-scroll-bar">
    <ul
      nz-menu
      nzTheme="dark"
      [nzInlineIndent]="16"
      [nzInlineCollapsed]="collapsed"
      [nzMode]="collapsed ? 'vertical' : 'inline'"
    >
      <ng-container *ngTemplateOutlet="navTemplate; context: { $implicit: data }"></ng-container>
      <ng-template #navTemplate let-navs>
        <ng-container *ngFor="let nav of navs">
          <ng-container *ngIf="nav.router; else notRouter">
            <li
              nz-menu-item
              [nzPaddingLeft]="level(nav)"
              [bitOpen]="[nav.key]"
              [nzSelected]="router.navActive.includes(nav.key)"
            >
              <i nz-icon [nzType]="nav.icon"></i>
              <span class="nav-text">{{ nav.name | object: bit.locale }}</span>
            </li>
          </ng-container>
          <ng-template #notRouter>
            <li nz-submenu [nzOpen]="router.navActive.includes(nav.key)" [nzPaddingLeft]="level(nav)">
              <span title>
                <i nz-icon [nzType]="nav.icon"></i>
                <span>{{ nav.name | object: bit.locale }}</span>
              </span>
              <ul>
                <ng-container *ngTemplateOutlet="navTemplate; context: { $implicit: nav.children }"></ng-container>
              </ul>
            </li>
          </ng-template>
        </ng-container>
      </ng-template>
    </ul>
  </div>
</nz-sider>
