<ng-template #titleRef>
  <nz-space nzAlign="center">
    <wpx-keyword
      *nzSpaceItem
      [wpxWidth]="320"
      [wpxModel]="model"
      [wpxKeys]="['name']"
      (wpxSubmit)="getData()"
      wpxPlaceholder="集群名称"
    ></wpx-keyword>
    <wpx-toolbox *nzSpaceItem [wpxModel]="model" (wpxClear)="getData()" (wpxRefresh)="getData()"> </wpx-toolbox>
  </nz-space>
</ng-template>

<ng-template #extraRef>
  <button nz-button nzType="primary" (click)="form()"> 新增 </button>
</ng-template>

<wpx-list
  #wpxList
  [wpxModel]="model"
  [wpxTitle]="titleRef"
  [wpxExtra]="extraRef"
  [wpxRender]="render"
  [wpxActions]="actions"
  (wpxChange)="getData()"
>
  <ng-template #render let-item>
    <nz-card nzSize="small" nzType="inner" [nzLoading]="!infos[item._id]">
      <ng-template #titleRef>
        {{ item.name }}
        <nz-tag nzColor="blue">
          {{ item.kind }}
        </nz-tag>
      </ng-template>
      <nz-descriptions
        *ngIf="infos[item._id] as v"
        nzLayout="vertical"
        nzSize="small"
        [nzTitle]="titleRef"
        [nzColumn]="4"
      >
        <nz-descriptions-item nzTitle="Cpu / 内存 / 存储">
          {{ v.cpu }} / {{ v.mem | nzBytes }} / {{ v.storage | nzBytes }}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="版本"> {{ v.version }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="平台"> {{ v.platform }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="节点"> {{ v.nodes }} </nz-descriptions-item>
      </nz-descriptions>
    </nz-card>
  </ng-template>
</wpx-list>

<nz-dropdown-menu #actions="nzDropdownMenu">
  <ul *ngIf="wpxList.actived as v" nz-menu>
    <li nz-menu-item nzDisabled>
      <b>{{ v.name }}</b>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item (click)="open(v._id)"> 管理 </li>
    <li nz-menu-item (click)="form(v)"> 修改 </li>
    <li nz-menu-item nzDanger (click)="delete(v)"> 删除 </li>
  </ul>
</nz-dropdown-menu>
