<ng-template #titleRef>
  <nz-space nzAlign="center">
    <wpx-keyword
      *nzSpaceItem
      [wpxWidth]="320"
      [wpxModel]="model"
      [wpxKeys]="['name']"
      (wpxSubmit)="getData()"
      wpxPlaceholder="集群名称"
    ></wpx-keyword>
    <wpx-toolbox *nzSpaceItem [wpxModel]="model" (wpxClear)="getData()" (wpxRefresh)="getData()"> </wpx-toolbox>
  </nz-space>
</ng-template>

<ng-template #extraRef>
  <nz-space nzAlign="center">
    <ng-container *ngIf="model.selection.size as size">
      <button *nzSpaceItem nz-button nzType="dashed" nz-dropdown [nzDropdownMenu]="menu"> 已选中 {{ size }} 项 </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="basicTable.clearSelections()"> 取消选择 </li>
        </ul>
        <ul nz-menu>
          <li nz-menu-item nzDanger (click)="bulkDelete()"> 删除 </li>
        </ul>
      </nz-dropdown-menu>
    </ng-container>
    <button *nzSpaceItem nz-button nzType="primary" (click)="openForm()"> 新增 </button>
  </nz-space>
</ng-template>

<wpx-table
  #basicTable
  [wpxTitle]="titleRef"
  [wpxExtra]="extraRef"
  [wpxModel]="model"
  [wpxColumns]="[
    {
      title: '集群名称（节点）',
      key: 'name',
      width: '360px',
      render: name
    },
    {
      title: 'Cpu / 内存 / 存储 / 版本',
      key: 'detail',
      render: detail
    }
  ]"
  [wpxItemSize]="50"
  [wpxOffset]="310"
  [wpxActions]="actions"
  (wpxChange)="getData()"
>
  <ng-template #name let-data>
    <nz-tag nzColor="blue">
      {{ data.kind }}
    </nz-tag>
    {{ data.name }}
    <ng-container *ngIf="infos[data._id] as v"> ({{ v.nodes }}) </ng-container>
  </ng-template>
  <ng-template #detail let-data>
    <ng-container *ngIf="infos[data._id] as v">
      {{ v.cpu }} / {{ v.mem | nzBytes }} / {{ v.storage | nzBytes }} / {{ v.version }}
    </ng-container>
  </ng-template>
</wpx-table>

<nz-dropdown-menu #actions="nzDropdownMenu">
  <ul *ngIf="basicTable.actived as v" nz-menu>
    <li nz-menu-item nzDisabled>
      <b>{{ v.name }}</b>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item (click)="openControls(v)"> 管理 </li>
    <li nz-menu-item (click)="openForm(v)"> 修改 </li>
    <li nz-menu-item nzDanger (click)="delete(v)"> 删除 </li>
  </ul>
</nz-dropdown-menu>
