<ng-template #titleRef>
  <b>集群上下文 </b> <nz-tag>{{ data?.name }}</nz-tag>
</ng-template>

<nz-card [nzTitle]="titleRef">
  <nz-card-tab>
    <nz-tabset nzLinkRouter>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['/admin', 'clusters', context, 'nodes']"> 节点 </a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['/admin', 'clusters', context, 'ingresses']"> 入口 </a>
      </nz-tab>
    </nz-tabset>
  </nz-card-tab>

  <router-outlet></router-outlet>
</nz-card>
