<form nz-form nzLayout="vertical" id="form" [formGroup]="form" (wpxSubmit)="submit($event)">
  <nz-form-item>
    <nz-form-label nzRequired>Emqx Host</nz-form-label>
    <nz-form-control nzHasFeedback [nzAutoTips]="tips.EmqxHost">
      <input nz-input formControlName="EmqxHost" placeholder="请输入 Host" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>Emqx ApiKey</nz-form-label>
    <nz-form-control nzHasFeedback [nzAutoTips]="tips.EmqxApiKey">
      <input nz-input formControlName="EmqxApiKey" placeholder="请输入 ApiKey" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>Emqx SecretKey</nz-form-label>
    <nz-form-control nzHasFeedback [nzAutoTips]="tips.EmqxSecretKey">
      <input
        nz-input
        type="password"
        autocomplete="new-password"
        formControlName="EmqxSecretKey"
        placeholder="请输入 SecretKey"
      />
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button type="button" nzType="default" (click)="close()">取消</button>
  <button nz-button nzType="primary" form="form" [disabled]="!form.valid">提交</button>
</div>
