<nz-layout style="height: 100%; background: transparent">
  <nz-page-header>
    <nz-page-header-title>授权项目详情</nz-page-header-title>
    <nz-page-header-subtitle>{{ doc.topic }}</nz-page-header-subtitle>
    <nz-page-header-extra>
      <nz-space nzAlign="center">
        <button
          *nzSpaceItem
          nz-button
          nzType="primary"
          nzShape="circle"
          nz-tooltip="同步"
          nz-popconfirm
          nzPopconfirmTitle="您确定要同步监控吗?"
          (nzOnConfirm)="sync()"
        >
          <span nz-icon nzType="sync" nzTheme="outline"></span>
        </button>
      </nz-space>
    </nz-page-header-extra>
    <nz-page-header-footer>
      <nz-segmented [nzOptions]="options" [(ngModel)]="index"></nz-segmented>
    </nz-page-header-footer>
  </nz-page-header>

  <nz-content style="overflow: hidden auto">
    <nz-card>
      <nz-table nzTemplateMode>
        <thead>
          <tr>
            <th nzLeft nzWidth="60px">
              <button nz-button nzType="text" nz-tooltip="发布消息" i18n-nz-tooltip disabled>
                <span nz-icon nzType="notification" nzTheme="outline"></span>
              </button>
            </th>
            <th nzWidth="240px"><b>项目名称</b></th>
            <th><b>授权主题</b></th>
            <th nzRight nzWidth="150px"><b>消息流入</b></th>
            <th nzRight nzWidth="150px"><b>消息流出</b></th>
            <th *ngIf="index === 0" nzRight nzWidth="150px"><b>消息废弃</b></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let id of doc.projects">
            <td nzLeft>
              <button nz-button nzType="text" (click)="openPublish(id)">
                <span nz-icon nzType="send" nzTheme="outline"></span>
              </button>
            </td>
            <td>
              <ng-container *ngIf="projectDict[id] as project">
                {{ project.name }}
              </ng-container>
            </td>
            <td>
              <a>{{ doc.topic }}/{{ id }}</a>
            </td>
            <ng-container [ngSwitch]="index">
              <ng-container *ngSwitchCase="0">
                <td>
                  <ng-container *ngIf="metricsDict[doc.topic + '/' + id] as metric; else loadText">
                    {{ metric['messages.in.count'] | nzSafeNull }}
                    <nz-divider nzType="vertical"></nz-divider>
                    {{ metric['messages.in.rate'] | nzSafeNull | number: '1.4-4' }}/s
                  </ng-container>
                </td>
                <td>
                  <ng-container *ngIf="metricsDict[doc.topic + '/' + id] as metric; else loadText">
                    {{ metric['messages.out.count'] | nzSafeNull }}
                    <nz-divider nzType="vertical"></nz-divider>
                    {{ metric['messages.out.rate'] | nzSafeNull | number: '1.4-4' }}/s
                  </ng-container>
                </td>
              </ng-container>
              <ng-container *ngSwitchCase="1">
                <td>
                  <ng-container *ngIf="metricsDict[doc.topic + '/' + id] as metric; else loadText">
                    {{ metric['messages.qos0.in.count'] | nzSafeNull }}
                    <nz-divider nzType="vertical"></nz-divider>
                    {{ metric['messages.qos0.in.rate'] | nzSafeNull | number: '1.4-4' }}/s
                  </ng-container>
                </td>
                <td>
                  <ng-container *ngIf="metricsDict[doc.topic + '/' + id] as metric; else loadText">
                    {{ metric['messages.qos0.out.count'] | nzSafeNull }}
                    <nz-divider nzType="vertical"></nz-divider>
                    {{ metric['messages.qos0.out.rate'] | nzSafeNull | number: '1.4-4' }}/s
                  </ng-container>
                </td>
              </ng-container>
              <ng-container *ngSwitchCase="2">
                <td>
                  <ng-container *ngIf="metricsDict[doc.topic + '/' + id] as metric; else loadText">
                    {{ metric['messages.qos1.in.count'] | nzSafeNull }}
                    <nz-divider nzType="vertical"></nz-divider>
                    {{ metric['messages.qos1.in.rate'] | nzSafeNull | number: '1.4-4' }}/s
                  </ng-container>
                </td>
                <td>
                  <ng-container *ngIf="metricsDict[doc.topic + '/' + id] as metric; else loadText">
                    {{ metric['messages.qos1.out.count'] | nzSafeNull }}
                    <nz-divider nzType="vertical"></nz-divider>
                    {{ metric['messages.qos1.out.rate'] | nzSafeNull | number: '1.4-4' }}/s
                  </ng-container>
                </td>
              </ng-container>
              <ng-container *ngSwitchCase="3">
                <td>
                  <ng-container *ngIf="metricsDict[doc.topic + '/' + id] as metric; else loadText">
                    {{ metric['messages.qos2.in.count'] | nzSafeNull }}
                    <nz-divider nzType="vertical"></nz-divider>
                    {{ metric['messages.qos2.in.rate'] | nzSafeNull | number: '1.4-4' }}/s
                  </ng-container>
                </td>
                <td>
                  <ng-container *ngIf="metricsDict[doc.topic + '/' + id] as metric; else loadText">
                    {{ metric['messages.qos2.out.count'] | nzSafeNull }}
                    <nz-divider nzType="vertical"></nz-divider>
                    {{ metric['messages.qos2.out.rate'] | nzSafeNull | number: '1.4-4' }}/s
                  </ng-container>
                </td>
              </ng-container>
            </ng-container>

            <td *ngIf="index === 0">
              <ng-container *ngIf="metricsDict[doc.topic + '/' + id] as metric; else loadText">
                {{ metric['messages.dropped.count'] | nzSafeNull }}
                <nz-divider nzType="vertical"></nz-divider>
                {{ metric['messages.dropped.rate'] | nzSafeNull | number: '1.4-4' }}/s
              </ng-container>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </nz-content>
</nz-layout>

<ng-template #loadText>
  -
  <nz-divider nzType="vertical"></nz-divider>
  -/s
</ng-template>
