.avatar {
  padding: 16px 16px 32px;
}

.project {
  height: 160px;
}

.project-title {
  padding-bottom: 12px;

  span {
    margin-left: 12px;
    font-weight: bold;
  }
}

.project-footer {
  span {
    float: right;
  }
}

.group-name {
  margin-left: 8px;
}
