<nz-row [nzGutter]="8">
  <nz-col [nzSpan]="18">
    <nz-row [nzGutter]="[8, 8]">
      <nz-col [nzSpan]="24">
        <nz-card>
          <nz-card-tab>
            <nz-tabset nzSize="large" [(nzSelectedIndex)]="message">
              <nz-tab nzTitle="通知"></nz-tab>
              <nz-tab nzTitle="待办"></nz-tab>
            </nz-tabset>
          </nz-card-tab>
          <ng-container [ngSwitch]="message">
            <ng-container *ngSwitchCase="0">
              <nz-list nzSize="large">
                <nz-list-item *ngFor="let item of notification">
                  <nz-list-item-meta [nzAvatar]="[item.avatar] | wpxAssets">
                    <nz-list-item-meta-title>
                      <b>{{ item.name }}</b>
                      &nbsp;
                      <span [innerHTML]="item.content | nzSanitizer: 'html'"></span>
                    </nz-list-item-meta-title>
                    <nz-list-item-meta-description> 几秒前 </nz-list-item-meta-description>
                  </nz-list-item-meta>
                </nz-list-item>
                <nz-list-empty *ngIf="notification.length === 0"></nz-list-empty>
              </nz-list>
            </ng-container>
            <ng-container *ngSwitchCase="1">
              <nz-list nzSize="large">
                <nz-list-item *ngFor="let item of upcoming"> </nz-list-item>
                <nz-list-empty *ngIf="upcoming.length === 0"></nz-list-empty>
              </nz-list>
            </ng-container>
          </ng-container>
        </nz-card>
      </nz-col>
      <nz-col [nzSpan]="24">
        <nz-card nzTitle="进行中的项目" [nzExtra]="more">
          <ng-template #more><a nz-button nzType="link">全部项目</a> </ng-template>
          <div class="project" *ngFor="let item of projects" nz-card-grid>
            <div class="project-title">
              <nz-avatar [nzSize]="24" [nzSrc]="[item.avatar] | wpxAssets"></nz-avatar>
              <span>{{ item.title }}</span>
            </div>
            <p nz-typography>{{ item.description }}</p>
            <div class="project-footer">
              {{ item.group }} <span>{{ item.time }}</span>
            </div>
          </div>
        </nz-card>
      </nz-col>
    </nz-row>
  </nz-col>
  <nz-col [nzSpan]="6">
    <nz-card *ngIf="app.user as user">
      <div class="avatar">
        <ng-container *ngIf="!!user.avatar; else defaultAvatar">
          <nz-avatar [nzSize]="128" [nzSrc]="[user.avatar] | wpxAssets"></nz-avatar>
        </ng-container>
        <ng-template #defaultAvatar>
          <nz-avatar [nzSize]="128" nzIcon="user"></nz-avatar>
        </ng-template>
      </div>
      <ng-template #nameTpl>
        {{ !user.name ? '无称呼' : user.name }}
        <button nz-button nzType="text" (click)="openProfile()">
          <span nz-icon nzType="edit"></span>
        </button>
      </ng-template>
      <nz-descriptions [nzColumn]="1" [nzTitle]="nameTpl">
        <nz-descriptions-item nzTitle="用户名">
          <b>{{ user.username }}</b>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="部门">
          <b>{{ !user.department ? '无' : user.department }}</b>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="权限组">
          <ng-container *ngIf="user.roles.length === 0; else rolesTpl"><b>尚未授权</b></ng-container>
          <ng-template #rolesTpl>
            <ng-container *ngFor="let role of user.roles">
              <b>{{ role }}</b>
            </ng-container>
          </ng-template>
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="电子邮件">
          <b>{{ !user.email ? '无' : user.email }}</b>
        </nz-descriptions-item>
      </nz-descriptions>

      <nz-divider nzPlain></nz-divider>

      <nz-space nzSize="small" nzDirection="vertical">
        <span *nzSpaceItem>
          <i>
            创建时间 <b>{{ user.create_time | date: 'yyyy 年 MM 月 dd 日' }}</b>
          </i>
        </span>
        <span *nzSpaceItem>
          <i>
            最近登录 <b>{{ user.last_time | date: 'yyyy 年 MM 月 dd 日 HH:mm:ss' }}</b>
          </i>
        </span>
        <span *nzSpaceItem>
          <i>
            已累计登录 <b>{{ user.sessions }}</b> 次会话 ，<a>查看</a>
          </i>
        </span>
      </nz-space>
    </nz-card>
  </nz-col>
</nz-row>
