<nz-card>
  <nz-descriptions nzTitle="退款申请">
    <nz-descriptions-item nzTitle="取货单号">1000000000</nz-descriptions-item>
    <nz-descriptions-item nzTitle="状态">已取货</nz-descriptions-item>
    <nz-descriptions-item nzTitle="销售单号">1234123421</nz-descriptions-item>
    <nz-descriptions-item nzTitle="子订单">3214321432</nz-descriptions-item>
  </nz-descriptions>
  <nz-divider></nz-divider>
  <nz-descriptions nzTitle="用户信息">
    <nz-descriptions-item nzTitle="用户姓名">付小小</nz-descriptions-item>
    <nz-descriptions-item nzTitle="联系电话">18100000000</nz-descriptions-item>
    <nz-descriptions-item nzTitle="常用快递">菜鸟仓储</nz-descriptions-item>
    <nz-descriptions-item nzTitle="取货地址">浙江省杭州市西湖区万塘路18号</nz-descriptions-item>
    <nz-descriptions-item nzTitle="备注">无</nz-descriptions-item>
  </nz-descriptions>
  <nz-divider></nz-divider>
  <nz-table #productTable [nzData]="products" nzTitle="退货商品" [nzFrontPagination]="false">
    <thead>
      <tr>
        <th>商品编号</th>
        <th>商品名称</th>
        <th>商品条码</th>
        <th nzWidth="150px">单价</th>
        <th nzWidth="200px">数量（件）</th>
        <th nzWidth="150px">金额</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productTable.data">
        <td>{{ item.serial }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.code }}</td>
        <td>{{ item.price | currency: '￥' }}</td>
        <td>{{ item.number }}</td>
        <td>{{ item.amount | currency: '￥' }}</td>
      </tr>
      <tr>
        <td colspan="4"><b>总计</b></td>
        <td>{{ projectsTotal }}</td>
        <td>{{ projectsAmount | currency: '￥' }}</td>
      </tr>
    </tbody>
  </nz-table>
  <nz-table #loadTable [nzData]="loads" nzTitle="退货进度" [nzFrontPagination]="false">
    <thead>
      <tr>
        <th>时间</th>
        <th>当前进度</th>
        <th>状态</th>
        <th>操作员ID</th>
        <th>耗时</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of loadTable.data">
        <td>{{ item.date }}</td>
        <td>{{ item.comment }}</td>
        <td>
          <ng-container [ngSwitch]="item.status">
            <ng-container *ngSwitchCase="1">
              <nz-badge nzStatus="processing" nzText="进行中"></nz-badge>
            </ng-container>
            <ng-container *ngSwitchCase="2">
              <nz-badge nzStatus="success" nzText="成功"></nz-badge>
            </ng-container>
          </ng-container>
        </td>
        <td>
          <ng-container [ngSwitch]="item.user.type">
            <ng-container *ngSwitchCase="'staff'">取货员</ng-container>
            <ng-container *ngSwitchCase="'admin'">系统</ng-container>
            <ng-container *ngSwitchCase="'member'">用户</ng-container>
          </ng-container>
          <code> ID {{ item.user.id }}</code>
        </td>
        <td>{{ item.time }}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
