<nz-layout class="common-layout">
  <nz-sider style="height: 100%" nzWidth="180px" nzTheme="light">
    <ul nz-menu nzMode="inline" style="border: none">
      <li nz-menu-group nzTitle="Integrated" i18n-nzTitle>
        <ul>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', 'admin', 'settings', 'integrated', 'cloud']">
            <span nz-icon nzType="cloud"></span>
            <span i18n>Public Cloud</span>
          </li>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', 'admin', 'settings', 'integrated', 'collaboration']">
            <span nz-icon nzType="dingtalk"></span>
            <span i18n>Collaboration</span>
          </li>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', 'admin', 'settings', 'integrated', 'extend']">
            <span nz-icon nzType="appstore-add"></span>
            <span i18n>Extend Services</span>
          </li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="System" i18n-nzTitle>
        <ul>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', 'admin', 'settings', 'system', 'security']">
            <span nz-icon nzType="safety"></span>
            <span i18n>Security</span>
          </li>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', 'admin', 'settings', 'system', 'sessions']">
            <span nz-icon nzType="rocket"></span>
            <span i18n>Sessions</span>
          </li>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', 'admin', 'settings', 'system', 'values']">
            <span nz-icon nzType="control"></span>
            <span i18n>Values</span>
          </li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="Aduit" i18n-nzTitle>
        <ul>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', 'admin', 'settings', 'audit', 'login_logs']">
            <span nz-icon nzType="audit"></span>
            <span i18n>Login Logs</span>
          </li>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', 'admin', 'settings', 'audit', 'access_logs']">
            <span nz-icon nzType="history"></span>
            <span i18n>Access Logs</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout class="inner-layout">
    <nz-content class="content">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
