<nz-page-header [nzTitle]="bit.support.title|Locale:bit.locale" [nzSubtitle]="nzMessage">
  <nz-page-header-extra>
    <button nz-button nzType="primary" [bitOpen]="['resource-add']">
      <span>{{bit.l['add']}}</span>
    </button>
  </nz-page-header-extra>
  <ng-template #nzMessage>
    <span>{{bit.l['info']}}</span>
  </ng-template>
</nz-page-header>

<nz-card>
  <nz-space>
    <nz-space-item>
      <nz-input-group [nzSuffix]="suffixIcon" style="width: 320px">
        <input
          type="text"
          nz-input
          [placeholder]="bit.l['search']"
          [(ngModel)]="search"
        />
      </nz-input-group>
      <ng-template #suffixIcon>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </nz-space-item>
    <nz-space-item>
      <button nz-button (click)="allExpand()">
        <i nz-icon nzType="node-expand"></i>
        {{bit.l['expand']}}
      </button>
    </nz-space-item>
    <nz-space-item>
      <button nz-button (click)="allClose()">
        <i nz-icon nzType="node-collapse"></i>
        {{bit.l['close']}}
      </button>
    </nz-space-item>
    <nz-space-item *ngIf="!sort">
      <button nz-button (click)="startSort()">
        <i nz-icon nzType="sort-ascending"></i>
        {{bit.l['sort']}}
      </button>
    </nz-space-item>
    <ng-container *ngIf="sort">

      <nz-space-item>
        <button nz-button (click)="submitSort()">
          <i nz-icon nzType="check"></i>
          {{bit.l['sortYes']}}
        </button>
      </nz-space-item>
      <nz-space-item>
        <button nz-button (click)="cancelSort()">
          <i nz-icon nzType="close"></i>
          {{bit.l['sortCancel']}}
        </button>
      </nz-space-item>
    </ng-container>
  </nz-space>

  <nz-divider [nzDashed]="true"></nz-divider>

  <ng-container *ngIf="sort">
    <nz-tree
      #nzTree
      [nzShowLine]="true"
      [nzBlockNode]="true"
      [nzShowIcon]="true"
      [nzExpandAll]="true"
      [nzData]="nodes"
      [nzDraggable]="true"
      [nzBeforeDrop]="beforeDrop"
      (nzOnDragEnd)="dragEnd()"
    >
    </nz-tree>
  </ng-container>

  <ng-container *ngIf="!sort">
    <nz-tree
      #nzTree
      [nzShowExpand]="false"
      [nzBlockNode]="true"
      [nzData]="nodes"
      (nzExpandChange)="onExpanded()"
      (nzClick)="clickNode($event)"
      (nzContextMenu)="contextMenu($event,menu)"
      [nzTreeTemplate]="nzTreeTemplate"
      [nzSearchValue]="search"
    >
    </nz-tree>

    <ng-template #nzTreeTemplate let-node>
      <div class="resource-node" [class.active]="activeNode?.key === node.key">
        <div class="resource-line" *ngIf="!node.isLeaf">
          <ng-container *ngIf="!node.origin.router">
            <ng-container *ngIf="!node.origin.nav">
              <i nz-icon nzType="tags"></i>
            </ng-container>
            <ng-container *ngIf="node.origin.nav">
              <i
                nz-icon
                [nzType]="node.isExpanded ? 'folder-open' : 'folder'"
                (click)="openResource(node)"
              ></i>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="node.origin.router">
            <i
              nz-icon
              nzType="global"
              (click)="openResource(node)"
            ></i>
          </ng-container>
          <span class="title">{{ node.title }} [{{node.key}}]</span>
          <span class="policy" *ngIf="node.origin.policy">
            <ng-container *ngFor="let x of policy.get(node.key)">
              <nz-tag [nzColor]="x.policy===0?'default':'blue'">
                {{x.acl_key}}
              </nz-tag>
            </ng-container>
          </span>
        </div>
        <div class="resource-line" *ngIf="node.isLeaf">
          <i nz-icon nzType="file-text"></i>
          <span class="title">{{ node.title }} [{{node.key}}]</span>
          <span class="policy" *ngIf="node.origin.policy">
            <ng-container *ngFor="let x of policy.get(node.key)">
              <nz-tag [nzColor]="'blue'">
                {{x.acl_key}} : {{bit.l[policyInfo[x.policy]]}}
              </nz-tag>
            </ng-container>
          </span>
        </div>
      </div>
    </ng-template>

    <nz-dropdown-menu #menu>
      <ul nz-menu *ngIf="activeNode!==undefined">
        <li style="color: #333" nz-menu-item nzDisabled>
          <b>{{activeNode.title}} [{{activeNode.key}}]</b>
        </li>
        <li nz-menu-divider></li>
        <li nz-menu-item (click)="addResource()">
          {{bit.l['AddResource']}}
        </li>
        <li nz-menu-item *ngIf="activeNode.origin.policy" (click)="openPolicy()">
          {{bit.l['policyEdit']}}
        </li>
        <li nz-menu-item (click)="editResource()">{{bit.l['edit']}}</li>
        <li nz-menu-item (click)="deleteResource()"
            [nzDisabled]="activeNode.getChildren().length!==0">
          {{bit.l['delete']}}
        </li>
      </ul>
    </nz-dropdown-menu>
  </ng-container>
</nz-card>


<nz-drawer
  [nzWidth]="500"
  [nzTitle]="nzTitle"
  [nzVisible]="policyVisable"
  (nzOnClose)="closePolicy()"
>
  <ng-template #nzTitle>
    <b *ngIf="activeNode">{{bit.l['policyEdit']}}: {{activeNode.title}}</b>
  </ng-template>
  <ng-container *ngIf="activeNode&&policyForm">
    <form nz-form [formGroup]="policyForm" (bitFormSubmit)="submitPolicy($event)">
      <ng-container *ngFor="let x of policy.get(activeNode.key)">
        <nz-tag [nzColor]="'blue'" nzMode="closeable" (nzOnClose)="deletePolicy(x.id)">
          {{x.acl_key}}:{{bit.l[policyInfo[x.policy]]}}
        </nz-tag>
      </ng-container>

      <nz-divider></nz-divider>

      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>
          {{bit.l['resource_key']}}
        </nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input type="text" nz-input [disabled]="true" [value]="activeNode.key">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>
          {{bit.l['acl_key']}}
        </nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-select formControlName="acl_key"
                     nzAllowClear
                     [nzShowSearch]="true"
                     [nzPlaceHolder]="bit.l['aclPlaceHolder']">
            <ng-container *ngFor="let x of aclLists">
              <nz-option [nzLabel]="(x.name|Locale:bit.locale)+'['+x.key+']'"

                         [nzDisabled]="disabledAcl(x.key)"
                         [nzValue]="x.key">
              </nz-option>
            </ng-container>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzRequired>
          {{bit.l['policy']}}
        </nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-radio-group formControlName="policy">
            <label nz-radio-button [nzValue]="0">{{bit.l['readonly']}}</label>
            <label nz-radio-button [nzValue]="1">{{bit.l['readandwrite']}}</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>

      <nz-divider></nz-divider>

      <nz-form-item>
        <nz-form-control [nzOffset]="6" [nzSpan]="18">
          <button nz-button nzType="primary" [disabled]="!policyForm.valid">
            {{bit.l['submit']}}
          </button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-drawer>
