<form nz-form nzLayout="vertical" id="form" [formGroup]="form" (wpxSubmit)="submit($event)">
  <nz-form-item>
    <nz-form-label nzRequired>免登授权码跳转地址</nz-form-label>
    <nz-form-control
      nzHasFeedback
      [nzAutoTips]="{
        default: {
          required: '免登授权码跳转地址不能为空'
        }
      }"
    >
      <input nz-input formControlName="redirect_url" />
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button type="button" nzType="default" (click)="close()">取消</button>
  <button nz-button nzType="primary" form="form" [disabled]="!form.valid">提交</button>
</div>
