<bit-ph>
  <nz-row [nzGutter]="[24, 24]" nzJustify="space-between">
    <nz-col>
      <nz-row [nzGutter]="[24, 24]">
        <nz-col>
          <nz-avatar [nzSize]="64" nzSrc="/assets/user.png"></nz-avatar>
        </nz-col>
        <nz-col>
          <h5 nz-typography>早安，吴彦祖，祝你开心每一天！</h5>
          <span nz-typography>交互专家 | 蚂蚁金服-某某某事业群-某某平台部-某某技术部-UED</span>
        </nz-col>
      </nz-row>
    </nz-col>
    <nz-col></nz-col>
    <nz-col>
      <nz-space nzSize="large" [nzSplit]="spaceSplit">
        <ng-template #spaceSplit>
          <nz-divider nzType="vertical"></nz-divider>
        </ng-template>
        <nz-statistic *nzSpaceItem [nzValue]="(56 | number)!" [nzTitle]="'项目数'"></nz-statistic>
        <nz-statistic *nzSpaceItem [nzValue]="'8 / 24'" [nzTitle]="'团队内排名'"></nz-statistic>
        <nz-statistic *nzSpaceItem [nzValue]="(2223 | number)!" [nzTitle]="'项目访问'"></nz-statistic>
      </nz-space>
    </nz-col>
  </nz-row>
</bit-ph>

<nz-row [nzGutter]="[16, 16]">
  <nz-col [nzSpan]="15">
    <nz-row [nzGutter]="[16, 16]">
      <nz-col [nzSpan]="24">
        <nz-card nzTitle="进行中的项目" [nzExtra]="more">
          <ng-template #more><a nz-button nzType="link">全部项目</a> </ng-template>
          <div class="project" *ngFor="let item of projects" nz-card-grid>
            <div class="project-title">
              <nz-avatar [nzSize]="24" [nzSrc]="item.avatar"></nz-avatar> <span>{{ item.title }}</span>
            </div>
            <p nz-typography>{{ item.description }}</p>
            <div class="project-footer">
              {{ item.group }} <span>{{ item.time }}</span>
            </div>
          </div>
        </nz-card>
      </nz-col>
      <nz-col [nzSpan]="24">
        <nz-card nzTitle="动态">
          <nz-list nzSize="large">
            <nz-list-item *ngFor="let item of message">
              <nz-list-item-meta [nzAvatar]="item.avatar">
                <nz-list-item-meta-title>
                  <b>{{ item.name }}</b>
                  &nbsp;
                  <span [innerHTML]="item.content | nzSanitizer: 'html'"></span>
                </nz-list-item-meta-title>
                <nz-list-item-meta-description> 几秒前 </nz-list-item-meta-description>
              </nz-list-item-meta>
            </nz-list-item>
            <nz-list-empty *ngIf="message.length === 0"></nz-list-empty>
          </nz-list>
        </nz-card>
      </nz-col>
    </nz-row>
  </nz-col>
  <nz-col [nzSpan]="9">
    <nz-row [nzGutter]="[16, 16]">
      <nz-col [nzSpan]="24">
        <nz-card nzTitle="快速开始/便捷导航">
          <nz-row [nzGutter]="[16, 16]">
            <ng-container *ngFor="let item of quick">
              <nz-col [nzSpan]="6">
                <button nz-button nzType="text">{{ item }}</button>
              </nz-col>
            </ng-container>
            <nz-col [nzSpan]="6">
              <button nz-button nzType="dashed">
                <i nz-icon nzType="plus"></i>
                添加
              </button>
            </nz-col>
          </nz-row>
        </nz-card>
      </nz-col>
      <nz-col [nzSpan]="24">
        <nz-card nzTitle="工作状态">
          <app-workbench-state></app-workbench-state>
        </nz-card>
      </nz-col>
      <nz-col [nzSpan]="24">
        <nz-card nzTitle="团队">
          <nz-row [nzGutter]="[16, 16]">
            <ng-container *ngFor="let item of groups">
              <nz-col [nzSpan]="12">
                <button nz-button nzType="text">
                  <nz-avatar [nzSize]='24' [nzSrc]="item.avatar"></nz-avatar>
                  <span class="group-name">{{ item.group }}</span>
                </button>
              </nz-col>
            </ng-container>
          </nz-row>
        </nz-card>
      </nz-col>
    </nz-row>
  </nz-col>
</nz-row>
