<bit-ph subTitle="asd"></bit-ph>

<!--<button *appExtra nz-button nzType="primary" nzShape="circle">-->
<!--  <i nz-icon nzType="plus"></i>-->
<!--</button>-->

<!--<nz-tabset *appFooter [nzSelectedIndex]="0">-->
<!--  <nz-tab nzTitle="进行中"></nz-tab>-->
<!--  <nz-tab nzTitle="已归档"></nz-tab>-->
<!--</nz-tabset>-->

<nz-row [nzGutter]="[16, 16]">
  <nz-col [nzSpan]="15">
    <nz-row [nzGutter]="[16, 16]">
      <nz-col [nzSpan]="24">
        <ng-template #search>
          <input nzBorderless nz-input placeholder="搜索项目名称" />
        </ng-template>

        <ng-template #box>
          <nz-button-group>
            <button nz-button nz-tooltip="刷新">
              <i nz-icon nzType="sync"></i>
            </button>
            <button nz-button nz-tooltip="清除搜索">
              <i nz-icon nzType="clear"></i>
            </button>
            <button nz-button nz-tooltip="删除选中" nzDanger [disabled]="true">
              <i nz-icon nzType="delete"></i>
            </button>
          </nz-button-group>
        </ng-template>

        <nz-card [nzTitle]="search" [nzExtra]="box">
          <nz-table #basicTable [nzData]="lists">
            <thead>
              <tr>
                <th nzWidth="60px" [nzChecked]="false"></th>
                <th>项目名称</th>
                <th>描述</th>
                <th>参与人</th>
                <th nzWidth="120px" nzRight>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data">
                <td [nzChecked]="false"></td>
                <td>{{ data.name }}</td>
                <td></td>
                <td>
                  <nz-avatar-group>
                    <nz-avatar nzText="张三"></nz-avatar>
                    <nz-avatar nzText="李四"></nz-avatar>
                  </nz-avatar-group>
                </td>
                <td>
                  <button nz-button nzType="text">
                    <i nz-icon nzType="edit"></i>
                  </button>
                  <nz-divider nzType="vertical"></nz-divider>
                  <button nz-button nzType="text" nz-dropdown [nzDropdownMenu]="actions">
                    <i nz-icon nzType="ellipsis"></i>
                    <nz-dropdown-menu #actions>
                      <ul nz-menu>
                        <li nz-menu-item nzDanger>
                          <i nz-icon nzType="delete-row"></i>
                          删除
                        </li>
                      </ul>
                    </nz-dropdown-menu>
                  </button>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </nz-card>
      </nz-col>
      <nz-col [nzSpan]="24">
        <nz-card nzTitle="消息中心">
          <nz-list nzSize="small">
            <nz-empty></nz-empty>
          </nz-list>
        </nz-card>
      </nz-col>
    </nz-row>
  </nz-col>
  <nz-col [nzSpan]="9">
    <nz-row [nzGutter]="[16, 16]">
      <nz-col [nzSpan]="24">
        <nz-card nzTitle="快速开始/便捷导航"> </nz-card>
      </nz-col>
    </nz-row>
  </nz-col>
</nz-row>
