.center {
  height: 100%;
  padding: 0 24px;
}

.center:hover,
.center:focus {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.018);
}

.username {
  display: inline-block;
  margin-left: 12px;
  vertical-align: middle;
  font-weight: bold;
}
