nz-tree {
  overflow: hidden;
}

.custom-node {
  cursor: pointer;
  line-height: 30px;
  margin-left: 4px;
  //display: inline-block;
}

.file-name,
.folder-name {
  margin-left: 4px;
}

.file-desc,
.folder-desc {
  padding: 0 8px;
  display: inline-block;
  background: #87ceff;
  color: #ffffff;
  position: relative;
  left: 12px;
}
