<nz-row [nzGutter]="8">
  <nz-col>
    <button
      style="margin-right: 8px"
      nz-button
      nzType="text"
      [nz-tooltip]="expand ? '收起' : '展开'"
      (click)="expanded()"
    >
      <i nz-icon [nzType]="expand ? 'node-collapse' : 'node-expand'"></i>
    </button>
    <nz-input-group style="width: 150px" nzSuffixIcon="search">
      <input type="text" nz-input placeholder="搜索" [(ngModel)]="searchText" />
    </nz-input-group>
  </nz-col>
  <nz-col>
    <nz-button-group>
      <button nz-button nzType="text" nz-tooltip="刷新" (click)="getData(true)">
        <i nz-icon nzType="reload"></i>
      </button>
      <button nz-button nzType="text" nz-tooltip="新增" (click)="form()">
        <i nz-icon nzType="sisternode"></i>
      </button>
      <button nz-button nzType="text" nz-tooltip="重组" (click)="openReorganization()">
        <i nz-icon nzType="swap"></i>
      </button>
    </nz-button-group>
  </nz-col>
</nz-row>

<nz-divider style="margin: 8px 0"></nz-divider>

<nz-tree
  #tree
  nzBlockNode
  nzExpandAll
  nzShowLine
  [nzData]="nodes"
  [nzSearchValue]="searchText"
  [nzExpandedIcon]="nzExpandedIcon"
  [nzTreeTemplate]="nzTreeTemplate"
  [nzSelectedKeys]="selectedKeys"
  (nzClick)="selected($event)"
  (nzContextMenu)="actions($event, treeActions)"
>
  <ng-template #nzExpandedIcon let-node>
    <span class="custom-icon" *ngIf="factory.dict?.[node.key] as page">
      <ng-container *ngIf="!page.status; else kindTpl">
        <i nz-icon nzType="stop" nzTheme="twotone" [nzTwotoneColor]="'#ff7875'"></i>
      </ng-container>
      <ng-template #kindTpl [ngSwitch]="page.kind">
        <ng-container *ngSwitchCase="'default'">
          <i nz-icon nzType="database" nzTheme="twotone"></i>
        </ng-container>
        <ng-container *ngSwitchCase="'aggregation'">
          <i nz-icon nzType="calculator" nzTheme="twotone"></i>
        </ng-container>
        <ng-container *ngSwitchCase="'group'">
          <i nz-icon [nzType]="!node.isExpanded ? 'folder' : 'folder-open'" nzTheme="twotone"></i>
        </ng-container>
      </ng-template>
    </span>
  </ng-template>

  <ng-template #nzTreeTemplate let-node>
    <span class="custom-node" *ngIf="factory.dict?.[node.key] as page">
      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
      <i *ngIf="page.icon" nz-icon [nzType]="page.icon"></i>
      <span>
        {{ page.name }}
        <ng-container *ngIf="page.manifest">
          [
          <ng-container [ngSwitch]="page.manifest">
            <ng-container *ngSwitchCase="'default'"> 标准表格 </ng-container>
            <ng-container *ngSwitchCase="'tree'">树形表格</ng-container>
            <ng-container *ngSwitchCase="'form'">独立表单</ng-container>
            <ng-container *ngSwitchCase="'hide'">隐藏</ng-container>
            <ng-container *ngSwitchCase="'dashboard'">仪表盘</ng-container>
          </ng-container>
          ]
        </ng-container>
      </span>
    </span>
  </ng-template>
  <!-- 右键操作 -->
  <nz-dropdown-menu #treeActions="nzDropdownMenu">
    <ul *ngIf="actionId" nz-menu>
      <ng-container *ngIf="factory.dict?.[actionId] as page">
        <li nz-menu-item [nzSelected]="false">
          <i *ngIf="page.icon" nz-icon [nzType]="page.icon"></i>&nbsp;
          <span>{{ page.name }}</span>
        </li>
        <li nz-menu-divider></li>
        <li nz-menu-item (click)="form(page)"> 编辑 </li>
        <li nz-menu-item nzDanger (click)="delete(page)"> 删除 </li>
      </ng-container>
    </ul>
  </nz-dropdown-menu>
</nz-tree>

<nz-drawer nzTitle="拖拽进行重组" [nzVisible]="reorganizationVisible" (nzOnClose)="closeReorganization()">
  <ng-container *nzDrawerContent>
    <nz-tree
      nzBlockNode
      nzExpandAll
      nzShowLine
      nzDraggable
      [nzData]="reorganizationNodes"
      (nzOnDrop)="reorganization($event)"
    >
    </nz-tree>
  </ng-container>
</nz-drawer>
