<wpx-layout>
  <button *wpxLayoutAction nz-button nzType="primary" nzShape="circle" nz-tooltip="新增" (click)="schemaAct.open()">
    <i nz-icon nzType="plus"></i>
  </button>
  <button *wpxLayoutAction nz-button nzType="primary" nzShape="circle" nz-tooltip="发布">
    <i nz-icon nzType="cloud-upload"></i>
  </button>
</wpx-layout>

<wpx-schema-act #schemaAct (ok)="getSchemas()"></wpx-schema-act>
<wpx-schema-field-act #fieldAct (ok)="getSchemas()"></wpx-schema-field-act>

<nz-row [nzGutter]="12">
  <nz-col [nzXXl]="6" [nzXl]="8" [nzLg]="12">
    <nz-card>
      <nz-space style="margin-bottom: 12px">
        <nz-input-group *nzSpaceItem nzSuffixIcon="search">
          <input type="text" nz-input placeholder="搜索" [(ngModel)]="name" />
        </nz-input-group>
        <nz-button-group *nzSpaceItem>
          <button nz-button nz-tooltip="全部收起" (click)="layout.setExpanded(schemaTree.getTreeNodes(), false)">
            <i nz-icon nzType="node-collapse"></i>
          </button>
          <button nz-button nz-tooltip="全部展开" (click)="layout.setExpanded(schemaTree.getTreeNodes(), true)">
            <i nz-icon nzType="node-expand"></i>
          </button>
        </nz-button-group>
      </nz-space>
      <nz-tree
        #schemaTree
        nzBlockNode
        nzShowLine
        nzShowIcon
        nzExpandAll
        [nzData]="nodes"
        [nzSearchValue]="name"
        [nzExpandedIcon]="multiExpandedIconTpl"
        (nzClick)="fetchData($event)"
        (nzContextMenu)="actions($event, treeActions)"
      >
        <ng-template #multiExpandedIconTpl let-node let-origin="origin">
          <ng-container *ngIf="!origin.isLeaf; else isLeaf">
            <i nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'" class="ant-tree-switcher-line-icon"></i>
          </ng-container>
          <ng-template #isLeaf>
            <ng-container [ngSwitch]="node.key">
              <ng-container *ngSwitchCase="'home'">
                <i nz-icon nzType="database" class="ant-tree-switcher-line-icon"></i>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <i nz-icon nzType="table" class="ant-tree-switcher-line-icon"></i>
              </ng-container>
            </ng-container>
          </ng-template>
        </ng-template>
        <nz-dropdown-menu #treeActions="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>{{ actionNode?.title }}</li>
            <li nz-menu-divider></li>
            <ng-container *ngIf="actionNode?.origin.data as x">
              <li nz-menu-item [nzDisabled]="!!x.system" (click)="schemaAct.open(x)">
                <i nz-icon nzType="edit"></i>&nbsp;编辑
              </li>
              <li nz-menu-item [nzDisabled]="!!x.system" nzDanger (click)="schemaAct.delete(x)">
                <i nz-icon nzType="delete"></i>&nbsp;删除
              </li>
            </ng-container>
          </ul>
        </nz-dropdown-menu>
      </nz-tree>
    </nz-card>
  </nz-col>
  <nz-col [nzXXl]="18" [nzXl]="16" [nzLg]="12">
    <nz-card *ngIf="!fieldAct.data; else content">
      <nz-card-tab>
        <nz-tabset nzSize="large" [(nzSelectedIndex)]="tabs">
          <nz-tab nzTitle="自定义组件"></nz-tab>
          <nz-tab nzTitle="数据库集合" nzDisabled></nz-tab>
        </nz-tabset>
      </nz-card-tab>

      <ng-container [ngSwitch]="tabs">
        <ng-container *ngSwitchCase="0">
          <nz-table #manualTable [nzData]="manuals" [nzFrontPagination]="false" [nzShowPagination]="false">
            <thead>
              <tr>
                <th nzWidth="65px"> </th>
                <th nzWidth="180px"><b>集合命名</b></th>
                <th nzWidth="180px"><b>显示名称</b></th>
                <th><b>描述</b></th>
                <th nzWidth="100px" nzRight="0px"><b>操作</b></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of manualTable.data">
                <td>
                  <ng-container *ngIf="!!data.system">
                    <nz-tag nzColor="blue">SYS</nz-tag>
                  </ng-container>
                </td>
                <td>{{ data.key }}</td>
                <td>{{ data.label }}</td>
                <td> - </td>
                <td>
                  <button nz-button nzType="text" nz-dropdown [nzDropdownMenu]="actions">
                    <i nz-icon nzType="ellipsis"></i>
                  </button>
                  <nz-dropdown-menu #actions="nzDropdownMenu">
                    <ul nz-menu>
                      <li nz-menu-item> <i nz-icon nzType="setting"></i>&nbsp;设置 </li>
                      <li nz-menu-item [nzDisabled]="!!data.system" (click)="schemaAct.delete(data)">
                        <i nz-icon nzType="delete"></i>&nbsp;删除
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </ng-container>
      </ng-container>
    </nz-card>
    <ng-template #content>
      <nz-card>
        <nz-card-tab>
          <nz-tabset nzSize="large" [(nzSelectedIndex)]="tabs" [nzTabBarExtraContent]="contentTabExtra">
            <ng-template #contentTabExtra>
              <button nz-button nzType="text"><i nz-icon nzType="ellipsis"></i></button>
            </ng-template>
            <nz-tab nzTitle="内容类型"></nz-tab>
            <nz-tab nzTitle="索引" nzDisabled> </nz-tab>
          </nz-tabset>
        </nz-card-tab>

        <ng-container [ngSwitch]="tabs">
          <ng-container *ngSwitchCase="0">
            <nz-table
              #contentTable
              [nzData]="fieldAct.fields"
              [nzFrontPagination]="false"
              [nzShowPagination]="false"
              [nzFooter]="fieldsFooter"
              [nzScroll]="{ x: '1200px' }"
            >
              <thead>
                <tr>
                  <th nzWidth="65px"> </th>
                  <th nzWidth="180px"><b>字段名称</b></th>
                  <th nzWidth="180px"><b>显示名称</b></th>
                  <th><b>描述</b></th>
                  <th nzWidth="100px" nzRight="0px"><b>操作</b></th>
                </tr>
              </thead>
              <tbody cdkDropList (cdkDropListDropped)="fieldAct.sort($event)">
                <tr *ngFor="let data of contentTable.data" cdkDrag>
                  <td>
                    <button nz-button nzType="dashed" nzShape="circle" cdkDragHandle>
                      <i nz-icon nzType="drag"></i>
                    </button>
                  </td>
                  <td>
                    <nz-tag nzColor="blue">{{ fieldAct.type | wpxMap: data.type }}</nz-tag>
                    {{ data.key }}
                  </td>
                  <td>{{ data.label }}</td>
                  <td>
                    <ng-container *ngIf="data.unique">
                      <nz-tag>唯一的</nz-tag>
                    </ng-container>
                    <ng-container *ngIf="data.required">
                      <nz-tag>必须的</nz-tag>
                    </ng-container>
                    <ng-container *ngIf="data.private">
                      <nz-tag>私属字段</nz-tag>
                    </ng-container>
                    <ng-container *ngIf="!!data.option?.mode">
                      <nz-tag>
                        <ng-container [ngSwitch]="data.option?.mode">
                          <span *ngSwitchCase="'manual'"> 自定义引用</span>
                          <span *ngSwitchCase="'one'"> 单引用</span>
                          <span *ngSwitchCase="'many'"> 多引用</span>
                        </ng-container>
                        <span>=>{{ data.option?.target }}</span>
                        <span *ngIf="data.option?.to">.{{ data.option?.to }} </span>
                      </nz-tag>
                    </ng-container>
                    <ng-container *ngIf="data.default">
                      <nz-tag>默认值:{{ data.default }}</nz-tag>
                    </ng-container>
                  </td>
                  <td>
                    <ng-container *ngIf="!data.system; else isSystem">
                      <button nz-button nzType="text" nz-dropdown [nzDropdownMenu]="actions">
                        <i nz-icon nzType="ellipsis"></i>
                      </button>
                      <nz-dropdown-menu #actions="nzDropdownMenu">
                        <ul nz-menu>
                          <li nz-menu-item (click)="fieldAct.open(data)"> <i nz-icon nzType="edit"></i>&nbsp;编辑 </li>
                          <li nz-menu-item (click)="fieldAct.delete(data)">
                            <i nz-icon nzType="delete"></i>&nbsp;删除
                          </li>
                        </ul>
                      </nz-dropdown-menu>
                    </ng-container>
                    <ng-template #isSystem>
                      <button nz-button nzType="text" disabled>
                        <i nz-icon nzType="lock"></i>
                      </button>
                    </ng-template>
                  </td>
                </tr>
              </tbody>
              <ng-template #fieldsFooter>
                <button nzBlock nz-button nzType="link" (click)="fieldAct.open()">
                  <i nz-icon nzType="plus"></i> 创建字段到该内容类型
                </button>
              </ng-template>
            </nz-table>
          </ng-container>
        </ng-container>
      </nz-card>
    </ng-template>
  </nz-col>
</nz-row>
