<form nz-form nzLayout="vertical" id="form" [formGroup]="form" (wpxSubmit)="submit($event)">
  <nz-form-item>
    <nz-form-label nzRequired>电子邮件</nz-form-label>
    <nz-form-control nzExtra="*修改后需要重新登录系统" [nzAutoTips]="tips.email">
      <input type="text" nz-input formControlName="email" placeholder="mail@example.com" />
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button type="button" nzType="default" (click)="close()">取消</button>
  <button nz-button nzType="primary" form="form" [disabled]="!form.valid">提交</button>
</div>
