<nz-page-header [nzTitle]="bit.support.title|Locale:bit.locale"></nz-page-header>

<nz-card [nzBordered]="false">
  <form nz-form [formGroup]="form" (bitFormSubmit)="submit($event)">
    <nz-form-item>
      <nz-form-label bitCol="label">
        {{bit.l['call']}}
      </nz-form-label>
      <nz-form-control bitCol="control" nzHasFeedback>
        <input nz-input formControlName="call" [placeholder]="bit.l['callPlaceholder']"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label bitCol="label">
        {{bit.l['email']}}
      </nz-form-label>
      <nz-form-control
        bitCol="control"
        nzHasFeedback
        [nzErrorTip]="email.ref"
      >
        <input nz-input formControlName="email" [placeholder]="bit.l['emailPlaceholder']"/>
        <bit-error-tip #email [hasError]="{
          email:bit.l['emailCorrectly']
        }"></bit-error-tip>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label bitCol="label">
        {{bit.l['phone']}}
      </nz-form-label>
      <nz-form-control bitCol="control" nzHasFeedback>
        <input nz-input formControlName="phone" [placeholder]="bit.l['phonePlaceholder']"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label bitCol="label">
        {{bit.l['avatar']}}
      </nz-form-label>
      <nz-form-control bitCol="control">
        <p>{{bit.l['avatarTips']}}</p>
        <nz-upload
          nzName="image"
          bitUpload
          nzListType="picture-card"
          (nzChange)="upload($event)"
        >
          <ng-container *ngIf="!avatar">
            <i nz-icon nzType="plus"></i>
            <div class="ant-upload-text">{{bit.l['upload']}}</div>
          </ng-container>
          <img width="120" *ngIf="avatar" [src]="bit.static+avatar" class="avatar">
        </nz-upload>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label bitCol="label">
        {{bit.l['editPassword']}}
      </nz-form-label>
      <nz-form-control bitCol="control">
        <nz-switch
          [(ngModel)]="editPassword"
          (ngModelChange)="editPasswordChange($event)"
          [ngModelOptions]="{standalone: true}"
        >
        </nz-switch>
      </nz-form-control>
    </nz-form-item>

    <ng-container *ngIf="editPassword">
      <nz-form-item>
        <nz-form-label bitCol="label" nzRequired>
          {{bit.l['oldPassword']}}
        </nz-form-label>
        <nz-form-control
          bitCol="control"
          nzHasFeedback
          [nzErrorTip]="oldPassword.ref"
        >
          <input
            nz-input
            type="password"
            formControlName="old_password"
            [placeholder]="bit.l['passwordPlaceholder']"
          />
          <bit-error-tip #oldPassword [hasError]="{
            min:bit.l['passwordMinLength'],
            max:bit.l['passwordMaxLength'],
            lowercase:bit.l['passwordLowercase'],
            uppercase:bit.l['passwordUppercase'],
            number:bit.l['passwordNumber'],
            symbol:bit.l['passwordSymbol']
          }"></bit-error-tip>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label bitCol="label" nzRequired>
          <span>
          {{bit.l['newPassword']}}
            <i
              nz-icon
              nzType="question-circle"
              [nz-tooltip]="bit.l['passwordTips']"
            >
            </i>
          </span>
        </nz-form-label>
        <nz-form-control
          bitCol="control"
          nzHasFeedback
          [nzErrorTip]="newPassword.ref"
        >
          <input
            nz-input
            type="password"
            formControlName="new_password"
            [placeholder]="bit.l['passwordPlaceholder']"
          />
          <bit-error-tip #newPassword [hasError]="{
            min:bit.l['passwordMinLength'],
            max:bit.l['passwordMaxLength'],
            lowercase:bit.l['passwordLowercase'],
            uppercase:bit.l['passwordUppercase'],
            number:bit.l['passwordNumber'],
            symbol:bit.l['passwordSymbol']
          }"></bit-error-tip>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label bitCol="label" nzRequired>
          {{bit.l['passwordCheck']}}
        </nz-form-label>
        <nz-form-control
          bitCol="control"
          nzHasFeedback
          [nzErrorTip]="newPasswordCheck.ref"
        >
          <input
            nz-input
            type="password"
            formControlName="new_password_check"
            [placeholder]="bit.l['passwordPlaceholder']"
          />
          <bit-error-tip #newPasswordCheck [hasError]="{
            correctly:bit.l['passwordCorrectly']
          }"></bit-error-tip>
        </nz-form-control>
      </nz-form-item>
    </ng-container>

    <nz-divider></nz-divider>

    <nz-form-item>
      <nz-form-control bitCol="submit">
        <nz-space>
          <nz-space-item>
            <button nz-button nzType="primary" [disabled]="!form.valid">
              <i nz-icon nzType="check"></i> {{bit.l['submit']}}
            </button>
          </nz-space-item>
        </nz-space>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>

