<nz-layout class="common-layout">
  <nz-sider nzTheme="light">
    <ul nz-menu nzMode="inline">
      <li nz-menu-group nzTitle="媒体">
        <ul>
          <li nz-menu-item nzMatchRouter [routerLink]="['/experiment', 'resources', 'pictures']"> 图片</li>
          <li nz-menu-item nzMatchRouter [routerLink]="['/experiment', 'resources', 'videos']"> 视频</li>
          <li nz-menu-item nzDisabled> 音频 </li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="文件">
        <ul>
          <li nz-menu-item nzDisabled> 文档 </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content style="overflow: auto">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
