<ng-template #title>
  <ng-container *ngIf="!editable; else isEditable"> 创建字段到该内容类型 </ng-container>
  <ng-template #isEditable> 更新字段 </ng-template>
</ng-template>

<nz-modal [(nzVisible)]="visible" [nzTitle]="title" [nzFooter]="fieldFormFooter" (nzOnCancel)="close()">
  <ng-container *nzModalContent>
    <form *ngIf="form" nz-form nzLayout="vertical" id="field" [formGroup]="form" (wpxSubmit)="submit($event)">
      <nz-tabset>
        <nz-tab nzTitle="基础设置">
          <nz-form-item>
            <nz-form-label nzRequired>字段命名</nz-form-label>
            <nz-form-control
              nzHasFeedback
              [nzAutoTips]="{
                default: {
                  required: '字段命名不能为空',
                  pattern: '请使用小写字母与下划线的组合',
                  duplicated: '数据库字段必须是唯一的'
                }
              }"
            >
              <input nz-input type="text" formControlName="key" placeholder="数据库字段名，如 consumer" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>显示名称</nz-form-label>
            <nz-form-control
              nzHasFeedback
              [nzAutoTips]="{
                default: {
                  required: '显示名称不能为空'
                }
              }"
            >
              <input nz-input type="text" formControlName="label" placeholder="显示名称，如消费者" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>字段类型</nz-form-label>
            <nz-form-control>
              <nz-select nzShowSearch nzAllowClear formControlName="type" nzPlaceHolder="请选择一个字段类型">
                <ng-container *ngFor="let x of group">
                  <nz-option-group [nzLabel]="x.label">
                    <ng-container *ngFor="let y of x.values">
                      <nz-option [nzLabel]="y[1]" [nzValue]="y[0]"></nz-option>
                    </ng-container>
                  </nz-option-group>
                </ng-container>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>字段描述</nz-form-label>
            <nz-form-control>
              <textarea
                rows="4"
                nz-input
                formControlName="description"
                placeholder="字段描述，如订单的消费者"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </nz-tab>
        <nz-tab nzTitle="高级设置">
          <nz-form-item>
            <nz-form-label>默认值</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="default" placeholder="此值的默认值" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>是否必须</nz-form-label>
            <nz-form-control nzExtra="在创建内容时，此段是必需填写的">
              <nz-switch formControlName="required"></nz-switch>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>是否唯一</nz-form-label>
            <nz-form-control nzExtra="如果存在具有相同内容的现有记录，则无法创建记录">
              <nz-switch formControlName="unique"></nz-switch>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>私有字段</nz-form-label>
            <nz-form-control nzExtra="该字段不会显示在通用请求中">
              <nz-switch formControlName="private"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </nz-tab>
        <nz-tab *ngIf="special.includes(form.get('type')?.value)" formGroupName="option" nzTitle="类型设置">
          <ng-container [ngSwitch]="form.get('type')?.value">
            <ng-container *ngSwitchCase="'integer'">
              <nz-form-item>
                <nz-form-label>最小值</nz-form-label>
                <nz-form-control>
                  <nz-input-number
                    style="width: 100%"
                    formControlName="min"
                    [nzStep]="1"
                    [nzPrecision]="0"
                    nzPlaceHolder="最小值，如 1"
                  ></nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label>最大值</nz-form-label>
                <nz-form-control>
                  <nz-input-number
                    style="width: 100%"
                    formControlName="max"
                    [nzStep]="1"
                    [nzPrecision]="0"
                    nzPlaceHolder="最大值，如 1000"
                  ></nz-input-number>
                </nz-form-control>
              </nz-form-item>
            </ng-container>
            <ng-container *ngSwitchCase="'decimal'">
              <nz-form-item>
                <nz-form-label>最小值</nz-form-label>
                <nz-form-control>
                  <nz-input-number
                    style="width: 100%"
                    formControlName="min"
                    [nzStep]="1"
                    [nzPrecision]="2"
                    nzPlaceHolder="最小值，如 1.25"
                  ></nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label>最大值</nz-form-label>
                <nz-form-control>
                  <nz-input-number
                    style="width: 100%"
                    formControlName="max"
                    [nzStep]="1"
                    [nzPrecision]="2"
                    nzPlaceHolder="最大值，如 1000.00"
                  ></nz-input-number>
                </nz-form-control>
              </nz-form-item>
            </ng-container>
            <ng-container *ngSwitchCase="'enum'">
              <nz-form-item>
                <nz-form-label>列举元素</nz-form-label>
                <nz-form-control formArrayName="values">
                  <ng-container *ngFor="let x of enumValues?.controls; index as i; first as isFirst">
                    <nz-input-group [formGroupName]="i" nzCompact [ngStyle]="{ 'margin-top': isFirst ? null : '-1px' }">
                      <ng-container>
                        <input style="width: 45%" type="text" nz-input formControlName="label" placeholder="元素名称" />
                      </ng-container>
                      <input style="width: 45%" type="text" nz-input formControlName="value" placeholder="元素值" />
                      <button nz-button nzType="default" style="width: 10%" (click)="removeEnum(i)">
                        <i nz-icon nzType="minus-circle"></i>
                      </button>
                    </nz-input-group>
                  </ng-container>
                  <button style="margin-top: 8px" type="button" nz-button nzType="dashed" nzBlock (click)="addEnum()">
                    <i nz-icon nzType="plus-circle"></i> 新增元素
                  </button>
                </nz-form-control>
              </nz-form-item>
            </ng-container>
            <ng-container *ngSwitchCase="'reference'">
              <nz-form-item>
                <nz-form-label>引用模式</nz-form-label>
                <nz-form-control>
                  <nz-radio-group formControlName="mode">
                    <label nz-radio-button nzValue="one">单引用</label>
                    <label nz-radio-button nzValue="many">多引用</label>
                    <label nz-radio-button nzValue="manual">自定义</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label>引用集合</nz-form-label>
                <nz-form-control>
                  <nz-input-group nzCompact>
                    <nz-select
                      style="width: 90%"
                      nzShowSearch
                      nzAllowClear
                      formControlName="target"
                      nzPlaceHolder="请选择集合"
                      (nzOpenChange)="getCollections()"
                    >
                      <ng-container *ngFor="let x of collections">
                        <nz-option [nzLabel]="x.label + ' [ ' + x.key + ' ]'" [nzValue]="x.key"></nz-option>
                      </ng-container>
                    </nz-select>
                    <button style="width: 10%" nz-button type="button" (click)="getCollections()">
                      <i nz-icon nzType="sync"></i>
                    </button>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item *ngIf="!!referenceTarget.value">
                <nz-form-label>引用字段</nz-form-label>
                <nz-form-control>
                  <nz-select nzShowSearch nzAllowClear formControlName="to" nzPlaceHolder="请选择集合字段">
                    <nz-option [nzLabel]="'[ _id ]'" [nzValue]="'_id'"></nz-option>
                    <ng-container *ngIf="targetFields">
                      <ng-container *ngFor="let x of targetFields | wpxMap: referenceTarget.value">
                        <nz-option [nzLabel]="x.label + ' [ ' + x.key + ' ]'" [nzValue]="x.key"></nz-option>
                      </ng-container>
                    </ng-container>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </ng-container>
          </ng-container>
        </nz-tab>
      </nz-tabset>
    </form>
  </ng-container>
  <ng-template #fieldFormFooter>
    <button nz-button nzType="default" (click)="close()">取消</button>
    <button nz-button nzType="primary" form="field" [disabled]="!form?.valid">提交</button>
  </ng-template>
</nz-modal>
