<form nz-form nzLayout="vertical" id="form" [formGroup]="form" (wpxSubmit)="submit($event)">
  <nz-form-item>
    <nz-form-label i18n>Call</nz-form-label>
    <nz-form-control nzHasFeedback>
      <input nz-input formControlName="name" />
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button type="button" nzType="default" (click)="close()" i18n>Cancel</button>
  <button nz-button nzType="primary" form="form" [disabled]="!form.valid" i18n>Submit</button>
</div>
