.cdx-header {
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}

.cdx-media {
  img,
  video {
    max-width: 100%;
    vertical-align: bottom;
  }

  .cdx-button {
    width: 100%;
    min-height: 200px;
  }
}
