<form nz-form nzLayout="vertical" id="form" [formGroup]="form" (wpxSubmit)="submit($event)">
  <nz-form-item>
    <nz-form-label nzRequired i18n>App Key</nz-form-label>
    <nz-form-control nzHasFeedback [nzAutoTips]="tips.OpenapiKey">
      <input nz-input formControlName="OpenapiKey" placeholder="请输入 App Key" i18n-placeholder />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired i18n>App Secret</nz-form-label>
    <nz-form-control nzHasFeedback [nzAutoTips]="tips.OpenapiSecret">
      <input
        nz-input
        type="password"
        autocomplete="new-password"
        formControlName="OpenapiSecret"
        placeholder="请输入 App Secret"
        i18n-placeholder
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired i18n>地址</nz-form-label>
    <nz-form-control nzHasFeedback [nzAutoTips]="tips.OpenapiUrl">
      <input nz-input formControlName="OpenapiUrl" placeholder="请输入地址" i18n-placeholder />
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button type="button" nzType="default" (click)="close()" i18n>取消</button>
  <button nz-button nzType="primary" form="form" [disabled]="!form.valid" i18n>提交</button>
</div>
