<settings-pages-tabs [key]="key" [extra]="extra">
  <ng-template #extra>
    <button nz-button (click)="form()"> 创建索引 </button>
  </ng-template>
  <ng-template #footer>
    <button nzBlock nz-button nzType="link" (click)="form()">
      <i nz-icon nzType="plus"></i> 创建索引到该内容类型
    </button>
  </ng-template>
  <nz-table
    #contentTable
    [nzData]="indexesList"
    [nzFrontPagination]="false"
    [nzShowPagination]="false"
    [nzFooter]="footer"
    [nzScroll]="{ x: '1200px' }"
  >
    <thead>
      <tr>
        <th nzWidth="65px" nzLeft nzAlign="center"> </th>
        <th nzWidth="200px" nzLeft>索引名称</th>
        <th>索引信息</th>
        <th nzWidth="100px" nzRight nzAlign="center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of contentTable.data">
        <td nzLeft nzAlign="center">
          <nz-tag nzColor="blue">
            <ng-container [ngSwitch]="data | IndexType">
              <ng-container *ngSwitchCase="'text'">全文</ng-container>
              <ng-container *ngSwitchCase="'2dsphere'">地理</ng-container>
              <ng-container *ngSwitchDefault>常规</ng-container>
            </ng-container>
          </nz-tag>
        </td>
        <td nzLeft>{{ data.name }}</td>
        <td>
          <ng-container *ngIf="data.unique">
            <nz-tag>唯一</nz-tag>
          </ng-container>
          <ng-container *ngFor="let item of data.key | keyvalue">
            <ng-container *ngTemplateOutlet="fieldTags; context: { $implicit: item }"></ng-container>
          </ng-container>
          <ng-container *ngIf="data.hasOwnProperty('weights')">
            <ng-container *ngFor="let item of data.weights | keyvalue">
              <ng-container *ngTemplateOutlet="fieldTags; context: { $implicit: item }"></ng-container>
            </ng-container>
          </ng-container>
          <ng-template #fieldTags let-item>
            <nz-tag>
              {{ item.key }} :
              <ng-container [ngSwitch]="item.value">
                <ng-container *ngSwitchCase="1">asc</ng-container>
                <ng-container *ngSwitchCase="-1">desc</ng-container>
                <ng-container *ngSwitchCase="'text'">text</ng-container>
                <ng-container *ngSwitchCase="'2dsphere'">2dsphere</ng-container>
              </ng-container>
            </nz-tag>
          </ng-template>
        </td>
        <td nzRight nzAlign="center">
          <button
            nz-button
            nzType="text"
            nz-tooltip="删除"
            nz-popconfirm
            nzPopconfirmTitle="您确定移除该索引吗?"
            nzPopconfirmPlacement="bottomRight"
            (nzOnConfirm)="delete(data.name)"
          >
            <i nz-icon nzType="delete"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</settings-pages-tabs>
