<nz-list nzItemLayout="horizontal" nzSize="large">
  <nz-list-item>
    <nz-list-item-meta>
      <nz-list-item-meta-title>账户密码</nz-list-item-meta-title>
      <nz-list-item-meta-description>当前密码强度：强</nz-list-item-meta-description>
    </nz-list-item-meta>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <a><i nz-icon nzType="edit"></i> 修改</a>
      </nz-list-item-action>
    </ul>
  </nz-list-item>
  <nz-list-item>
    <nz-list-item-meta>
      <nz-list-item-meta-title>密保手机</nz-list-item-meta-title>
      <nz-list-item-meta-description>已绑定手机：155****5333</nz-list-item-meta-description>
    </nz-list-item-meta>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <a><i nz-icon nzType="edit"></i> 修改</a>
      </nz-list-item-action>
    </ul>
  </nz-list-item>
  <nz-list-item>
    <nz-list-item-meta>
      <nz-list-item-meta-title>密保问题</nz-list-item-meta-title>
      <nz-list-item-meta-description>未设置密保问题，密保问题可有效保护账户安全</nz-list-item-meta-description>
    </nz-list-item-meta>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <a><i nz-icon nzType="edit"></i> 修改</a>
      </nz-list-item-action>
    </ul>
  </nz-list-item>
  <nz-list-item>
    <nz-list-item-meta>
      <nz-list-item-meta-title>备用邮箱</nz-list-item-meta-title>
      <nz-list-item-meta-description>未绑定</nz-list-item-meta-description>
    </nz-list-item-meta>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <a><i nz-icon nzType="edit"></i> 修改</a>
      </nz-list-item-action>
    </ul>
  </nz-list-item>
  <nz-list-item>
    <nz-list-item-meta>
      <nz-list-item-meta-title>MFA 设备</nz-list-item-meta-title>
      <nz-list-item-meta-description>未绑定 MFA 设备，绑定后，可以进行二次确认</nz-list-item-meta-description>
    </nz-list-item-meta>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <a><i nz-icon nzType="edit"></i> 修改</a>
      </nz-list-item-action>
    </ul>
  </nz-list-item>
</nz-list>
