<bit-ph>
  <span>高级表单常见于一次性输入和提交大批量数据的场景。</span>
</bit-ph>
<form nz-form [formGroup]="form" (bitFormSubmit)="submit($event)">
  <nz-row [nzGutter]="[16, 16]">
    <nz-col nzSpan="24">
      <nz-card nzTitle="仓库管理" formGroupName="warehouse">
        <nz-row [nzGutter]="24">
          <nz-col nzSpan="8">
            <nz-form-control>
              <nz-form-label nzRequired>仓库名</nz-form-label>
              <nz-form-control style="width: 320px" [nzAutoTips]="{ default: { required: '不能为空' } }">
                <input formControlName="name" nz-input placeholder="请输入仓库名称" />
              </nz-form-control>
            </nz-form-control>
          </nz-col>
          <nz-col nzSpan="8">
            <nz-form-control>
              <nz-form-label nzRequired>仓库域名</nz-form-label>
              <nz-form-control style="width: 320px" [nzAutoTips]="{ default: { required: '不能为空' } }">
                <nz-input-group [nzAddOnBefore]="'http://'" [nzAddOnAfter]="'.com'">
                  <input formControlName="url" nz-input placeholder="请输入" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-control>
          </nz-col>
          <nz-col nzSpan="8">
            <nz-form-control>
              <nz-form-label nzRequired>仓库管理员</nz-form-label>
              <nz-form-control style="width: 320px" [nzAutoTips]="{ default: { required: '不能为空' } }">
                <nz-select style="width: 100%" formControlName="admin" nzPlaceHolder="请选择管理员">
                  <nz-option [nzValue]="0" nzLabel="kain"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-control>
          </nz-col>
          <nz-col nzSpan="8">
            <nz-form-control>
              <nz-form-label nzRequired>审批人</nz-form-label>
              <nz-form-control style="width: 320px" [nzAutoTips]="{ default: { required: '不能为空' } }">
                <nz-select style="width: 100%" formControlName="approver" nzPlaceHolder="请选择管理员">
                  <nz-option [nzValue]="0" nzLabel="kain"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-control>
          </nz-col>
          <nz-col nzSpan="8">
            <nz-form-control>
              <nz-form-label nzRequired>生效日期</nz-form-label>
              <nz-form-control style="width: 320px" [nzAutoTips]="{ default: { required: '不能为空' } }">
                <nz-range-picker style="width: 100%" formControlName="effective"></nz-range-picker>
              </nz-form-control>
            </nz-form-control>
          </nz-col>
          <nz-col nzSpan="8">
            <nz-form-control>
              <nz-form-label nzRequired>仓库类型</nz-form-label>
              <nz-form-control style="width: 320px" [nzAutoTips]="{ default: { required: '不能为空' } }">
                <nz-select style="width: 100%" formControlName="type" nzPlaceHolder="请选择仓库类型">
                  <nz-option [nzValue]="0" nzLabel="0号"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-control>
          </nz-col>
        </nz-row>
      </nz-card>
    </nz-col>
    <nz-col nzSpan="24">
      <nz-card nzTitle="任务管理" formGroupName="task">
        <nz-row [nzGutter]="24">
          <nz-col nzSpan="8">
            <nz-form-control>
              <nz-form-label nzRequired>任务名</nz-form-label>
              <nz-form-control style="width: 320px" [nzAutoTips]="{ default: { required: '不能为空' } }">
                <input formControlName="name" nz-input placeholder="请输入任务名称" />
              </nz-form-control>
            </nz-form-control>
          </nz-col>
          <nz-col nzSpan="8">
            <nz-form-control>
              <nz-form-label nzRequired>任务描述</nz-form-label>
              <nz-form-control style="width: 320px" [nzAutoTips]="{ default: { required: '不能为空' } }">
                <input formControlName="description" nz-input placeholder="请输入任务描述" />
              </nz-form-control>
            </nz-form-control>
          </nz-col>
          <nz-col nzSpan="8">
            <nz-form-control>
              <nz-form-label nzRequired>执行人</nz-form-label>
              <nz-form-control style="width: 320px" [nzAutoTips]="{ default: { required: '不能为空' } }">
                <nz-select style="width: 100%" formControlName="executor" nzPlaceHolder="请选择管理员">
                  <nz-option [nzValue]="0" nzLabel="kain"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-control>
          </nz-col>
          <nz-col nzSpan="8">
            <nz-form-control>
              <nz-form-label nzRequired>责任人</nz-form-label>
              <nz-form-control style="width: 320px" [nzAutoTips]="{ default: { required: '不能为空' } }">
                <nz-select style="width: 100%" formControlName="responsible" nzPlaceHolder="请选择审批员">
                  <nz-option [nzValue]="0" nzLabel="kain"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-control>
          </nz-col>
          <nz-col nzSpan="8">
            <nz-form-control>
              <nz-form-label nzRequired>生效日期</nz-form-label>
              <nz-form-control style="width: 320px" [nzAutoTips]="{ default: { required: '不能为空' } }">
                <nz-date-picker style="width: 100%" formControlName="effective"></nz-date-picker>
              </nz-form-control>
            </nz-form-control>
          </nz-col>
          <nz-col nzSpan="8">
            <nz-form-control>
              <nz-form-label nzRequired>任务类型</nz-form-label>
              <nz-form-control style="width: 320px" [nzAutoTips]="{ default: { required: '不能为空' } }">
                <nz-select style="width: 100%" formControlName="type" nzPlaceHolder="请选择任务类型">
                  <nz-option [nzValue]="0" nzLabel="0号"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-control>
          </nz-col>
        </nz-row>
      </nz-card>
    </nz-col>
    <nz-col nzSpan="24">
      <nz-card nzTitle="成员管理">
        <nz-table #usersTable [nzData]="form.get('users')!.value" nzTableLayout="fixed" [nzFrontPagination]="false">
          <thead>
            <tr>
              <th>成员姓名</th>
              <th>工号</th>
              <th>所属部门</th>
              <th nzWidth="300px" nzRight>操作</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of usersTable.data; index as i">
              <ng-container *ngIf="!userForm.hasOwnProperty(item.employee_id); else edit">
                <tr>
                  <td>{{ item.name }}</td>
                  <td>{{ item.employee_id }}</td>
                  <td>{{ item.department }}</td>
                  <td><button type="button" nz-button nzType="link" (click)="openEditUser(i)">编辑</button></td>
                </tr>
              </ng-container>
              <ng-template #edit>
                <tr [formGroup]="userForm[item.employee_id]">
                  <td>
                    <nz-form-item>
                      <nz-form-control nzHasFeedback [nzAutoTips]="{ default: { required: '不能为空' } }">
                        <input nz-input placeholder="请输入" formControlName="name" />
                      </nz-form-control>
                    </nz-form-item>
                  </td>
                  <td>
                    <nz-form-item>
                      <nz-form-control nzHasFeedback [nzAutoTips]="{ default: { required: '不能为空' } }">
                        <input nz-input placeholder="请输入" formControlName="employee_id" />
                      </nz-form-control>
                    </nz-form-item>
                  </td>
                  <td>
                    <nz-form-item>
                      <nz-form-control nzHasFeedback [nzAutoTips]="{ default: { required: '不能为空' } }">
                        <input nz-input placeholder="请输入" formControlName="department" />
                      </nz-form-control>
                    </nz-form-item>
                  </td>
                  <td>
                    <nz-form-item>
                      <nz-form-control>
                        <button
                          type="button"
                          nz-button
                          nzType="link"
                          [disabled]="!userForm[item.employee_id].valid"
                          (click)="updateUser(i, userForm[item.employee_id]!.value)"
                        >
                          保存
                        </button>
                        <nz-divider nzType="vertical"></nz-divider>
                        <button
                          type="button"
                          nz-button
                          nzType="link"
                          nz-popconfirm
                          nzPopconfirmTitle="您确定要删除该数据吗?"
                          (nzOnConfirm)="deleteUser(i)"
                        >
                          删除
                        </button>
                        <nz-divider nzType="vertical"></nz-divider>
                        <button type="button" nz-button nzType="link" (click)="cancelEditUser(item.employee_id)">
                          取消
                        </button>
                      </nz-form-control>
                    </nz-form-item>
                  </td>
                </tr>
              </ng-template>
            </ng-container>
            <ng-container *ngIf="userForm.hasOwnProperty(0)">
              <tr [formGroup]="userForm[0]">
                <td>
                  <nz-form-item>
                    <nz-form-control nzHasFeedback [nzAutoTips]="{ default: { required: '不能为空' } }">
                      <input nz-input placeholder="请输入" formControlName="name" />
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td>
                  <nz-form-item>
                    <nz-form-control nzHasFeedback [nzAutoTips]="{ default: { required: '不能为空' } }">
                      <input nz-input placeholder="请输入" formControlName="employee_id" />
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td>
                  <nz-form-item>
                    <nz-form-control nzHasFeedback [nzAutoTips]="{ default: { required: '不能为空' } }">
                      <input nz-input placeholder="请输入" formControlName="department" />
                    </nz-form-control>
                  </nz-form-item>
                </td>
                <td>
                  <nz-form-item>
                    <nz-form-control>
                      <button type="button" nz-button nzType="link" [disabled]="!userForm[0].valid" (click)="addUser()">
                        保存
                      </button>
                      <nz-divider nzType="vertical"></nz-divider>
                      <button type="button" nz-button nzType="link" (click)="cancelAddUser()"> 取消 </button>
                    </nz-form-control>
                  </nz-form-item>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </nz-table>
        <button type="button" nz-button nzType="dashed" nzBlock (click)="openAddUser()">
          <i nz-icon nzType="plus"></i> 添加一行数据
        </button>
      </nz-card>
    </nz-col>
  </nz-row>
  <nz-affix style="position: absolute; bottom: 12px; right: 24px">
    <button nz-button nzSize="large" nzShape="round" nzType="primary">提交</button>
  </nz-affix>
</form>
