<nz-row [nzGutter]="8">
  <nz-col nzFlex="320px">
    <nz-card>
      <div class="user">
        <nz-avatar [nzSize]="128" nzSrc="/assets/user.png" nzIcon="user" nz-tooltip="更换头像"></nz-avatar>
        <h2></h2>
      </div>
      <nz-space class="user-detail" nzDirection="vertical">
        <span *nzSpaceItem><i nz-icon nzType="idcard"></i> </span>
        <span *nzSpaceItem><i nz-icon nzType="apartment"></i> XXX-XX部</span>
        <span *nzSpaceItem><i nz-icon nzType="mail"></i> zhangtqx@vip.qq.com</span>
      </nz-space>
      <nz-divider></nz-divider>
      <nz-space nzDirection="vertical">
        <span *nzSpaceItem><i nz-icon nzType="team"></i> 创建时间 2018-11-08</span>
        <span *nzSpaceItem><i nz-icon nzType="fund"></i> 您已累计进行 131 次会话登录</span>
        <h3 *nzSpaceItem>最近登录地点</h3>
        <div *nzSpaceItem>
          <nz-tag nzColor="warning">三亚</nz-tag>
        </div>
      </nz-space>
    </nz-card>
  </nz-col>
  <nz-col nzFlex="auto">
    <nz-card>
      <nz-card-tab>
        <nz-tabset nzSize="large">
          <nz-tab nzTitle="通知"></nz-tab>
          <nz-tab nzTitle="待办"></nz-tab>
        </nz-tabset>
      </nz-card-tab>
    </nz-card>
  </nz-col>
</nz-row>
