<nz-row [nzGutter]="8">
  <nz-col [nzSpan]="8">
    <nz-card *ngIf="wpx.user as user">
      <div class="user">
        <ng-container *ngIf="!!user.avatar; else defaultAvatar">
          <nz-avatar [nzSize]="128" [nzSrc]="[user.avatar] | wpxAssets"></nz-avatar>
        </ng-container>
        <ng-template #defaultAvatar>
          <nz-avatar [nzSize]="128" nzIcon="user"></nz-avatar>
        </ng-template>
        <h2> {{ !user.name ? '无称呼' : user.name }}</h2>
      </div>
      <nz-space class="details" nzDirection="vertical">
        <span *nzSpaceItem>
          <nz-tag nzColor="blue" nz-tooltip="用户名">
            <i nz-icon nzType="idcard"></i>
            <span>{{ user.username }}</span>
          </nz-tag>
        </span>
        <span *nzSpaceItem>
          <ng-container *ngIf="!!user.roles">
            <nz-tag *ngFor="let role of user.roles" nzColor="blue" nz-tooltip="权限组">
              <i nz-icon nzType="partition"></i>
              <span>{{ role }}</span>
            </nz-tag>
          </ng-container>
        </span>
        <span *nzSpaceItem>
          <nz-tag nzColor="blue" nz-tooltip="部门">
            <i nz-icon nzType="apartment"></i>
            <span>{{ !user.department ? '无' : user.department }}</span>
          </nz-tag>
        </span>
        <span *nzSpaceItem>
          <nz-tag nzColor="blue" nz-tooltip="电子邮件">
            <i nz-icon nzType="mail"></i>
            <span>{{ !user.email ? '无' : user.email }}</span>
          </nz-tag>
        </span>
      </nz-space>
      <nz-divider></nz-divider>
      <nz-space nzDirection="vertical">
        <span *nzSpaceItem>
          <i nz-icon nzType="team"></i>
          <i>
            创建时间
            <b>{{ user.create_time | date: 'yyyy年MM月dd日' }}</b>
          </i>
        </span>
        <span *nzSpaceItem>
          <i nz-icon nzType="fund"></i>
          <i>
            您已累计进行 <b>{{ user.sessions }}</b> 次会话登录
          </i>
        </span>
        <span *nzSpaceItem>
          <i nz-icon nzType="login"></i>
          <i>
            最近登录
            <b>[{{ user.last }}]</b>
          </i>
        </span>
      </nz-space>
      <nz-divider></nz-divider>
      <app-workbench-state></app-workbench-state>
    </nz-card>
  </nz-col>
  <nz-col [nzSpan]="16">
    <nz-row [nzGutter]="[16, 8]">
      <nz-col [nzSpan]="24">
        <nz-card nzTitle="进行中的项目" [nzExtra]="more">
          <ng-template #more><a nz-button nzType="link">全部项目</a> </ng-template>
          <div class="project" *ngFor="let item of projects" nz-card-grid>
            <div class="project-title">
              <nz-avatar [nzSize]="24" [nzSrc]="[item.avatar] | wpxAssets"></nz-avatar> <span>{{ item.title }}</span>
            </div>
            <p nz-typography>{{ item.description }}</p>
            <div class="project-footer">
              {{ item.group }} <span>{{ item.time }}</span>
            </div>
          </div>
        </nz-card>
      </nz-col>
      <nz-col [nzSpan]="24">
        <nz-card>
          <nz-card-tab>
            <nz-tabset nzSize="large">
              <nz-tab nzTitle="通知"></nz-tab>
              <nz-tab nzTitle="待办"></nz-tab>
            </nz-tabset>
          </nz-card-tab>
          <nz-list>
            <nz-list-empty></nz-list-empty>
          </nz-list>
        </nz-card>
      </nz-col>
    </nz-row>
  </nz-col>
</nz-row>
