<wpx-layout title="页面管理">
  <button *wpxLayoutAction nz-button nzType="primary" nzShape="circle" nz-tooltip="新增" (click)="form()">
    <i nz-icon nzType="plus"></i>
  </button>
</wpx-layout>

<ng-template #title>
  <nz-space>
    <nz-input-group *nzSpaceItem nzSuffixIcon="search">
      <input type="text" nz-input placeholder="搜索" [(ngModel)]="name" />
    </nz-input-group>
    <nz-button-group *nzSpaceItem>
      <button nz-button nz-tooltip="全部收起" (click)="expanded(tree.getTreeNodes(), false)">
        <i nz-icon nzType="node-collapse"></i>
      </button>
      <button nz-button nz-tooltip="全部展开" (click)="expanded(tree.getTreeNodes(), true)">
        <i nz-icon nzType="node-expand"></i>
      </button>
    </nz-button-group>
  </nz-space>
</ng-template>

<nz-row [nzGutter]="16">
  <nz-col [nzXl]="5" [nzLg]="6">
    <nz-card [nzTitle]="title">
      <nz-tree
        #tree
        nzBlockNode
        nzExpandAll
        nzDraggable
        nzShowLine
        nzShowIcon
        [nzData]="nodes"
        [nzSearchValue]="name"
        [nzExpandedIcon]="nzExpandedIcon"
        (nzClick)="selected($event)"
        (nzContextMenu)="actions($event, treeActions)"
        (nzOnDrop)="drop($event)"
      >
        <ng-template #nzExpandedIcon let-node>
          <ng-container *ngIf="(pages.data$ | async)?.[node.key] as page">
            <ng-container [ngSwitch]="page.kind">
              <ng-container *ngSwitchCase="'form'">
                <i nz-icon nzType="form"></i>
              </ng-container>
              <ng-container *ngSwitchCase="'dashboard'">
                <i nz-icon nzType="dashboard"></i>
              </ng-container>
              <ng-container *ngSwitchCase="'group'">
                <i nz-icon [nzType]="node.isExpanded ? 'ungroup' : 'group'"></i>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <i nz-icon nzType="database"></i>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-template>
        <nz-dropdown-menu #treeActions="nzDropdownMenu">
          <ul *ngIf="actionKey" nz-menu>
            <ng-container *ngIf="(pages.data$ | async)?.[actionKey] as page">
              <li nz-menu-item [nzSelected]="false">{{ page.name }}</li>
              <li nz-menu-divider></li>
              <li nz-menu-item (click)="form(page)"> 编辑 </li>
              <li nz-menu-item nzDanger (click)="delete(page)"> 删除 </li>
            </ng-container>
          </ul>
        </nz-dropdown-menu>
      </nz-tree>
    </nz-card>
  </nz-col>
  <nz-col [nzXl]="19" [nzLg]="18">
    <nz-card *ngIf="pages.key === 'home'; else schemaContent">
      <nz-result [nzIcon]="nzIcon">
        <ng-template #nzIcon><i nz-icon nzType="question-circle"></i></ng-template>
        <div nz-result-title> 使用提示 </div>
        <div nz-result-content>
          <p nz-typography>
            * 您可以在树视图中点击节点查看内容模型，也可以右键点击获得更多操作，同时支持拖拽进行排序。
          </p>
          <div nz-typography>
            <ul>
              <li> 『集合』 作为数据源，包含数据列表与数据填充等功能。</li>
              <li> 『表单』 独立的数据填充页面。</li>
              <li> 『仪表盘』 数据分析处理、结果展示功能，如数据汇总、趋势分析。</li>
              <li> 『分组』导航中将其他种类分组显示。</li>
            </ul>
          </div>
        </div>
      </nz-result>
    </nz-card>
    <ng-template #schemaContent>
      <nz-card>
        <nz-card-tab>
          <nz-tabset nzSize="large" nzLinkRouter>
            <nz-tab>
              <a *nzTabLink nz-tab-link [routerLink]="['/admin', 'settings', 'pages', pages.key, 'schema']"> 数据源 </a>
            </nz-tab>
            <nz-tab>
              <a *nzTabLink nz-tab-link [routerLink]="['/admin', 'settings', 'pages', pages.key, 'indexes']">
                索引规则
              </a>
            </nz-tab>
            <nz-tab>
              <a *nzTabLink nz-tab-link [routerLink]="['/admin', 'settings', 'pages', pages.key, 'rules']">
                显隐规则
              </a>
            </nz-tab>
            <nz-tab>
              <a *nzTabLink nz-tab-link [routerLink]="['/admin', 'settings', 'pages', pages.key, 'validator']">
                验证器
              </a>
            </nz-tab>
          </nz-tabset>
        </nz-card-tab>
        <router-outlet></router-outlet>
      </nz-card>
    </ng-template>
  </nz-col>
</nz-row>
