nz-header {
  background: #fff;
}

nz-content {
  background: url('https://cdn.kainonly.com/assets/bg.svg') #fff no-repeat;
  background-size: 100%;
  background-position: center;
  flex: 1 1 auto;
}

.sign {
  max-width: 360px;
  margin: 9% auto 0;
}

nz-footer {
  background: #fff;
  text-align: center;
}
