<nz-layout class="main-layout">
  <bit-sider [(collapsed)]="collapsed" [data]="navLists"></bit-sider>
  <nz-layout class="right-layout" [ngClass]="{ collapsed: collapsed }">
    <nz-header [ngClass]="{ collapsed: collapsed }">
      <div nz-row nzJustify="space-between">
        <div nz-col> </div>
        <div nz-col>
          <div class="profile" nz-dropdown [nzDropdownMenu]="center">
            <nz-badge nzDot>
              <nz-avatar nzShape="square" [nzSize]="24" nzSrc="/assets/user.png"> </nz-avatar>
            </nz-badge>
            <span class="name">KAIN</span>

            <nz-dropdown-menu #center>
              <ul nz-menu>
                <li nz-menu-item routerLink="/profile">
                  <i nz-icon nzType="user"></i>
                  <span>&nbsp; {{ bit.l['center'] }} </span>
                </li>
                <li nz-submenu>
                  <span title>
                    <i nz-icon nzType="translation"></i>
                    &nbsp; {{ bit.l['language'] }}
                  </span>
                  <ul>
                    <li nz-menu-item (click)="bit.setLocale('zh_cn')">
                      <small>[ cn ]</small><span>&nbsp;- 简体中文</span>
                    </li>
                    <li nz-menu-item (click)="bit.setLocale('en_us')">
                      <small>[ us ]</small><span>&nbsp;- English</span>
                    </li>
                  </ul>
                </li>
                <li nz-menu-divider></li>
                <li nz-menu-item (click)="logout()">
                  <i nz-icon nzType="logout"></i>
                  <span>&nbsp; {{ bit.l['exit'] }} </span>
                </li>
              </ul>
            </nz-dropdown-menu>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <bit-page-header></bit-page-header>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
