<wpx-richtext
  [wpxPlaceholder]="placeholder"
  [wpxFallback]="['assets', 'photon.svg'] | wpxAssets"
  [wpxPictures]="openPictures"
  [wpxVideos]="openVideos"
  [(ngModel)]="value"
  (ngModelChange)="onChanged($event)"
></wpx-richtext>

<ng-template #footerRef let-ref="modalRef">
  <button nz-button (click)="ref.triggerCancel()">Cancel</button>
  <ng-container *ngIf="instance.ds.selection.size as size">
    <ng-container *ngIf="size > 1; else normalRef">
      <button nz-button disabled> Maximum limit exceeded </button>
    </ng-container>
    <ng-template #normalRef>
      <button nz-button nzType="primary" (click)="ref.triggerOk()"> Import </button>
    </ng-template>
  </ng-container>
</ng-template>
