<nz-card>
  <nz-list nzItemLayout="vertical">
    <nz-list nzSize="large" nzItemLayout="vertical">
      <nz-list-item>
        <nz-list-item-meta>
          <nz-list-item-meta-avatar>
            <ng-container [ngSwitch]="data['office']">
              <ng-container *ngSwitchCase="'feishu'">
                <nz-avatar
                  nzShape="square"
                  nzSize="large"
                  [nzSrc]="['assets', 'office', 'feishu.png'] | wpxAssets"
                ></nz-avatar>
              </ng-container>
              <ng-container *ngSwitchCase="'dingtalk'">
                <nz-avatar
                  nzShape="square"
                  nzSize="large"
                  [nzSrc]="['assets', 'office', 'dingtalk.png'] | wpxAssets"
                ></nz-avatar>
              </ng-container>
              <ng-container *ngSwitchCase="'work-weixin'">
                <nz-avatar
                  nzShape="square"
                  nzSize="large"
                  [nzSrc]="['assets', 'office', 'work-weixin.png'] | wpxAssets"
                ></nz-avatar>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <nz-avatar nzShape="square" nzSize="large" nzIcon="question"></nz-avatar>
              </ng-container>
            </ng-container>
          </nz-list-item-meta-avatar>
          <nz-list-item-meta-title>
            <b [ngSwitch]="data['office']">
              <ng-container *ngSwitchCase="'feishu'">飞书</ng-container>
              <ng-container *ngSwitchCase="'dingtalk'">钉钉</ng-container>
              <ng-container *ngSwitchCase="'work-weixin'">企业微信</ng-container>
              <ng-container *ngSwitchDefault>当前未关联企业平台</ng-container>
            </b>
          </nz-list-item-meta-title>
        </nz-list-item-meta>

        <nz-descriptions style="width: 800px" nzSize="small" nzBordered nzLayout="vertical" [nzColumn]="2">
          <nz-descriptions-item nzTitle="应用 ID">
            <ng-container *ngIf="data['feishu_app_id']; else unkown">
              {{ data['feishu_app_id'] }}
            </ng-container>
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="应用密钥">
            <ng-container *ngIf="data['feishu_app_secret']; else unkown"> 已设置 </ng-container>
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="事件订阅安全校验数据密钥">
            <ng-container *ngIf="data['feishu_encrypt_key']; else unkown"> 已设置 </ng-container>
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="事件订阅验证令牌">
            <ng-container *ngIf="data['feishu_verification_token']; else unkown"> 已设置 </ng-container>
          </nz-descriptions-item>
        </nz-descriptions>

        <nz-list-item-extra>
          <button nz-button nzType="link" (click)="setPlatform()">设置</button>
          <ng-container *ngIf="!!data['office']">
            <button
              nz-button
              nzType="link"
              nzDanger
              nz-popconfirm
              nzPopconfirmTitle="您确定要取消该关联吗？"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="unset()"
            >
              取消关联
            </button>
          </ng-container>
        </nz-list-item-extra>
      </nz-list-item>
    </nz-list>
  </nz-list>

  <nz-card nzTitle="以下设置需要关联一种企业平台作为支持，切换企业平台原设置将失效">
    <nz-list nzSize="large" nzItemLayout="vertical">
      <nz-list-item>
        <nz-list-item-meta>
          <nz-list-item-meta-title><b>第三方免登陆</b></nz-list-item-meta-title>
          <nz-list-item-meta-description> 允许通过企业平台用户身份进行登录 </nz-list-item-meta-description>
        </nz-list-item-meta>
        <nz-descriptions style="width: 800px" nzSize="small" nzBordered nzLayout="vertical" [nzColumn]="2">
          <nz-descriptions-item nzTitle="免登授权码跳转地址">
            <ng-container *ngIf="data['redirect_url']; else unkown">
              {{ data['redirect_url'] }}
            </ng-container>
          </nz-descriptions-item>
        </nz-descriptions>
        <nz-list-item-extra>
          <button nz-button nzType="primary" nzShape="circle" nz-tooltip="设置" (click)="setRedirect()">
            <i nz-icon nzType="tool"></i>
          </button>
        </nz-list-item-extra>
      </nz-list-item>
      <nz-list-item>
        <nz-list-item-meta>
          <nz-list-item-meta-title><b>任务同步</b></nz-list-item-meta-title>
          <nz-list-item-meta-description>
            针对任务资源提供的开放 API，可以支持任务的创建、更新、删除等操作
          </nz-list-item-meta-description>
        </nz-list-item-meta>
      </nz-list-item>
      <nz-list-item>
        <nz-list-item-meta>
          <nz-list-item-meta-title><b>日历同步</b></nz-list-item-meta-title>
          <nz-list-item-meta-description>
            日历 API
            基于飞书日历功能开放了对日历、日程、忙闲等实体的操作查询能力，开发者能以「应用」或「用户」身份调用日历 API
            操作对应数据
          </nz-list-item-meta-description>
        </nz-list-item-meta>
      </nz-list-item>
      <nz-list-item>
        <nz-list-item-meta>
          <nz-list-item-meta-title><b>消息</b></nz-list-item-meta-title>
          <nz-list-item-meta-description> 使用飞书提供了一系列即时通讯场景的 API </nz-list-item-meta-description>
        </nz-list-item-meta>
      </nz-list-item>
    </nz-list>
  </nz-card>
</nz-card>

<ng-template #unkown>未设置</ng-template>
