<form nz-form nzLayout="vertical" id="form" [formGroup]="form" (wpxSubmit)="submit($event)">
  <nz-form-item>
    <nz-form-label nzRequired>Email</nz-form-label>
    <nz-form-control nzExtra="*After the modification, you need to sign in again." [nzAutoTips]="tips.email">
      <input type="text" nz-input formControlName="email" placeholder="mail@example.com" />
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button type="button" nzType="default" (click)="close()">Cancel</button>
  <button nz-button nzType="primary" form="form" [disabled]="!form.valid">Submit</button>
</div>
