<nz-layout class="note-container">
  <nz-sider class="note-sider" nzTheme="light" [nzWidth]="600">
    <form nz-form nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzRequired>小记</nz-form-label>
        <nz-form-control>
          <wpx-richtext wpxPlaceholder="记你想记..."></wpx-richtext>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary" [disabled]="!form?.valid">小记一下</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-sider>
  <nz-layout style="overflow: auto">
    <nz-content class="note-content">
      <nz-card>
        <nz-card-tab>
          <nz-tabset nzSize="large">
            <nz-tab nzTitle="小记"></nz-tab>
            <nz-tab nzTitle="已归档"></nz-tab>
          </nz-tabset>
        </nz-card-tab>
      </nz-card>
    </nz-content>
  </nz-layout>
</nz-layout>
