<ul nz-menu [nzTheme]="theme" nzMode="inline">
  <ng-container *ngTemplateOutlet="navTemplate; context: { $implicit: navs }"></ng-container>
  <ng-template #navTemplate let-navs>
    <ng-container *ngFor="let nav of navs | Sort: 'sort'">
      <ng-container *ngIf="nav.router; else not">
        <li nz-menu-item nzMatchRouter [nzPaddingLeft]="nav.level * 16" [routerLink]="nav.path">
          <i *ngIf="!!nav.icon" nz-icon [nzType]="nav.icon"></i>
          <span>{{ nav.name }}</span>
        </li>
      </ng-container>
      <ng-template #not>
        <li
          nz-submenu
          [nzOpen]="nav.fragments[0] === router.fragments[0] && nav.level < router.fragments.length"
          [nzPaddingLeft]="nav.level * 16"
        >
          <span title>
            <i *ngIf="!!nav.icon" nz-icon [nzType]="nav.icon"></i>
            <span>{{ nav.name }}</span>
          </span>
          <ul>
            <ng-container *ngTemplateOutlet="navTemplate; context: { $implicit: nav.children }"></ng-container>
          </ul>
        </li>
      </ng-template>
    </ng-container>
  </ng-template>
</ul>
