<nz-page-header [nzGhost]="false">
  <nz-page-header-title>{{ data.name }}</nz-page-header-title>
  <nz-page-header-tags>
    <nz-tag nzColor="blue" [ngSwitch]="data.kind">
      <ng-container *ngSwitchCase="'default'">标准类型</ng-container>
      <ng-container *ngSwitchCase="'cms'">内容类型</ng-container>
    </nz-tag>
  </nz-page-header-tags>
  <nz-page-header-extra>
    <button nz-button nzType="primary" nzShape="circle" (click)="openForm()">
      <span nz-icon nzType="edit" nzTheme="outline"></span>
    </button>
  </nz-page-header-extra>
  <nz-page-header-content>
    <nz-descriptions nzSize="small" [nzColumn]="3" nzLayout="vertical">
      <nz-descriptions-item nzTitle="命名空间">
        <span nz-typography [nzContent]="data.namespace" nzCopyable></span>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="SECRET ID">
        <span nz-typography [nzContent]="data.secret_id" nzCopyable></span>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="SECRET KEY">
        <span nz-typography [nzContent]="data.secret_key" nzCopyable></span>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="有效期">
        <ng-container *ngIf="data.expire; else eternal"> 截止至 {{ data.expire | date: 'yyyy-MM-dd' }} </ng-container>
        <ng-template #eternal>长期</ng-template>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="创建日期">
        {{ data.create_time | date: 'yyyy-MM-dd' }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="更新日期">
        {{ data.update_time | date: 'yyyy-MM-dd' }}
      </nz-descriptions-item>
    </nz-descriptions>
  </nz-page-header-content>
  <nz-page-header-footer>
    <nz-tabset nzSize="small" [(nzSelectedIndex)]="tabIndex">
      <nz-tab nzTitle="自动部署"></nz-tab>
      <nz-tab nzTitle="OpenAPI 限制"></nz-tab>
    </nz-tabset>
  </nz-page-header-footer>
</nz-page-header>

<nz-content style="overflow: hidden auto; margin-top: 8px" [ngSwitch]="tabIndex">
  <ng-container *ngSwitchCase="0">
    <nz-alert nzBanner nzType="info" nzMessage="请接入集群，自动部署需要先关联集群才能使用"></nz-alert>
    <nz-page-header [nzGhost]="false">
      <nz-page-header-title>
        <ng-template #notConnectedText> 尚未接入 </ng-template>
        <ng-container *ngIf="data.cluster; else notConnectedText"> 已接入：{{ cluster?.name }} </ng-container>
        <a (click)="openCluster()">
          <span nz-icon nzType="edit" nzTheme="outline"></span>
        </a>
      </nz-page-header-title>
      <nz-page-header-tags *ngIf="data.cluster">
        <ng-container *ngIf="clusterInfo as info">
          <nz-tag>{{ info.version }}</nz-tag>
          <nz-tag>CPU：{{ info.cpu }}</nz-tag>
          <nz-tag>MEM：{{ info.mem | nzBytes }}</nz-tag>
          <nz-tag>STORAGE：{{ info.storage | nzBytes }}</nz-tag>
        </ng-container>
        <nz-tag *ngIf="cluster?.admin" nzColor="orange">管理集群</nz-tag>
      </nz-page-header-tags>
      <nz-page-header-extra>
        <button nz-button nzShape="circle" nzType="primary" (click)="getTenants()">
          <span nz-icon nzType="sync" nzTheme="outline"></span>
        </button>
      </nz-page-header-extra>
    </nz-page-header>
    <nz-card [nzBodyStyle]="{ 'padding-top.px': 12 }">
      <nz-row [nzGutter]="[8, 8]">
        <nz-col [nzSpan]="12">
          <ng-template #natsEditTpl>
            <button
              nz-button
              nzType="text"
              [disabled]="!data.cluster"
              nz-popconfirm
              [nzPopconfirmTitle]="data.nats ? '您确定要启用 NATS 租户吗?' : '租户已存在确认要重置吗？'"
              (nzOnConfirm)="deployNats()"
            >
              <span nz-icon nzType="deployment-unit" nzTheme="outline"></span>
            </button>
          </ng-template>
          <nz-card nzSize="small" nzType="inner" nzTitle="NATS 租户" [nzExtra]="natsEditTpl">
            <p>在接入集群中建立隔离 NATS 资源的账号，NATS 集群在 Kubernetes 中命名空间必须是 nats-system</p>
            <nz-descriptions nzSize="small" nzLayout="vertical" [nzColumn]="2">
              <nz-descriptions-item nzTitle="NKey" [nzSpan]="2">
                <ng-container *ngIf="data.nats && tenants?.nkey; else unsetText">
                  <span nz-typography nzCopyable [nzContent]="tenants.nkey"></span>
                </ng-container>
              </nz-descriptions-item>
            </nz-descriptions>
          </nz-card>
        </nz-col>
        <nz-col [nzSpan]="12">
          <ng-template #redisEditTpl>
            <button nz-button nzType="text">
              <span nz-icon nzType="deployment-unit" nzTheme="outline"></span>
            </button>
          </ng-template>
          <nz-card nzSize="small" nzType="inner" nzTitle="Redis 租户" [nzExtra]="redisEditTpl">
            <p>在接入集群中建立新的 Redis 副本容器，Kubernetes 必须存在 redis-system 命名空间 </p>
            <nz-descriptions nzSize="small" nzLayout="vertical" [nzColumn]="2">
              <nz-descriptions-item nzTitle="连接地址">
                <ng-container *ngIf="data?.redis && tenants?.redis_host; else unsetText">
                  <span nz-typography nzCopyable [nzContent]="tenants.redis_host"></span>
                </ng-container>
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="授权">
                <ng-container *ngIf="data?.redis && tenants?.redis_auth; else unsetText">
                  <span nz-typography nzCopyable [nzContent]="tenants.redis_auth"></span>
                </ng-container>
              </nz-descriptions-item>
            </nz-descriptions>
          </nz-card>
        </nz-col>
      </nz-row>
    </nz-card>
  </ng-container>
  <ng-container *ngSwitchCase="1">
    <nz-alert nzBanner nzType="info" nzMessage="支持 CIDR，例如：192.168.1.0/24"></nz-alert>
    <nz-card>
      <nz-table #entryTable nzHideOnSinglePage [nzData]="data.entry ?? []" [nzFooter]="entryActions">
        <thead>
          <tr>
            <th><b>IP 地址</b></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of entryTable.data">
            <td>{{ item }}</td>
          </tr>
        </tbody>
        <ng-template #entryActions>
          <button nz-button nzType="text" nzBlock (click)="openEntry()">编辑</button>
        </ng-template>
      </nz-table>
    </nz-card>
  </ng-container>
</nz-content>

<ng-template #unsetText> 未启用 </ng-template>
