<ng-template #uploadRef>
  <wpx-upload-transport [wpxExt]="ext" [wpxAccept]="accept" (wpxChange)="upload($event)"></wpx-upload-transport>
</ng-template>

<ng-template #searchRef>
  <nz-row nzJustify="space-between" [style.width]="!modalRef ? '100%' : '95%'">
    <nz-col>
      <nz-row [nzGutter]="8">
        <nz-col>
          <nz-input-group nzCompact>
            <input
              style="width: 420px"
              type="text"
              nz-input
              placeholder="请输入搜索关键词"
              [(ngModel)]="searchText"
              (keyup.enter)="getData(true)"
            />
            <button nz-button (click)="getData(true)"><i nz-icon nzType="search"></i></button>
          </nz-input-group>
        </nz-col>
        <nz-col>
          <a nz-button nzType="link" disabled>高级搜索</a>
        </nz-col>
      </nz-row>
    </nz-col>
    <nz-col> </nz-col>
    <nz-col>
      <nz-row [nzGutter]="8">
        <nz-col>
          <nz-button-group>
            <button nz-button nzType="text" nz-tooltip="刷新" (click)="getData(true)">
              <i nz-icon nzType="reload"></i>
            </button>
            <button nz-button nzType="text" nz-tooltip="清除搜索" (click)="clearSearch()">
              <i nz-icon nzType="clear"></i>
            </button>
            <nz-badge [nzCount]="ds.checkedNumber">
              <button
                nz-button
                nzType="text"
                [nzDisabled]="!ds.checkedNumber"
                nz-tooltip="批量操作"
                nz-dropdown
                [nzDropdownMenu]="bulkRef"
              >
                <i nz-icon nzType="inbox"></i>
              </button>
            </nz-badge>
            <nz-dropdown-menu #bulkRef="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item (click)="bulkUnchecked()"> 取消选择 </li>
                <li nz-menu-item nzDanger (click)="bulkDelete()"> 删除 </li>
              </ul>
            </nz-dropdown-menu>
          </nz-button-group>
        </nz-col>
      </nz-row>
    </nz-col>
  </nz-row>
</ng-template>

<cdk-virtual-scroll-viewport class="infinite-container" [style.height]="wpxHeight ?? '100%'" itemSize="351">
  <nz-list nzGrid nzItemLayout="vertical" [nzBordered]="false">
    <nz-list-item *cdkVirtualFor="let item of ds" style="padding-top: 0">
      <nz-row style="width: 100%" [nzGutter]="8">
        <div *ngFor="let x of item" nz-col [nzSpan]="24 / ds.itemSize">
          <nz-card nzHoverable [nzCover]="coverRef" [nzActions]="[tagsRef, editRef, deleteRef]">
            <ng-template #coverRef>
              <ng-container [ngSwitch]="wpxType">
                <ng-container *ngSwitchCase="'pictures'">
                  <div class="photo" (click)="previewPicture(x)">
                    <img
                      nz-image
                      nzDisablePreview
                      [nzSrc]="[x.url, 'thumbnail'] | wpxAssets: { params: x.params }"
                      [nzPlaceholder]="[x.url, 'placeholder'] | wpxAssets: { params: x.params }"
                      [nzFallback]="wpxFallback"
                      [alt]="x.name"
                    />
                  </div>
                </ng-container>
                <ng-container *ngSwitchCase="'videos'">
                  <div class="photo" (click)="previewPoster(x)">
                    <img
                      nz-image
                      nzDisablePreview
                      [nzSrc]="[x.url + '_chart'] | wpxAssets"
                      [nzFallback]="wpxFallback"
                      [alt]="x.name"
                    />
                  </div>
                </ng-container>
              </ng-container>
            </ng-template>
            <nz-card-meta style="height: 50px" [nzDescription]="descriptionRef">
              <ng-template #descriptionRef>
                <label nz-checkbox [ngModel]="ds.checkedIds.has(x._id)" (ngModelChange)="ds.setChecked(x._id, $event)">
                  <p nz-typography nzEllipsis [nzEllipsisRows]="2" [nzContent]="x.name"></p>
                </label>
              </ng-template>
            </nz-card-meta>
            <ng-template #tagsRef>
              <ng-container [ngSwitch]="wpxType">
                <ng-container *ngSwitchCase="'pictures'">
                  <i nz-icon nzType="setting" nz-tooltip="设置" (click)="picture(x)"></i>
                </ng-container>
                <ng-container *ngSwitchCase="'videos'">
                  <i nz-icon nzType="play-square" nz-tooltip="播放" (click)="video(x)"></i>
                </ng-container>
              </ng-container>
            </ng-template>
            <ng-template #editRef>
              <i nz-icon nzType="edit" nz-tooltip="编辑" (click)="form(x)"></i>
            </ng-template>
            <ng-template #deleteRef>
              <i
                nz-icon
                nzType="delete"
                nz-tooltip="删除"
                nz-popconfirm
                nzPopconfirmTitle="您确定要删除该资源吗?"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="delete(x)"
              ></i>
            </ng-template>
          </nz-card>
        </div>
      </nz-row>
    </nz-list-item>
  </nz-list>
</cdk-virtual-scroll-viewport>

<ng-template [nzModalFooter]>
  <nz-row nzJustify="space-between">
    <nz-col>
      <ng-container *ngTemplateOutlet="uploadRef"></ng-container>
    </nz-col>
    <nz-col></nz-col>
    <nz-col>
      <nz-row [nzGutter]="8">
        <nz-col>
          <button nz-button type="button" nzType="default" (click)="close()">取消</button>
        </nz-col>
        <nz-col>
          <nz-badge [nzCount]="ds.checkedNumber">
            <button nz-button type="button" nzType="primary" [disabled]="!ds.checkedNumber" (click)="submit()">
              确认
            </button>
          </nz-badge>
        </nz-col>
      </nz-row>
    </nz-col>
  </nz-row>
</ng-template>
