<form nz-form nzLayout="vertical" id="form" [formGroup]="form" (wpxSubmit)="submit($event)">
  <nz-form-item>
    <nz-form-label nzRequired> Area Code </nz-form-label>
    <nz-form-control>
      <nz-select formControlName="area" nzPlaceHolder="Please select an area code">
        <nz-option [nzLabel]="'+86 China'" [nzValue]="'+86'"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired> Phone Number </nz-form-label>
    <nz-form-control [nzAutoTips]="tips.phone">
      <input nz-input formControlName="phone" placeholder="Please enter a phone number" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired> Code </nz-form-label>
    <nz-form-control [nzAutoTips]="tips.code">
      <nz-row [nzGutter]="8">
        <nz-col [nzSpan]="12">
          <input nz-input formControlName="code" placeholder="Please enter the code" />
        </nz-col>
        <nz-col [nzSpan]="12">
          <button
            nz-button
            type="button"
            [nzLoading]="timer === 60"
            [disabled]="!form.get('phone')?.value || timer !== 0"
            (click)="getCode()"
          >
            <ng-container *ngIf="timer === 0; else timerText">Get</ng-container>
            <ng-template #timerText>{{ timer }} sec</ng-template>
          </button>
        </nz-col>
      </nz-row>
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button type="button" nzType="default" (click)="close()">Cancel</button>
  <button nz-button nzType="primary" form="form" [disabled]="!form.valid">Submit</button>
</div>
