<ng-template #extra>
  <nz-space>
    <button *nzSpaceItem nz-button nzType="primary" (click)="form()"> 新增 </button>
  </nz-space>
</ng-template>

<wpx-admin-toolbox-tabs [extra]="extra">
  <nz-list nzSize="large" nzItemLayout="vertical">
    <nz-list-empty *ngIf="items.length === 0"></nz-list-empty>
    <ng-container *ngFor="let item of items">
      <nz-list-item>
        <nz-list-item-meta>
          <nz-list-item-meta-title>
            <span>
              <ng-container *ngIf="item.status; else notOk">
                <nz-tag nzColor="processing">
                  <i nz-icon nzType="sync" nzSpin></i>
                  <span>运行</span>
                </nz-tag>
              </ng-container>
              <ng-template #notOk>
                <nz-tag nzColor="error">
                  <i nz-icon nzType="close-circle"></i>
                  <span>终止</span>
                </nz-tag>
              </ng-template>
            </span>
            {{ item.name }}
          </nz-list-item-meta-title>
          <nz-list-item-meta-description>
            {{ item.description }}
          </nz-list-item-meta-description>
        </nz-list-item-meta>

        <nz-table #basicTable [nzData]="item.jobs" [nzHideOnSinglePage]="true">
          <thead>
            <tr>
              <th nzWidth="200px">触发方式</th>
              <th nzWidth="200px">计时规格</th>
              <th>配置</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>
                <ng-container [ngSwitch]="data.mode">
                  <ng-container *ngSwitchCase="'HTTP'">网络回调</ng-container>
                </ng-container>
              </td>
              <td>{{ data.spec }}</td>
              <td>
                <ng-container [ngSwitch]="data.mode">
                  <ng-container *ngSwitchCase="'HTTP'">
                    <nz-descriptions [nzColumn]="1">
                      <nz-descriptions-item nzTitle="网络回调地址">{{ data.option.url }}</nz-descriptions-item>
                      <nz-descriptions-item nzTitle="请求头部">{{ data.option.headers | json }}</nz-descriptions-item>
                      <nz-descriptions-item nzTitle="请求体">{{ data.option.body | json }}</nz-descriptions-item>
                    </nz-descriptions>
                  </ng-container>
                </ng-container>
              </td>
            </tr>
          </tbody>
        </nz-table>

        <nz-list-item-extra>
          <button nz-button nzType="text" nz-dropdown [nzDropdownMenu]="menu">
            <i nz-icon nzType="ellipsis"></i>
          </button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="form(item)">编辑</li>
              <li nz-menu-item (click)="setJobs(item)">设置</li>
              <li nz-menu-item nzDanger (click)="delete(item)">删除</li>
            </ul>
          </nz-dropdown-menu>
        </nz-list-item-extra>
      </nz-list-item>
    </ng-container>
  </nz-list>
</wpx-admin-toolbox-tabs>
