<div nz-row>
  <div nz-col nzFlex="600px">
    <form nz-form nzLayout="vertical">
      <nz-form-item>
        <nz-form-label>称呼</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input style="width: 360px" nz-input value="kain" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>电子邮件</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input style="width: 360px" nz-input value="zhangtqx@vip.qq.com" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>联系电话</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-input-group nzCompact>
            <input style="width: 100px" type="text" nz-input value="0898" />
            <input style="width: 260px" type="text" nz-input value="155****5333" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>国家/地区</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select style="width: 180px">
            <nz-option nzValue="中国" nzLabel="中国"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>所在省市</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-input-group nzCompact>
            <nz-select style="width: 180px"> </nz-select>
            <nz-select style="width: 180px"> </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzType="primary">更 新</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
