<form *ngIf="form" nz-form nzLayout="vertical" id="form" [formGroup]="form" (wpxSubmit)="submit($event)">
  <nz-tabset style="height: 100%" nzTabPosition="left" [(nzSelectedIndex)]="tabIndex">
    <nz-tab nzTitle="Type">
      <nz-card [nzBodyStyle]="{ 'padding.px': 1 }">
        <nz-radio-group formControlName="type">
          <ng-container *ngFor="let item of typeItems">
            <div nz-card-grid style="text-align: center; width: 25%" [nzHoverable]="false">
              <label nz-radio [nzValue]="item.value">
                <h2><span nz-icon [nzType]="item.icon" nzTheme="outline"></span> {{ item.label }} </h2>
                <span>{{ item.description }}</span>
              </label>
            </div>
          </ng-container>
        </nz-radio-group>
      </nz-card>
    </nz-tab>
    <nz-tab nzTitle="Basic">
      <nz-row [nzGutter]="24">
        <nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired>Display Name</nz-form-label>
            <nz-form-control
              nzHasFeedback
              [nzAutoTips]="{
                default: {
                  required: 'Display Name cannot be empty'
                }
              }"
            >
              <input nz-input type="text" formControlName="name" placeholder="Display name, such as Order Number" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Placeholder</nz-form-label>
            <nz-form-control nzHasFeedback>
              <input
                nz-input
                type="text"
                formControlName="placeholder"
                placeholder="Prompt information in the input box"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Description</nz-form-label>
            <nz-form-control>
              <textarea
                nz-input
                formControlName="description"
                [rows]="3"
                placeholder="Additional description outside the text box"
              ></textarea>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired>Field Key</nz-form-label>
            <nz-form-control
              nzHasFeedback
              [nzAutoTips]="{
                default: {
                  required: 'Field Key cannot be empty',
                  pattern: 'Only lowercase letters and underscores are allowed',
                  duplicated: 'Field Key must be unique'
                }
              }"
            >
              <input
                nz-input
                type="text"
                formControlName="key"
                placeholder="Database collection field, such as order_number"
              />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label nzRequired>Required</nz-form-label>
            <nz-form-control nzExtra="This section is required when creating content">
              <nz-switch formControlName="required"></nz-switch>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired>Visible</nz-form-label>
            <nz-form-control
              nzExtra="It is not displayed in the form, but can be displayed by triggering an explicit rule"
            >
              <nz-switch formControlName="visible"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>
    </nz-tab>
    <nz-tab nzTitle="Advanced">
      <nz-row [nzGutter]="24">
        <nz-col *ngIf="option" [nzSpan]="12">
          <ng-container formGroupName="option" [ngSwitch]="type.value">
            <ng-container *ngSwitchCase="'number'">
              <nz-form-item>
                <nz-form-label>Min</nz-form-label>
                <nz-form-control>
                  <nz-input-number
                    style="width: 100%"
                    formControlName="min"
                    [nzStep]="1"
                    [nzPrecision]="0"
                    nzPlaceHolder="Minimum value, such as 1"
                  ></nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label>Max</nz-form-label>
                <nz-form-control>
                  <nz-input-number
                    style="width: 100%"
                    formControlName="max"
                    [nzStep]="1"
                    [nzPrecision]="0"
                    nzPlaceHolder="Maximum value, such as 1000"
                  ></nz-input-number>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label>Decimal</nz-form-label>
                <nz-form-control>
                  <nz-input-number
                    style="width: 100%"
                    formControlName="decimal"
                    [nzStep]="1"
                    [nzPrecision]="0"
                  ></nz-input-number>
                </nz-form-control>
              </nz-form-item>
            </ng-container>
            <ng-container *ngSwitchCase="'date'">
              <nz-form-item>
                <nz-form-label>Include Time</nz-form-label>
                <nz-form-control>
                  <nz-switch formControlName="time"></nz-switch>
                </nz-form-control>
              </nz-form-item>
            </ng-container>
            <ng-container *ngSwitchCase="'dates'">
              <nz-form-item>
                <nz-form-label>Include Time</nz-form-label>
                <nz-form-control>
                  <nz-switch formControlName="time"></nz-switch>
                </nz-form-control>
              </nz-form-item>
            </ng-container>
            <ng-template #enumsRef>
              <nz-form-item>
                <nz-form-label>Enumeration</nz-form-label>
                <nz-form-control formArrayName="enums">
                  <ng-container *ngFor="let x of optionEnums.controls; index as i; first as isFirst">
                    <nz-input-group [formGroupName]="i" nzCompact [ngStyle]="{ 'margin-top': isFirst ? null : '-1px' }">
                      <input style="width: 45%" type="text" nz-input formControlName="label" placeholder="Label" />
                      <input style="width: 45%" type="text" nz-input formControlName="value" placeholder="Value" />
                      <button style="width: 10%" nz-button type="button" nzType="default" (click)="removeOptionEnum(i)">
                        <i nz-icon nzType="minus-circle"></i>
                      </button>
                    </nz-input-group>
                  </ng-container>
                  <button
                    style="margin-top: 8px"
                    type="button"
                    nz-button
                    nzType="dashed"
                    nzBlock
                    (click)="addOptionEnum()"
                  >
                    <i nz-icon nzType="plus-circle"></i> Create
                  </button>
                </nz-form-control>
              </nz-form-item>
            </ng-template>
            <ng-container *ngSwitchCase="'radio'">
              <ng-container *ngTemplateOutlet="enumsRef"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'checkbox'">
              <ng-container *ngTemplateOutlet="enumsRef"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'select'">
              <nz-form-item>
                <nz-form-label>Multiple</nz-form-label>
                <nz-form-control>
                  <nz-switch formControlName="multiple"></nz-switch>
                </nz-form-control>
              </nz-form-item>
              <ng-container *ngTemplateOutlet="enumsRef"></ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="'ref'">
              <nz-form-item>
                <nz-form-label>Multiple</nz-form-label>
                <nz-form-control>
                  <nz-switch formControlName="multiple"></nz-switch>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzRequired>Reference</nz-form-label>
                <nz-form-control>
                  <nz-select formControlName="ref" nzPlaceHolder="Please select a reference">
                    <ng-container *ngFor="let x of refers">
                      <nz-option [nzValue]="x._id" [nzLabel]="x.name + ' [' + x.schema!.key + ']'"> </nz-option>
                    </ng-container>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label nzRequired>Reference Display Field</nz-form-label>
                <nz-form-control>
                  <nz-select formControlName="ref_key" nzPlaceHolder="Please select a field">
                    <ng-container *ngFor="let x of referFields">
                      <nz-option [nzValue]="x.key" [nzLabel]="x.name + ' [' + x.key + ']'"> </nz-option>
                    </ng-container>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </ng-container>
            <ng-container *ngSwitchCase="'manual'">
              <nz-form-item>
                <nz-form-label nzRequired>Component</nz-form-label>
                <nz-form-control
                  nzHasFeedback
                  [nzAutoTips]="{
                    default: {
                      required: 'Component cannot be empty'
                    }
                  }"
                >
                  <input nz-input type="text" formControlName="component" placeholder="Please enter the component ID" />
                </nz-form-control>
              </nz-form-item>
            </ng-container>
          </ng-container>
        </nz-col>
        <nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label>Default</nz-form-label>
            <nz-form-control nzHasFeedback>
              <ng-container [ngSwitch]="type.value">
                <ng-container *ngSwitchCase="'string'">
                  <input nz-input type="text" formControlName="default_to" placeholder="Set default" />
                </ng-container>
                <ng-container *ngSwitchCase="'text'">
                  <textarea rows="3" nz-input formControlName="default_to" placeholder="Set default"></textarea>
                </ng-container>
                <ng-container *ngSwitchCase="'number'">
                  <nz-input-number
                    style="width: 100%"
                    formControlName="default_to"
                    nzPlaceHolder="Set default"
                    [nzStep]="1"
                    [nzMax]="!optionMax.value ? infinity : optionMax.value"
                    [nzMin]="!optionMin.value ? -infinity : optionMin.value"
                    [nzPrecision]="optionDecimal.value"
                  ></nz-input-number>
                </ng-container>
                <ng-container *ngSwitchCase="'date'">
                  <nz-date-picker
                    style="width: 100%"
                    formControlName="default_to"
                    nzPlaceHolder="Set default"
                    [nzShowTime]="optionTime.value"
                  ></nz-date-picker>
                </ng-container>
                <ng-container *ngSwitchCase="'dates'">
                  <nz-range-picker
                    style="width: 100%"
                    formControlName="default_to"
                    [nzShowTime]="optionTime.value"
                  ></nz-range-picker>
                </ng-container>
                <ng-container *ngSwitchCase="'bool'">
                  <nz-switch formControlName="default_to"></nz-switch>
                </ng-container>
                <ng-container *ngSwitchCase="'radio'">
                  <nz-radio-group formControlName="default_to">
                    <ng-container *ngFor="let x of optionEnums.value">
                      <label nz-radio [nzValue]="x.value">{{ x.label }}</label>
                    </ng-container>
                  </nz-radio-group>
                </ng-container>
                <ng-container *ngSwitchCase="'checkbox'">
                  <wpx-checkbox formControlName="default_to" [wpxOptions]="optionEnums.value"></wpx-checkbox>
                </ng-container>
                <ng-container *ngSwitchCase="'select'">
                  <nz-select
                    formControlName="default_to"
                    [nzMode]="optionMultiple.value ? 'tags' : 'default'"
                    nzPlaceHolder="Set default"
                  >
                    <ng-container *ngFor="let x of optionEnums.value">
                      <nz-option [nzLabel]="x.label" [nzValue]="x.value"></nz-option>
                    </ng-container>
                  </nz-select>
                </ng-container>
                <ng-container *ngSwitchDefault> None </ng-container>
              </ng-container>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>
    </nz-tab>
  </nz-tabset>
</form>

<div *nzModalFooter>
  <button nz-button type="button" nzType="default" (click)="close()">Cancel</button>
  <button nz-button nzType="primary" form="form" [disabled]="!form.valid">Submit</button>
</div>
