<nz-card>
  <nz-card-tab>
    <nz-tabset nzLinkRouter [nzAnimated]="false">
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['/admin', 'application', 'functions', 'public']"> 公共配置 </a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['/admin', 'application', 'functions', 'cloud']"> 云平台 </a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['/admin', 'application', 'functions', 'office']"> 企业办公 </a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['/admin', 'application', 'functions', 'schedule']"> 定时调度 </a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['/admin', 'application', 'functions', 'collector']"> 日志采集 </a>
      </nz-tab>
    </nz-tabset>
  </nz-card-tab>

  <router-outlet></router-outlet>
</nz-card>
