<nz-descriptions nzLayout="vertical" [nzColumn]="2">
  <nz-descriptions-item nzTitle="项目名称" [nzSpan]="1"> {{ data.name }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="SECRET ID & KEY">
    <nz-space *ngIf="data.secret_id && data.secret_key; else nothingRef">
      <span *nzSpaceItem nz-typography nzCopyable [nzContent]="data.secret_id"></span>
      <span *nzSpaceItem nz-typography nzCopyable [nzContent]="data.secret_key"></span>
    </nz-space>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="入口 IP 限制" [nzSpan]="2">
    <ng-container *ngIf="data.entry; else nothingRef">
      {{ data.entry }}
    </ng-container>
  </nz-descriptions-item>
</nz-descriptions>

<ng-template #nothingRef> 无 </ng-template>
