<nz-descriptions nzLayout="vertical" [nzColumn]="2">
  <nz-descriptions-item nzTitle="Project Name" [nzSpan]="1"> {{ data.name }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="SECRET ID and KEY">
    <nz-space *ngIf="data.secret_id && data.secret_key; else nothingRef">
      <span *nzSpaceItem nz-typography nzCopyable [nzContent]="data.secret_id"></span>
      <span *nzSpaceItem nz-typography nzCopyable [nzContent]="data.secret_key"></span>
    </nz-space>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="IP Restrictions" [nzSpan]="2">
    <ng-container *ngIf="data.entry; else nothingRef">
      {{ data.entry }}
    </ng-container>
  </nz-descriptions-item>
</nz-descriptions>

<ng-template #nothingRef> Nothing </ng-template>
