<form nz-form nzLayout="vertical" id="form" [formGroup]="form" (wpxSubmit)="submit($event)">
  <nz-form-item>
    <nz-form-label nzRequired>Key</nz-form-label>
    <nz-form-control nzHasFeedback [nzAutoTips]="tips.key">
      <input nz-input formControlName="key" [readOnly]="!!data" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>Value</nz-form-label>
    <nz-form-control
      nzExtra="*The configuration value will be stored as a string type, please submit the default configuration with caution"
      nzHasFeedback
      [nzAutoTips]="tips.value"
    >
      <ng-container [ngSwitch]="key">
        <ng-container *ngSwitchCase="'RestControls'">
          <nz-code-editor
            style="height: 400px; width: 100%"
            formControlName="value"
            [nzEditorOption]="{ language: 'json' }"
          ></nz-code-editor>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <textarea nz-input formControlName="value" nzAutosize rows="6"></textarea>
        </ng-container>
      </ng-container>
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button type="button" nzType="default" (click)="close()">Cancel</button>
  <button nz-button nzType="primary" form="form" [disabled]="!form.valid">Submit</button>
</div>
