<form nz-form nzLayout="vertical" id="form" [formGroup]="form" (wpxSubmit)="submit($event)">
  <nz-form-item>
    <nz-form-control nzExtra="使用动态令牌工具绑定账号，如 Authoriticator">
      <nz-qrcode [nzStatus]="status" [nzValue]="totp" (nzRefresh)="getTotp()"></nz-qrcode>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired i18n>验证码</nz-form-label>
    <nz-form-control>
      <nz-input-group nzCompact>
        <input style="width: 50%" type="text" nz-input formControlName="ts1" placeholder="请输入验证码" />
        <input style="width: 50%" type="text" nz-input formControlName="ts2" placeholder="请输入后续验证码" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button type="button" nzType="default" (click)="close()" i18n>取消</button>
  <button nz-button nzType="primary" form="form" [disabled]="!form.valid" i18n>提交</button>
</div>
