<wpx-layout>
  <button *wpxLayoutAction nz-button nzType="primary" nzShape="circle">
    <i nz-icon nzType="plus"></i>
  </button>
</wpx-layout>

<nz-card>
  <nz-row [nzGutter]="12">
    <nz-col nzFlex="240px">
      <nz-space style="margin-bottom: 12px">
        <nz-input-group *nzSpaceItem nzSuffixIcon="search">
          <input type="text" nz-input placeholder="搜索" [(ngModel)]="name" />
        </nz-input-group>
        <nz-button-group *nzSpaceItem>
          <button nz-button nz-tooltip="全部收起" (click)="layout.setExpanded(pageTree.getTreeNodes(), false)">
            <i nz-icon nzType="node-collapse"></i>
          </button>
          <button nz-button nz-tooltip="全部展开" (click)="layout.setExpanded(pageTree.getTreeNodes(), true)">
            <i nz-icon nzType="node-expand"></i>
          </button>
        </nz-button-group>
      </nz-space>
      <nz-tree
        #pageTree
        nzBlockNode
        nzShowLine
        nzShowIcon
        nzExpandAll
        nzDraggable
        [nzData]="nodes"
        [nzSearchValue]="name"
        (nzClick)="fetchData($event)"
      >
      </nz-tree>
    </nz-col>
    <nz-col nzFlex="auto"> </nz-col>
  </nz-row>
</nz-card>
