<ul nz-menu nzMode="inline" style="padding-top: 1px">
  <ng-container *ngTemplateOutlet="navTpl; context: { $implicit: data }"></ng-container>
  <ng-template #navTpl let-navs>
    <ng-container *ngFor="let nav of navs | wpxSort: 'sort'">
      <ng-container *ngIf="nav.kind !== 'group'; else isGroup">
        <li nz-menu-item nzMatchRouter [routerLink]="['/pages', nav['_id']]" [nzPaddingLeft]="nav | Level">
          <i *ngIf="nav.hasOwnProperty('icon')" nz-icon [nzType]="nav['icon']"></i>
          <span>{{ nav['name'] }}</span>
        </li>
      </ng-container>
      <ng-template #isGroup>
        <li nz-submenu [nzOpen]="openIds.has(nav._id)" [nzPaddingLeft]="nav | Level">
          <span title>
            <i *ngIf="nav.hasOwnProperty('icon')" nz-icon [nzType]="nav['icon']"></i>
            <span>{{ nav['name'] }}</span>
          </span>
          <ul>
            <ng-container *ngTemplateOutlet="navTpl; context: { $implicit: nav['children'] }"></ng-container>
          </ul>
        </li>
      </ng-template>
    </ng-container>
  </ng-template>
</ul>
