<nz-layout style="height: 100%; background: transparent">
  <nz-page-header>
    <nz-page-header-title>服务接入</nz-page-header-title>
    <nz-page-header-extra>
      <nz-space>
        <button nz-button nzType="primary" nzShape="circle" nz-tooltip="新增" (click)="openForm()">
          <span nz-icon nzType="plus" nzTheme="outline"></span>
        </button>
      </nz-space>
    </nz-page-header-extra>
  </nz-page-header>

  <nz-content style="overflow: hidden auto">
    <nz-card>
      <nz-list nzItemLayout="vertical">
        <nz-list-empty *ngIf="items.length === 0"></nz-list-empty>
        <nz-list-item *ngFor="let item of items" (contextmenu)="openActions($event, actions, item)">
          <nz-descriptions nzLayout="vertical" [nzColumn]="3">
            <nz-descriptions-item nzTitle="名称">
              {{ item.name }}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="节点 ID">
              {{ item.node_id }}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="状态">
              <ng-container *ngIf="statusDict.hasOwnProperty(item.node_id) && statusDict[item.node_id]; else stopRef">
                <nz-tag nzColor="processing">
                  <span nz-icon nzType="sync" nzSpin></span>
                  <span>运行中</span>
                </nz-tag>
              </ng-container>
              <ng-template #stopRef>
                <nz-tag nzColor="error">
                  <span nz-icon nzType="close-circle"></span>
                  <span>异常</span>
                </nz-tag>
              </ng-template>
            </nz-descriptions-item>
          </nz-descriptions>
        </nz-list-item>
      </nz-list>
    </nz-card>
  </nz-content>
</nz-layout>

<nz-dropdown-menu #actions="nzDropdownMenu">
  <ul *ngIf="activated as v" nz-menu>
    <li nz-menu-item nzDisabled>
      <b>{{ v.name }}</b>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item (click)="openForm(v)"> 修改 </li>
    <li nz-menu-item nzDanger (click)="delete(v)"> 删除 </li>
  </ul>
</nz-dropdown-menu>
