<nz-layout style="height: 100%; background: transparent">
  <nz-page-header>
    <nz-page-header-title>服务接入</nz-page-header-title>
    <nz-page-header-extra>
      <nz-space>
        <button nz-button nzType="primary" nzShape="circle" nz-tooltip="新增" (click)="openForm()">
          <span nz-icon nzType="plus" nzTheme="outline"></span>
        </button>
      </nz-space>
    </nz-page-header-extra>
    <nz-page-header-content>
      <nz-space nzAlign="center">
        <wpx-keyword
          *nzSpaceItem
          [wpxWidth]="240"
          [wpxModel]="model"
          [wpxKeys]="['name']"
          (wpxSubmit)="getData()"
          wpxPlaceholder="服务名称"
        ></wpx-keyword>
        <wpx-toolbox *nzSpaceItem [wpxModel]="model" (wpxClear)="getData()" (wpxRefresh)="getData()"> </wpx-toolbox>
      </nz-space>
    </nz-page-header-content>
  </nz-page-header>

  <nz-content style="height: 100%">
    <wpx-list
      #wpxList
      [wpxModel]="model"
      [wpxRender]="render"
      [wpxActions]="actions"
      [wpxBodyStyle]="{ height: '100%' }"
    >
      <ng-template #render let-item>
        <ng-template #titleRef>
          <b>{{ item.name }}</b>
        </ng-template>
        <ng-template #extraRef>
          <ng-container *ngIf="clusterDict[item.cluster_id]">
            所属集群：{{ clusterDict[item.cluster_id].name }}
          </ng-container>
        </ng-template>
        <nz-card nzType="inner" [nzTitle]="titleRef" [nzExtra]="extraRef">
          <nz-descriptions nzLayout="vertical" [nzColumn]="3">
            <nz-descriptions-item nzTitle="镜像地址" [nzSpan]="2">
              {{ item.image }}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="状态">
              <nz-badge *ngIf="pingDict[item._id]; else stopRef" nzStatus="processing" nzText="运行中"></nz-badge>
            </nz-descriptions-item>
          </nz-descriptions>
        </nz-card>
      </ng-template>
    </wpx-list>
  </nz-content>
</nz-layout>

<ng-template #stopRef>
  <nz-badge nzStatus="error" nzText="终止"></nz-badge>
</ng-template>

<nz-dropdown-menu #actions="nzDropdownMenu">
  <ul *ngIf="wpxList.actived as v" nz-menu>
    <li nz-menu-item nzDisabled>
      <b>{{ v.name }}</b>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item (click)="redeploy(v)"> 重新部署 </li>
    <li nz-menu-item (click)="openKeys(v)"> 查看 Cron </li>
    <li nz-menu-item (click)="openForm(v)"> 修改 </li>
    <li nz-menu-item nzDanger (click)="delete(v)"> 删除 </li>
  </ul>
</nz-dropdown-menu>
