<nz-layout style="height: 100%; background: transparent">
  <nz-page-header>
    <nz-page-header-title>服务接入</nz-page-header-title>
    <nz-page-header-extra>
      <nz-space>
        <button nz-button nzType="primary" nzShape="circle" nz-tooltip="新增" (click)="openForm()">
          <span nz-icon nzType="plus" nzTheme="outline"></span>
        </button>
      </nz-space>
    </nz-page-header-extra>
    <nz-page-header-footer>
      <nz-row nzJustify="space-between" nzAlign="middle">
        <nz-col>
          <nz-space nzAlign="center">
            <wpx-keyword
              *nzSpaceItem
              [wpxWidth]="240"
              [wpxModel]="model"
              [wpxKeys]="['name']"
              (wpxSubmit)="getData()"
              wpxPlaceholder="服务名称"
            ></wpx-keyword>
            <wpx-toolbox *nzSpaceItem [wpxModel]="model" (wpxClear)="getData()" (wpxRefresh)="getData()"> </wpx-toolbox>
          </nz-space>
        </nz-col>
        <nz-col></nz-col>
        <nz-col>
          <ng-container *ngIf="model.selection.size as size">
            <button nz-button nzType="dashed" nz-dropdown [nzDropdownMenu]="menu"> 已选中 {{ size }} 项 </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item (click)="wpxTable.clearSelections()"> 取消选择 </li>
              </ul>
              <ul nz-menu>
                <li nz-menu-item nzDanger (click)="bulkDelete()"> 删除 </li>
              </ul>
            </nz-dropdown-menu>
          </ng-container>
        </nz-col>
      </nz-row>
    </nz-page-header-footer>
  </nz-page-header>

  <nz-content style="height: 100%">
    <wpx-table
      #wpxTable
      [wpxModel]="model"
      [wpxColumns]="[
        {
          title: '服务名称',
          key: 'name',
          width: '800px',
          render: name
        },
        {
          title: '状态',
          key: 'status',
          render: status
        }
      ]"
      [wpxBodyStyle]="{ height: '100%' }"
      [wpxAction]="action"
    >
      <ng-template #name let-data>
        <a (click)="openKeys(data)" [nz-tooltip]="'节点命名:' + data.node">{{ data.name }}</a>
      </ng-template>
      <ng-template #status let-data>
        <nz-badge *ngIf="pingDict[data.node]; else stopRef" nzStatus="processing" nzText="运行中"></nz-badge>
      </ng-template>
    </wpx-table>
  </nz-content>
</nz-layout>

<ng-template #stopRef>
  <nz-badge nzStatus="error" nzText="脱机"></nz-badge>
</ng-template>

<ng-template #action let-data>
  <button nz-button nzType="text" nz-dropdown [nzDropdownMenu]="menu">
    <span nz-icon nzType="ellipsis" nzTheme="outline"></span>
  </button>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item (click)="openForm(data)"> 修改 </li>
      <li nz-menu-item nzDanger (click)="delete(data)"> 断开 </li>
    </ul>
  </nz-dropdown-menu>
</ng-template>
