<nz-layout class="main">
  <app-toolbar></app-toolbar>
  <nz-layout>
    <app-header *ngIf="app.project as v">
      <ul nz-menu nzMode="horizontal">
        <li nz-menu-item nzMatchRouter [routerLink]="['/', v.namespace, 'overview', 'cluster']">
          <span nz-icon nzType="cluster"></span>
          集群
        </li>
        <li nz-menu-item nzMatchRouter [routerLink]="['/', v.namespace, 'overview', 'cloud']">
          <span nz-icon nzType="cloud"></span>
          公有云
        </li>
        <li nz-menu-item nzMatchRouter [routerLink]="['/', v.namespace, 'overview', 'office']">
          <span nz-icon nzType="coffee"></span>
          企业平台
        </li>
        <li nz-menu-item nzMatchRouter [routerLink]="['/', v.namespace, 'overview', 'functions']">
          <span nz-icon nzType="experiment"></span>
          功能模块
        </li>
        <li nz-menu-item nzMatchRouter [routerLink]="['/', v.namespace, 'overview', 'security']">
          <span nz-icon nzType="safety-certificate"></span>
          安全策略
        </li>
      </ul>
    </app-header>
    <nz-layout class="frame">
      <nz-content>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>

<ng-template #unset>未设置</ng-template>
