<nz-layout class="common-layout">
  <nz-sider class="nav" nzWidth="240px" nzTheme="light">
    <ul nz-menu>
      <li nz-menu-group nzTitle="项目" i18n-nzTitle>
        <ul>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', 'admin', 'space', 'projects', 'managed']">
            <span nz-icon nzType="project"></span>
            <span i18n>管理中</span>
          </li>
          <li nz-menu-item nzDisabled>
            <span nz-icon nzType="book"></span>
            <span i18n>已归档</span>
          </li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="环境" i18n-nzTitle>
        <ul>
          <li nz-menu-item nzDisabled>
            <span nz-icon nzType="partition"></span>
            <span i18n>多租户</span>
          </li>
          <li nz-menu-item nzDisabled>
            <span nz-icon nzType="cluster"></span>
            <span i18n>集群</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout class="inner-layout">
    <nz-content class="content">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
