<nz-card
  #block
  style="transition: height 0.3s cubic-bezier(0.645, 0.045, 0.355, 1)"
  [ngStyle]="{ height: 'calc(100% - ' + (wpxModel.advanced() ? wpxOffset : 0) + 'px)' }"
>
  <nz-row #box style="padding-bottom: 12px" nzJustify="space-between">
    <nz-col><ng-content select="nz-space[wpxTitle]"></ng-content></nz-col>
    <nz-col></nz-col>
    <nz-col><ng-content select="nz-space[wpxExtra]"></ng-content></nz-col>
  </nz-row>
  <ng-template #totalRef let-total>共 {{ total }} 条记录</ng-template>
  <nz-table
    #basicTable
    [nzData]="wpxModel.data()"
    [nzLoading]="wpxModel.loading()"
    [nzFrontPagination]="false"
    [nzShowPagination]="true"
    [nzShowSizeChanger]="true"
    [nzShowTotal]="totalRef"
    [nzTotal]="wpxModel.total"
    [(nzPageIndex)]="wpxModel.page"
    [(nzPageSize)]="wpxModel.pagesize"
    [nzPageSizeOptions]="[20, 50, 100, 500, 1000]"
    [nzVirtualItemSize]="wpxItemSize"
    [nzVirtualMinBufferPx]="wpxItemSize * 10"
    [nzVirtualMaxBufferPx]="wpxItemSize * 15"
    [nzScroll]="{ y: y() + 'px', x: '1200px' }"
    (nzPageIndexChange)="wpxChange.emit()"
    (nzPageSizeChange)="wpxChange.emit()"
  >
    <thead>
      <tr [ngStyle]="{ height: wpxItemSize + 'px' }">
        <th
          nzLeft
          nzAlign="center"
          nzWidth="60px"
          [nzChecked]="wpxModel.checked"
          [nzIndeterminate]="wpxModel.indeterminate"
          (nzCheckedChange)="wpxModel.setCurrentSelections($event)"
        ></th>
        <th *ngFor="let x of wpxColumns">
          <b>{{ x.title }}</b>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *nz-virtual-scroll="let v">
        <tr [ngStyle]="{ height: wpxItemSize + 'px' }" (contextmenu)="openActions($event, v)">
          <td
            nzLeft
            nzAlign="center"
            [nzDisabled]="v['disabled']"
            [nzChecked]="wpxModel.selection.has(v['_id'])"
            (nzCheckedChange)="$event ? wpxModel.setSelection(v) : wpxModel.removeSelection(v['_id'])"
          ></td>
          <td *ngFor="let x of wpxColumns">{{ v[x.key] }}</td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</nz-card>
