<nz-row nzJustify="space-between">
  <nz-col>
    <nz-space nzAlign="center">
      <nz-segmented
        *nzSpaceItem
        style="font-weight: bold"
        [nzOptions]="dashboards"
        [ngModel]="index"
        (ngModelChange)="open($event)"
      ></nz-segmented>
      <nz-select
        *nzSpaceItem
        nzBorderless
        [ngModel]="observability.interval | async"
        (ngModelChange)="observability.setInterval($event)"
      >
        <nz-option [nzValue]="10" nzLabel="每 10s 自动刷新" i18n-nzLabel></nz-option>
        <nz-option [nzValue]="30" nzLabel="每 30s 自动刷新" i18n-nzLabel></nz-option>
        <nz-option [nzValue]="60" nzLabel="每 60s 自动刷新" i18n-nzLabel></nz-option>
      </nz-select>
    </nz-space>
  </nz-col>
  <nz-col></nz-col>
  <nz-col>
    <nz-space nzAlign="center">
      <button *nzSpaceItem nz-button nzType="text" disabled> <span nz-icon nzType="sync"></span> </button>
      <nz-range-picker
        *nzSpaceItem
        nzBorderless
        nzDisabled
        [nzShowTime]="{ nzFormat: 'HH:mm' }"
        nzFormat="yyyy-MM-dd HH:mm"
      ></nz-range-picker>
    </nz-space>
  </nz-col>
</nz-row>

<div style="padding: 8px 0" [ngSwitch]="index">
  <nz-row *ngSwitchCase="0" [nzGutter]="[8, 8]">
    <nz-col [nzSpan]="12">
      <app-observability-area
        title="每秒查询率"
        name="qps_rate"
        [options]="options.qps_rate"
        [fn]="qps_rate"
      ></app-observability-area>
    </nz-col>

    <nz-col [nzSpan]="12">
      <app-observability-area title="错误率" name="error_rate" [options]="options.error_rate"></app-observability-area>
    </nz-col>

    <nz-col [nzSpan]="24">
      <app-observability-line
        title="Duration P99 Latency"
        name="p99"
        height="450px"
        [options]="options.p99"
        [fn]="p99"
      ></app-observability-line>
    </nz-col>
  </nz-row>
  <nz-row *ngSwitchCase="1" [nzGutter]="[8, 8]">
    <nz-col [nzSpan]="8">
      <app-observability-area
        title="可用连接"
        name="mongo_available_connections"
        [options]="options.mongo_available_connections"
      ></app-observability-area>
    </nz-col>
    <nz-col [nzSpan]="8">
      <app-observability-area
        title="打开连接"
        name="mongo_open_connections"
        [options]="options.mongo_open_connections"
      ></app-observability-area>
    </nz-col>
    <nz-col [nzSpan]="8">
      <app-observability-area
        title="每秒命令"
        name="mongo_commands_per_second"
        [options]="options.mongo_commands_per_second"
      ></app-observability-area>
    </nz-col>
    <nz-col [nzSpan]="12">
      <app-observability-area
        title="查询操作"
        name="mongo_query_operations"
        [options]="options.mongo_query_operations"
        [fn]="mongo_query_operations"
      ></app-observability-area>
    </nz-col>
    <nz-col [nzSpan]="12">
      <app-observability-area
        title="文档操作"
        name="mongo_document_operations"
        [options]="options.mongo_document_operations"
        [fn]="mongo_document_operations"
      ></app-observability-area>
    </nz-col>
    <nz-col [nzSpan]="12">
      <app-observability-area
        title="数据刷新"
        name="mongo_flushes"
        [options]="options.mongo_flushes"
      ></app-observability-area>
    </nz-col>
    <nz-col [nzSpan]="12">
      <app-observability-area
        title="网络 IO"
        name="mongo_network_io"
        [options]="options.mongo_network_io"
        [fn]="mongo_network_io"
      ></app-observability-area>
    </nz-col>
  </nz-row>
  <nz-row *ngSwitchCase="2" [nzGutter]="[8, 8]">
    <nz-col [nzSpan]="8">
      <app-observability-area
        title="每秒处理命令数"
        name="redis_ops_per_sec"
        [options]="options.redis_ops_per_sec"
      ></app-observability-area>
    </nz-col>
    <nz-col [nzSpan]="8">
      <app-observability-area
        title="连接数速率"
        name="redis_collections_rate"
        [options]="options.redis_collections_rate"
      ></app-observability-area>
    </nz-col>
    <nz-col [nzSpan]="8">
      <app-observability-area
        title="Keyspace hitrate"
        name="redis_hit_rate"
        [options]="options.redis_hit_rate"
      ></app-observability-area>
    </nz-col>
    <nz-col [nzSpan]="12">
      <app-observability-area
        title="CPU 使用率"
        name="redis_cpu"
        [options]="options.redis_cpu"
        [fn]="redis_cpu"
      ></app-observability-area>
    </nz-col>
    <nz-col [nzSpan]="12">
      <app-observability-area
        title="驱逐 / 过期"
        name="redis_evi_exp_keys"
        [options]="options.redis_evi_exp_keys"
        [fn]="redis_evi_exp_keys"
      ></app-observability-area>
    </nz-col>
    <nz-col [nzSpan]="12">
      <app-observability-area
        title="内存用量"
        name="redis_mem"
        [options]="options.redis_mem"
        [fn]="redis_mem"
      ></app-observability-area>
    </nz-col>
    <nz-col [nzSpan]="12">
      <app-observability-area
        title="网络 IO"
        name="redis_network_io"
        [options]="options.redis_network_io"
        [fn]="redis_network_io"
      ></app-observability-area>
    </nz-col>
  </nz-row>
  <nz-row *ngSwitchCase="3" [nzGutter]="[8, 8]">
    <nz-col [nzSpan]="8">
      <app-observability-area
        title="连接数"
        name="nats_connections"
        [options]="options.nats_connections"
      ></app-observability-area>
    </nz-col>
    <nz-col [nzSpan]="8">
      <app-observability-area
        title="订阅数"
        name="nats_subscriptions"
        [options]="options.nats_subscriptions"
      ></app-observability-area>
    </nz-col>
    <nz-col [nzSpan]="8">
      <app-observability-area
        title="慢消费者"
        name="nats_slow_consumers"
        [options]="options.nats_slow_consumers"
      ></app-observability-area>
    </nz-col>
    <nz-col [nzSpan]="12">
      <app-observability-area title="CPU 使用率" name="nats_cpu" [options]="options.nats_cpu"></app-observability-area>
    </nz-col>
    <nz-col [nzSpan]="12">
      <app-observability-area
        title="消息数 IO"
        name="nats_msg_io"
        [options]="options.nats_msg_io"
        [fn]="nats_msg_io"
      ></app-observability-area>
    </nz-col>
    <nz-col [nzSpan]="12">
      <app-observability-area title="内存用量" name="nats_mem" [options]="options.nats_mem"></app-observability-area>
    </nz-col>
    <nz-col [nzSpan]="12">
      <app-observability-area
        title="网络 IO"
        name="nats_bytes_io"
        [options]="options.nats_bytes_io"
        [fn]="nats_bytes_io"
      ></app-observability-area>
    </nz-col>
  </nz-row>
  <nz-row *ngSwitchCase="4" [nzGutter]="[8, 8]">
    <nz-col [nzSpan]="8">
      <app-observability-area title="Go 协程" name="goroutines" [options]="options.goroutines"></app-observability-area>
    </nz-col>

    <nz-col [nzSpan]="8">
      <app-observability-area
        title="空闲（未使用）的堆内存"
        name="mem_heap_idle"
        [options]="options.mem_heap_idle"
      ></app-observability-area>
    </nz-col>
    <nz-col [nzSpan]="8">
      <nz-row nzAlign="top" style="height: 262px; padding: 12px; background: #fff">
        <nz-col [nzSpan]="8">
          <app-observability-sum title="GC" name="gc_count"></app-observability-sum>
        </nz-col>
        <nz-col [nzSpan]="8">
          <app-observability-sum title="CGO" name="cgo_calls"></app-observability-sum>
        </nz-col>
        <nz-col [nzSpan]="8">
          <app-observability-sum title="Lookups" name="mem_lookups"></app-observability-sum>
        </nz-col>
        <nz-col [nzSpan]="24">
          <app-observability-sum title="服务运行时长" name="uptime" [fn]="uptime"></app-observability-sum>
        </nz-col>
      </nz-row>
    </nz-col>

    <nz-col [nzSpan]="8">
      <app-observability-area
        title="从操作系统获得的堆内存"
        name="mem_heap_sys"
        [options]="options.mem_heap_sys"
      ></app-observability-area>
    </nz-col>
    <nz-col [nzSpan]="8">
      <app-observability-area
        title="分配的堆对象的字节数"
        name="mem_heap_alloc"
        [options]="options.mem_heap_alloc"
      ></app-observability-area>
    </nz-col>
    <nz-col [nzSpan]="8">
      <app-observability-area
        title="已分配的堆对象数量"
        name="mem_heap_idle"
        [options]="options.mem_heap_objects"
      ></app-observability-area>
    </nz-col>

    <nz-col [nzSpan]="8">
      <app-observability-area
        title="已交还给操作系统的堆内存"
        name="mem_heap_released"
        [options]="options.mem_heap_released"
      ></app-observability-area>
    </nz-col>
    <nz-col [nzSpan]="8">
      <app-observability-area
        title="已使用的堆内存"
        name="mem_heap_inuse"
        [options]="options.mem_heap_inuse"
      ></app-observability-area>
    </nz-col>
    <nz-col [nzSpan]="8">
      <app-observability-area
        title="活动对象的数量"
        name="mem_live_objects"
        [options]="options.mem_live_objects"
      ></app-observability-area>
    </nz-col>
  </nz-row>
</div>
