<ng-template #extra>
  <button nz-button nzType="primary" (click)="form()"> 设置 </button>
</ng-template>

<wpx-admin-factory-tabs [extra]="extra">
  <nz-table
    #contentTable
    [nzData]="data"
    [nzFrontPagination]="false"
    [nzShowPagination]="false"
    [nzScroll]="{ x: '1200px' }"
  >
    <thead>
      <tr>
        <th nzWidth="50px" nzLeft nzAlign="center"> </th>
        <th nzWidth="200px" nzLeft><b>字段命名</b></th>
        <th><b>模式</b></th>
        <th nzWidth="50px" nzRight nzAlign="center"><b>操作</b></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of contentTable.data; index as i">
        <td nzLeft nzAlign="center"> </td>
        <td>{{ item.key }}</td>
        <td>{{ item.value }}</td>
        <td nzRight nzAlign="center"> </td>
      </tr>
    </tbody>
  </nz-table>
</wpx-admin-factory-tabs>
