<div class="login-layout" nz-row nzJustify="center">
  <div nz-col nzFlex="600px">
    <nz-card class="login-content">
      <div class="logo">
        <img src="/assets/logo.svg" alt="vanx" />
      </div>
      <h1>{{ bit.l['title'] }}</h1>
      <form [formGroup]="form" nz-form (bitFormSubmit)="submit($event)">
        <nz-form-item>
          <nz-form-control
            [nzAutoTips]="{
              default: {
                required: bit.l['usernameRequire'],
                minlength: bit.l['usernameCorrectly'],
                maxlength: bit.l['usernameCorrectly']
              }
            }"
          >
            <nz-input-group [nzSuffix]="usernameSuffix" nzPrefixIcon="user">
              <input type="text" nz-input formControlName="username" [placeholder]="bit.l['usernamePlaceholder']" />
              <ng-template #usernameSuffix>
                <i
                  *ngIf="form.get('username')!.value"
                  nz-icon
                  nzType="close-circle"
                  (click)="form.get('username')!.reset()"
                >
                </i>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control
            [nzAutoTips]="{
              default: {
                required: bit.l['passwordRequire'],
                minlength: bit.l['passwordCorrectly'],
                maxlength: bit.l['passwordCorrectly']
              }
            }"
          >
            <nz-input-group [nzSuffix]="passwordSuffix" nzPrefixIcon="lock">
              <input
                nz-input
                type="password"
                formControlName="password"
                autocomplete="new-password"
                [placeholder]="bit.l['passwordPlaceholder']"
              />
            </nz-input-group>
            <ng-template #passwordSuffix>
              <i
                *ngIf="form.get('password')!.value"
                nz-icon
                nzType="close-circle"
                (click)="form.get('password')!.reset()"
              >
              </i>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <button nz-button nzBlock nzType="primary">
              <i nz-icon nzType="login"></i>
              {{ bit.l['login'] }}
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>
    <footer>
      <nz-space [nzSplit]="split">
        <ng-template #split>
          <nz-divider nzType="vertical"></nz-divider>
        </ng-template>
        <a *nzSpaceItem nz-typography>Vanx CMS 1.0</a>
        <a *nzSpaceItem nz-typography>BSD-3-Clause License</a>
        <a *nzSpaceItem nz-typography> </a>
      </nz-space>
      <p nz-typography>
        <i nz-icon nzType="copyright"></i>
        <span> {{ now }} Developed by </span>
        <a href="https://github.com/kainonly" target="_blank"> <b>kain </b> <i nz-icon nzType="github"></i></a>
      </p>
    </footer>
  </div>
</div>
