.login-layout {
  height: 100%;
  background: #fbfbfb;
}

.login-content {
  text-align: center;
  margin: 20% auto 0;
  width: 390px;
  border-radius: 3px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);

  .logo {
    width: 100%;
    padding: 36px 0 24px;

    img {
      height: 128px;
    }
  }

  h1 {
    padding-bottom: 24px;
  }
}

footer {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;

  p {
    padding-top: 10px;
  }

  a {
    color: rgba(0, 0, 0, 0.85);
  }

  a:hover {
    text-decoration: underline;
  }
}
