<div class="login-layout" nz-row nzJustify="center">
  <div nz-col nzFlex="600px">
    <nz-card class="login-content">
      <div class="logo">
        <img src="/assets/logo.svg" alt="vanx" />
      </div>
      <h1>打造一体化数据运营平台</h1>
      <form nz-form [formGroup]="form" (bitFormSubmit)="submit($event)">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzSuffix]="usernameSuffix" [nzPrefix]="userPrefix">
              <input type="text" nz-input formControlName="username" placeholder="用户名" />
              <ng-template #userPrefix>
                <i nz-icon nzType="user"></i>
              </ng-template>
              <ng-template #usernameSuffix>
                <i
                  *ngIf="form.get('username')!.value"
                  nz-icon
                  nzType="close-circle"
                  (click)="form.get('username')!.reset()"
                >
                </i>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzSuffix]="passwordSuffix" nzPrefixIcon="lock">
              <input
                nz-input
                type="password"
                formControlName="password"
                autocomplete="new-password"
                placeholder="口令"
              />
            </nz-input-group>
            <ng-template #passwordSuffix>
              <i
                *ngIf="form.get('password')!.value"
                nz-icon
                nzType="close-circle"
                (click)="form.get('password')!.reset()"
              >
              </i>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <button nz-button [nzLoading]="logining" nzBlock nzType="primary">
              <i nz-icon nzType="login"></i>
              登 录
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>

    <!--    <div class="login-content">-->
    <!--      -->
    <!--    </div>-->
    <footer>
      <nz-space [nzSplit]="split">
        <ng-template #split>
          <nz-divider nzType="vertical"></nz-divider>
        </ng-template>
        <a *nzSpaceItem nz-typography>Vanx CMS 1.0</a>
        <a *nzSpaceItem nz-typography>BSD-3-Clause License</a>
        <a *nzSpaceItem nz-typography><i nz-icon nzType="github"></i> </a>
      </nz-space>
      <p nz-typography>
        <i nz-icon nzType="copyright"></i>
        <span> 2021 Design By </span>
        <a href="https://github.com/kainonly" target="_blank"> Kain </a>
      </p>
    </footer>
  </div>
</div>
