<form nz-form nzLayout="vertical" id="form" [formGroup]="form" (appSubmit)="submit($event)">
  <nz-row [nzGutter]="[16, 0]">
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzRequired>类型</nz-form-label>
        <nz-form-control nzHasFeedback [nzAutoTips]="tips.type">
          <nz-select nzAllowClear nzPlaceHolder="请选择路由类型" formControlName="type">
            @for (item of routes.types; track item.value) {
              @if (item.value !== 1) {
                <nz-option [nzValue]="item.value" [nzLabel]="item.label"></nz-option>
              }
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzRequired>分组</nz-form-label>
        <nz-form-control>
          <nz-select nzAllowClear nzPlaceHolder="请选择路由分组" formControlName="pid">
            @for (item of groupItems(); track item.id) {
              <nz-option [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzRequired>名称</nz-form-label>
        <nz-form-control nzHasFeedback [nzAutoTips]="tips.name">
          <input nz-input placeholder="请输入路由名称" formControlName="name" />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label>图标</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-input-wrapper>
            <nz-icon
              nzInputAddonBefore
              [nzType]="form.get('icon')?.value === '' ? 'question' : $safeNavigationMigration(form.get('icon')?.value)"
            />
            <input nz-input formControlName="icon" placeholder="请输入图标" />
          </nz-input-wrapper>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>
  <nz-form-item>
    <nz-form-label>链接</nz-form-label>
    <nz-form-control nzHasFeedback>
      <input nz-input formControlName="link" placeholder="请输入链接" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired>状态</nz-form-label>
    <nz-form-control>
      <nz-switch formControlName="active"></nz-switch>
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button type="button" nzType="default" (click)="close()">取消</button>
  <button nz-button nzType="primary" form="form" [disabled]="!form.valid">提交</button>
</div>
