<bit-ph skip></bit-ph>

<div nz-row [nzGutter]="16">
  <div nz-col nzFlex="420px">
    <nz-card>
      <div class="user">
        <nz-avatar [nzSize]="128" nzSrc="/assets/user.png" nzIcon="user" nz-tooltip="更换头像"></nz-avatar>
        <h2><i nz-icon nzType="idcard"></i> KAIN</h2>
        <span>超级管理员</span>
      </div>
      <nz-space class="user-detail" nzDirection="vertical">
        <span *nzSpaceItem><i nz-icon nzType="mail"></i> zhangtqx@vip.qq.com</span>
        <span *nzSpaceItem><i nz-icon nzType="phone"></i> 155****5333</span>
        <span *nzSpaceItem><i nz-icon nzType="environment"></i> 中国</span>
      </nz-space>
      <nz-divider></nz-divider>
      <nz-space nzDirection="vertical">
        <span *nzSpaceItem><i nz-icon nzType="team"></i> 加入时间 2018-11-08</span>
        <span *nzSpaceItem><i nz-icon nzType="safety"></i> 您已累计进行131次会话登录，共计执行1790数据操作</span>
        <h3 *nzSpaceItem>最近登录地点</h3>
        <div *nzSpaceItem>
          <nz-tag>深圳</nz-tag>
          <nz-tag>广州</nz-tag>
          <nz-tag nzColor="warning">三亚</nz-tag>
        </div>
      </nz-space>
      <div class="qrcode"> <nz-avatar [nzSize]="100" nzShape="square" nzSrc="/assets/user-qr.png"></nz-avatar> </div>
    </nz-card>
  </div>
  <div nz-col nzFlex="auto">
    <nz-card>
      <nz-card-tab>
        <nz-tabset nzSize="large" nzLinkRouter>
          <nz-tab>
            <a *nzTabLink nz-tab-link [routerLink]="['./logs']"> 操作日志 </a>
          </nz-tab>
          <nz-tab>
            <a *nzTabLink nz-tab-link [routerLink]="['./activities']"> 登录日志 </a>
          </nz-tab>
          <nz-tab>
            <a *nzTabLink nz-tab-link [routerLink]="['./basic']"> 基本设置 </a>
          </nz-tab>
          <nz-tab>
            <a *nzTabLink nz-tab-link [routerLink]="['./security']"> 安全设置 </a>
          </nz-tab>
        </nz-tabset>
      </nz-card-tab>
      <router-outlet></router-outlet>
    </nz-card>
  </div>
</div>
