.toolbar {
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 51px;
  background: #001529;

  .logo {
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: url('/assets/logo.png') #fff no-repeat center;
    background-size: 100%;
  }

  ul {
    text-align: center;
    border: none;

    li[nz-menu-item] {
      height: 45px;
      line-height: 45px;
    }
  }

  .extra {
    position: absolute;
    bottom: 0;
    width: 100%;

    button {
      color: #fff;
      height: 45px;
    }
  }
}
