<div class="toolbar">
  <div class="logo"></div>
  <ul nz-menu nzMode="vertical" nzTheme="dark">
    <li nz-menu-item nzMatchRouter [routerLink]="['/work']" nz-tooltip="工作" nzTooltipPlacement="right">
      <span nz-icon nzType="desktop"></span>
    </li>
    <li nz-menu-item nzMatchRouter [routerLink]="['/apps']" nz-tooltip="内容" nzTooltipPlacement="right">
      <span nz-icon nzType="layout"></span>
    </li>
    <li nz-menu-item nzMatchRouter [routerLink]="['/media']" nz-tooltip="媒体" nzTooltipPlacement="right">
      <span nz-icon nzType="inbox"></span>
    </li>
    <li nz-menu-item nzMatchRouter [routerLink]="['/orgs']" nz-tooltip="组织" nzTooltipPlacement="right">
      <span nz-icon nzType="apartment"></span>
    </li>
    <li nz-menu-item nzMatchRouter [routerLink]="['/security']" nz-tooltip="安全性" nzTooltipPlacement="right">
      <span nz-icon nzType="safety"></span>
    </li>
    <li nz-menu-item nzMatchRouter [routerLink]="['/monitor']" nz-tooltip="监控" nzTooltipPlacement="right">
      <span nz-icon nzType="line-chart"></span>
    </li>
    <li nz-menu-item nzMatchRouter [routerLink]="['/developer']" nz-tooltip="开发者" nzTooltipPlacement="right">
      <i nz-icon nzType="code"></i>
    </li>
    <li nz-menu-item nzDisabled nz-tooltip="部署">
      <span nz-icon nzType="deployment-unit"></span>
    </li>
    <li
      class="setting"
      nz-menu-item
      nzMatchRouter
      [routerLink]="['/settings']"
      nz-tooltip="设置"
      nzTooltipPlacement="right"
    >
      <i nz-icon nzType="setting"></i>
    </li>
  </ul>
</div>
