<form nz-form [formGroup]="form" bit-form (bitSubmit)="submit($event)">
  <nz-form-item>
    <nz-form-label bitFormLabelCol>E-mail</nz-form-label>
    <nz-form-control bitFormControlCol>
      <input nz-input type="email" formControlName="email" [bitSearch]="'index-index'">
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row style="margin-bottom:8px;">
    <nz-form-control [bitFormControlCol]="'submit'">
      <button nz-button nzType="primary">执行</button>
    </nz-form-control>
  </nz-form-item>
</form>
