<ng-container *ngIf="!app.user; else layout">
  <nz-layout style="height: 100%" class="background">
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>

    <nz-footer>
      <nz-space [nzSplit]="split">
        <ng-template #split>
          <nz-divider nzType="vertical"></nz-divider>
        </ng-template>
        <a *nzSpaceItem>BSD-3-Clause License</a>
      </nz-space>
      <p>
        <span nz-icon nzType="copyright"></span>
        <span> {{ year }} developed by </span>
        <a href="https://github.com/weplanx" target="_blank"> <b>WEPLANX </b> <span nz-icon nzType="github"></span></a>
      </p>
    </nz-footer>
  </nz-layout>
</ng-container>

<ng-template #layout>
  <div style="height: 100%">
    <div class="header">
      <nz-row nzJustify="space-between">
        <nz-col>
          <nz-space [nzSplit]="split">
            <ng-template #split>
              <nz-divider nzType="vertical"></nz-divider>
            </ng-template>
            <ng-container *nzSpaceItem>
              <button nz-button nzType="text">
                <span nz-icon nzType="appstore"></span>
              </button>
            </ng-container>
            <nz-breadcrumb *nzSpaceItem class="breadcrumb" nzAutoGenerate [nzSeparator]="iconTpl">
              <ng-template #iconTpl>
                <span nz-icon nzType="caret-right"></span>
              </ng-template>
              <nz-breadcrumb-item>
                <a [routerLink]="['/']"><span nz-icon nzType="home"></span> Home </a>
              </nz-breadcrumb-item>
            </nz-breadcrumb>
          </nz-space>
        </nz-col>
        <nz-col> </nz-col>
        <nz-col>
          <div class="center" nz-popover [nzPopoverContent]="centerTpl" nzPopoverPlacement="bottomRight">
            <ng-container *ngIf="app.user as u">
              <nz-badge nzDot>
                <ng-container *ngIf="!!u.avatar; else defaultAvatar">
                  <nz-avatar nzShape="square" [nzSize]="25" [nzSrc]="[u.avatar] | wpxAssets"></nz-avatar>
                </ng-container>
                <ng-template #defaultAvatar>
                  <nz-avatar nzShape="square" [nzSize]="25" nzIcon="user"></nz-avatar>
                </ng-template>
              </nz-badge>
              <span class="username">
                <ng-container *ngIf="!u.name; else name">
                  {{ u.email | uppercase }}
                </ng-container>
                <ng-template #name>
                  {{ u.name | uppercase }}
                </ng-template>
              </span>
            </ng-container>
          </div>
        </nz-col>
      </nz-row>
    </div>
    <router-outlet></router-outlet>
  </div>
</ng-template>

<ng-template #centerTpl>
  <nz-tabset style="width: 360px" [nzTabBarExtraContent]="actions">
    <ng-template #actions>
      <nz-space>
        <button *nzSpaceItem nz-button nzType="text" nz-tooltip="简体中文">
          <i nz-icon nzType="translation"></i>
        </button>
        <button *nzSpaceItem nz-button nzType="text" nz-tooltip="个人中心" (click)="profile()">
          <i nz-icon nzType="user"></i>
        </button>
        <button *nzSpaceItem nz-button nzType="text" nz-tooltip="退出" (click)="logout()">
          <i nz-icon nzType="logout"></i>
        </button>
      </nz-space>
    </ng-template>
    <nz-tab nzTitle="通知(0)">
      <nz-list nzItemLayout="horizontal">
        <nz-list-empty></nz-list-empty>
      </nz-list>
    </nz-tab>
    <nz-tab nzTitle="待办(0)">
      <nz-list nzItemLayout="horizontal">
        <nz-list-item>
          <nz-list-item-meta>
            <nz-list-item-meta-title>你收到了14份周报</nz-list-item-meta-title>
            <nz-list-item-meta-description>1 天前</nz-list-item-meta-description>
          </nz-list-item-meta>
        </nz-list-item>
        <nz-list-item>
          <nz-list-item-meta>
            <nz-list-item-meta-title>合同协议已更新</nz-list-item-meta-title>
            <nz-list-item-meta-description>5 天前</nz-list-item-meta-description>
          </nz-list-item-meta>
        </nz-list-item>
        <nz-list-item>
          <nz-list-item-meta>
            <nz-list-item-meta-title>工作内容</nz-list-item-meta-title>
            <nz-list-item-meta-description>2 周前</nz-list-item-meta-description>
          </nz-list-item-meta>
        </nz-list-item>
      </nz-list>
    </nz-tab>
  </nz-tabset>
</ng-template>
