<nz-layout class="main">
  <ng-template #appTpl>
    <nz-sider class="toolbar" [nzWidth]="51" nzTheme="light">
      <div class="logo"></div>
      <ul nz-menu nzMode="vertical">
        <li nz-menu-item>
          <span nz-icon nzType="appstore"></span>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="pie-chart"></span>
        </li>
      </ul>
      <div class="setting">
        <button nz-button nzType="text">
          <span nz-icon nzType="setting"></span>
        </button>
      </div>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <nz-row nzJustify="space-between">
          <nz-col>
            <nz-space [nzSplit]="spaceSplit">
              <ng-template #spaceSplit>
                <nz-divider nzType="vertical"></nz-divider>
              </ng-template>

              <button *nzSpaceItem nz-button nzType="text">
                <span nz-icon nzType="home"></span>
              </button>

              <nz-breadcrumb *nzSpaceItem [nzAutoGenerate]="wpx.manual">
                <ng-container *ngIf="!wpx.manual">
                  <nz-breadcrumb-item>
                    <a [routerLink]="['/pages']"> 我的应用</a>
                  </nz-breadcrumb-item>
                  <ng-container *ngIf="wpx.pageId | async as current">
                    <ng-container *ngFor="let page of current | Path | async">
                      <nz-breadcrumb-item>
                        <ng-container *ngIf="page?.kind !== 'group'; else textName">
                          <a [routerLink]="['/pages', page._id]">{{ page?.name }}</a>
                        </ng-container>
                        <ng-template #textName>{{ page?.name }}</ng-template>
                      </nz-breadcrumb-item>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </nz-breadcrumb>
            </nz-space>
          </nz-col>
          <nz-col>
            <ul nz-menu nzMode="horizontal">
              <li nz-menu-item nzSelected>
                <span nz-icon nzType="mail"></span>
                Navigation One
              </li>
              <li nz-menu-item nzDisabled>
                <span nz-icon nzType="appstore"></span>
                Navigation Two
              </li>
              <li nz-menu-item nzDisabled>
                <span nz-icon nzType="appstore"></span>
                Navigation Three
              </li>
            </ul>
          </nz-col>
          <nz-col>
            <nz-space>
              <div *nzSpaceItem class="center" nz-popover [nzPopoverContent]="center" nzPopoverPlacement="bottomRight">
                <ng-container *ngIf="!!common.user">
                  <nz-badge nzDot>
                    <ng-container *ngIf="!!common.user.avatar; else defaultAvatar">
                      <nz-avatar nzShape="square" [nzSize]="24" [nzSrc]="[common.user.avatar] | wpxAssets"></nz-avatar>
                    </ng-container>
                    <ng-template #defaultAvatar>
                      <nz-avatar nzShape="square" [nzSize]="24" nzIcon="user"></nz-avatar>
                    </ng-template>
                  </nz-badge>
                  <span class="name">
                    <ng-container *ngIf="!common.user.name; else name">
                      {{ common.user.username | uppercase }}
                    </ng-container>
                    <ng-template #name>
                      {{ common.user.name | uppercase }}
                    </ng-template>
                  </span>
                </ng-container>
                <ng-template #center>
                  <nz-tabset style="width: 360px" [nzTabBarExtraContent]="actions">
                    <ng-template #actions>
                      <nz-space>
                        <button *nzSpaceItem [routerLink]="['/center']" nz-button nzType="text" nz-tooltip="个人中心">
                          <i nz-icon nzType="user"></i>
                        </button>
                        <button *nzSpaceItem nz-button nzType="text" nz-tooltip="退出" (click)="logout()">
                          <i nz-icon nzType="logout"></i>
                        </button>
                      </nz-space>
                    </ng-template>
                    <nz-tab nzTitle="通知(0)">
                      <nz-list nzItemLayout="horizontal">
                        <nz-list-empty></nz-list-empty>
                      </nz-list>
                    </nz-tab>
                    <nz-tab nzTitle="待办(0)">
                      <nz-list nzItemLayout="horizontal">
                        <nz-list-item>
                          <nz-list-item-meta>
                            <nz-list-item-meta-title>你收到了14份周报</nz-list-item-meta-title>
                            <nz-list-item-meta-description>1 天前</nz-list-item-meta-description>
                          </nz-list-item-meta>
                        </nz-list-item>
                        <nz-list-item>
                          <nz-list-item-meta>
                            <nz-list-item-meta-title>合同协议已更新</nz-list-item-meta-title>
                            <nz-list-item-meta-description>5 天前</nz-list-item-meta-description>
                          </nz-list-item-meta>
                        </nz-list-item>
                        <nz-list-item>
                          <nz-list-item-meta>
                            <nz-list-item-meta-title>工作内容</nz-list-item-meta-title>
                            <nz-list-item-meta-description>2 周前</nz-list-item-meta-description>
                          </nz-list-item-meta>
                        </nz-list-item>
                      </nz-list>
                    </nz-tab>
                  </nz-tabset>
                </ng-template>
              </div>
            </nz-space>
          </nz-col>
        </nz-row>
      </nz-header>

      <nz-layout class="wpx-container">
        <nz-sider class="wpx-sider" nzTheme="light">
          <!--          <ul nz-menu nzMode="inline" style="padding-top: 1px">-->
          <!--            <ng-container *ngTemplateOutlet="navTpl; context: { $implicit: wpxData }"></ng-container>-->
          <!--            <ng-template #navTpl let-navs>-->
          <!--              <ng-container *ngFor="let nav of navs | wpxSort: 'sort'">-->
          <!--                <ng-container *ngIf="nav.kind !== 'group'; else isGroup">-->
          <!--                  <li nz-menu-item nzMatchRouter [routerLink]="['/pages', nav['_id']]" [nzPaddingLeft]="nav | Level">-->
          <!--                    <i *ngIf="nav.hasOwnProperty('icon')" nz-icon [nzType]="nav['icon']"></i>-->
          <!--                    <span>{{ nav['name'] }}</span>-->
          <!--                  </li>-->
          <!--                </ng-container>-->
          <!--                <ng-template #isGroup>-->
          <!--                  <li nz-submenu [nzOpen]="openIds.has(nav._id)" [nzPaddingLeft]="nav | Level">-->
          <!--                    <span title>-->
          <!--                      <i *ngIf="nav.hasOwnProperty('icon')" nz-icon [nzType]="nav['icon']"></i>-->
          <!--                      <span>{{ nav['name'] }}</span>-->
          <!--                    </span>-->
          <!--                    <ul>-->
          <!--                      <ng-container *ngTemplateOutlet="navTpl; context: { $implicit: nav['children'] }"></ng-container>-->
          <!--                    </ul>-->
          <!--                  </li>-->
          <!--                </ng-template>-->
          <!--              </ng-container>-->
          <!--            </ng-template>-->
          <!--          </ul>-->
        </nz-sider>
        <nz-layout style="overflow: auto">
          <nz-content>
            <router-outlet></router-outlet>
          </nz-content>
        </nz-layout>
      </nz-layout>
    </nz-layout>
  </ng-template>
  <ng-container *ngIf="!common.user; else appTpl">
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer class="footer">
      <nz-space [nzSplit]="split">
        <ng-template #split>
          <nz-divider nzType="vertical"></nz-divider>
        </ng-template>
        <a *nzSpaceItem>BSD-3-Clause License</a>
      </nz-space>
      <p>
        <span nz-icon nzType="copyright"></span>
        <span> {{ year }} 研发于 </span>
        <a href="https://github.com/weplanx" target="_blank"> <b>WEPLANX </b> <span nz-icon nzType="github"></span></a>
      </p>
    </nz-footer>
  </ng-container>
</nz-layout>
