<form nz-form nzLayout="vertical" id="form" [formGroup]="form" (wpxSubmit)="submit($event)">
  <nz-form-item>
    <nz-form-label nzRequired>第三方平台</nz-form-label>
    <nz-form-control>
      <nz-radio-group formControlName="office_platform">
        <label nz-radio nzValue="feishu">
          <nz-avatar
            nzShape="square"
            nzSize="large"
            [nzSrc]="['assets', 'office', 'feishu.png'] | wpxAssets"
          ></nz-avatar>
          <b style="margin-left: 0.5em">飞书</b>
        </label>
        <label nz-radio nzValue="dingtalk" nzDisabled>
          <nz-avatar
            nzShape="square"
            nzSize="large"
            [nzSrc]="['assets', 'office', 'dingtalk.png'] | wpxAssets"
          ></nz-avatar>
          <b style="margin-left: 0.5em">钉钉</b>
        </label>
        <label nz-radio nzValue="work-weixin" nzDisabled>
          <nz-avatar
            nzShape="square"
            nzSize="large"
            [nzSrc]="['assets', 'office', 'work-weixin.png'] | wpxAssets"
          ></nz-avatar>
          <b style="margin-left: 0.5em">企业微信</b>
        </label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>飞书应用 ID</nz-form-label>
    <nz-form-control
      nzHasFeedback
      [nzAutoTips]="{
        default: {
          required: '飞书应用 ID 不能为空'
        }
      }"
    >
      <input nz-input formControlName="feishu_app_id" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>飞书应用密钥</nz-form-label>
    <nz-form-control
      nzHasFeedback
      [nzAutoTips]="{
        default: {
          required: '飞书应用密钥不能为空'
        }
      }"
    >
      <input nz-input formControlName="feishu_app_secret" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>飞书事件订阅安全校验数据密钥</nz-form-label>
    <nz-form-control
      nzHasFeedback
      [nzAutoTips]="{
        default: {
          required: '飞书事件订阅安全校验数据密钥不能为空'
        }
      }"
    >
      <input nz-input formControlName="feishu_encrypt_key" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>飞书事件订阅验证令牌</nz-form-label>
    <nz-form-control
      nzHasFeedback
      [nzAutoTips]="{
        default: {
          required: '飞书事件订阅验证令牌不能为空'
        }
      }"
    >
      <input nz-input formControlName="feishu_verification_token" />
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button type="button" nzType="default" (click)="close()">取消</button>
  <button nz-button nzType="primary" form="form" [disabled]="!form?.valid">提交</button>
</div>
