<nz-header>
  <nz-row nzJustify="space-between">
    <nz-col>
      <ng-template #spaceSplit>
        <nz-divider nzType="vertical"></nz-divider>
      </ng-template>
      <nz-space [nzSplit]="spaceSplit">
        <app-projects *nzSpaceItem></app-projects>
        <ng-container *nzSpaceItem>
          <ng-container *ngTemplateOutlet="breadcrumb"></ng-container>
        </ng-container>
      </nz-space>
    </nz-col>
    <nz-col>
      <ng-content></ng-content>
    </nz-col>
    <nz-col>
      <nz-space>
        <button *nzSpaceItem nz-button nzType="text">
          <span nz-icon nzType="translation"></span>
          简体中文
        </button>
        <div *nzSpaceItem class="center" nz-popover [nzPopoverContent]="center" nzPopoverPlacement="bottomRight">
          <ng-container *ngIf="!!app.user">
            <nz-badge nzDot>
              <ng-container *ngIf="!!app.user.avatar; else defaultAvatar">
                <nz-avatar nzShape="square" [nzSize]="24" [nzSrc]="[app.user.avatar] | wpxAssets"></nz-avatar>
              </ng-container>
              <ng-template #defaultAvatar>
                <nz-avatar nzShape="square" [nzSize]="24" nzIcon="user"></nz-avatar>
              </ng-template>
            </nz-badge>
            <span class="name">
              <ng-container *ngIf="!app.user.name; else name">
                {{ app.user.username | uppercase }}
              </ng-container>
              <ng-template #name>
                {{ app.user.name | uppercase }}
              </ng-template>
            </span>
          </ng-container>
          <ng-template #center>
            <nz-tabset style="width: 360px" [nzTabBarExtraContent]="actions">
              <ng-template #actions>
                <nz-space>
                  <button *nzSpaceItem nz-button nzType="text" nz-tooltip="个人中心" [routerLink]="['/center']">
                    <i nz-icon nzType="user"></i>
                  </button>
                  <button *nzSpaceItem nz-button nzType="text" nz-tooltip="退出" (click)="logout()">
                    <i nz-icon nzType="logout"></i>
                  </button>
                </nz-space>
              </ng-template>
              <nz-tab nzTitle="通知(0)">
                <nz-list nzItemLayout="horizontal">
                  <nz-list-empty></nz-list-empty>
                </nz-list>
              </nz-tab>
              <nz-tab nzTitle="待办(0)">
                <nz-list nzItemLayout="horizontal">
                  <nz-list-item>
                    <nz-list-item-meta>
                      <nz-list-item-meta-title>你收到了14份周报</nz-list-item-meta-title>
                      <nz-list-item-meta-description>1 天前</nz-list-item-meta-description>
                    </nz-list-item-meta>
                  </nz-list-item>
                  <nz-list-item>
                    <nz-list-item-meta>
                      <nz-list-item-meta-title>合同协议已更新</nz-list-item-meta-title>
                      <nz-list-item-meta-description>5 天前</nz-list-item-meta-description>
                    </nz-list-item-meta>
                  </nz-list-item>
                  <nz-list-item>
                    <nz-list-item-meta>
                      <nz-list-item-meta-title>工作内容</nz-list-item-meta-title>
                      <nz-list-item-meta-description>2 周前</nz-list-item-meta-description>
                    </nz-list-item-meta>
                  </nz-list-item>
                </nz-list>
              </nz-tab>
            </nz-tabset>
          </ng-template>
        </div>
      </nz-space>
    </nz-col>
  </nz-row>
</nz-header>
