nz-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding: 0 12px;
  z-index: 999;
  //box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
  border-bottom: 1px solid #f0f0f0;
  background: #fff;
  transition: width 0.2s;

  .logo {
    height: 45px;
    line-height: 45px;
    width: 51px;
    text-align: center;
    background: url('/assets/logo.png') #fff no-repeat center;
    background-size: 100%;
  }
}

.center {
  padding: 0 12px;
  height: 100%;

  &:hover,
  &:focus {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.018);
  }

  span.name {
    margin-left: 12px;
  }
}
