<nz-layout class="main">
  <wpx-header></wpx-header>
  <nz-layout class="wpx-container">
    <ul nz-menu nzMode="horizontal">
      <li nz-menu-item nzMatchRouter [routerLink]="['work']">
        <i nz-icon nzType="desktop"></i>
        工作台
      </li>
      <li nz-menu-item nzMatchRouter [routerLink]="['safety']">
        <i nz-icon nzType="safety"></i>
        安全设置
      </li>
      <li nz-menu-item nzMatchRouter [routerLink]="['third-party']">
        <i nz-icon nzType="link"></i>
        第三方关联
      </li>
      <li nz-menu-item nzMatchRouter [routerLink]="['audit']">
        <i nz-icon nzType="audit"></i>
        日志
      </li>
      <li nz-menu-item style="float: right" (click)="openProfile()">
        <i nz-icon nzType="edit"></i>
        基本信息
      </li>
    </ul>
    <nz-layout style="overflow: auto">
      <nz-content style="padding: 8px">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
