<ng-template #titleRef>
  <input
    style="text-align: center"
    nz-input
    placeholder="标题"
    nzBorderless
    [(ngModel)]="title"
    (ngModelChange)="titleChanged()"
  />
</ng-template>

<ng-template #extraRef>
  <nz-button-group>
    <button nz-button type="button" nzType="text"><i nz-icon nzType="clear"></i> </button>
  </nz-button-group>
</ng-template>

<nz-card [nzLoading]="loading" [nzBorderless]="false" [nzTitle]="titleRef" [nzExtra]="extraRef">
  <div #article></div>
</nz-card>
