.toolbar {
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 50px;
  background: #fff;
  box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
  padding-top: 45px;

  ul {
    text-align: center;
    border: none;

    li[nz-menu-item] {
      height: 45px;
      line-height: 45px;
    }
  }

  .setting {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
