<nz-layout class="main">
  <app-header></app-header>
  <nz-layout class="content">
    <nz-sider nzTheme="light" [nzWidth]="240">
      <ul nz-menu nzMode="inline">
        <li nz-menu-group nzTitle="应用设置">
          <ul>
            <li nz-menu-item nzMatchRouter [routerLink]="['apps']">
              <i nz-icon nzType="appstore-add"></i> <span>应用管理</span>
            </li>
            <li nz-menu-item nzMatchRouter [routerLink]="['pages']">
              <i nz-icon nzType="file-sync"></i> <span>页面管理</span>
            </li>
            <li nz-menu-item nzMatchRouter [routerLink]="['roles']">
              <i nz-icon nzType="partition"></i> <span>权限管理</span>
            </li>
            <li nz-menu-item nzMatchRouter [routerLink]="['users']">
              <i nz-icon nzType="team"></i> <span>成员管理</span>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout style="overflow: auto">
      <nz-page-header [nzGhost]="false" nzTitle="应用管理">
        <nz-breadcrumb nz-page-header-breadcrumb>
          <nz-breadcrumb-item>经营者工具</nz-breadcrumb-item>
          <nz-breadcrumb-item>应用设置</nz-breadcrumb-item>
          <nz-breadcrumb-item>应用管理</nz-breadcrumb-item>
        </nz-breadcrumb>
        <nz-page-header-extra>
          <button nz-button nzType="primary" nzShape="circle" nz-tooltip="新增">
            <i nz-icon nzType="plus"></i>
          </button>
          <button nz-button nzShape="circle">
            <i nz-icon nzType="ellipsis"></i>
          </button>
        </nz-page-header-extra>
      </nz-page-header>
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
