<nz-list nzBordered nzSize="small">
  <nz-list-item *ngFor="let item of test">
    {{ item.content | nzEllipsis: 100:'...' }}
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <button nz-button nzType="text" type="button" (click)="open(item.id)">
          <i nz-icon nzType="edit"></i>
          {{ item.name }}
        </button>
      </nz-list-item-action>
    </ul>
  </nz-list-item>
</nz-list>

<nz-modal [(nzVisible)]="visable" [nzTitle]="title" (nzOnCancel)="close()">
  <ng-template #title> 国际化设置 <nz-tag>中文</nz-tag> </ng-template>
  <ng-container *nzModalContent>
    <ng-content></ng-content>
  </ng-container>
</nz-modal>
