<nz-list nzBordered nzSize="small">
  <nz-list-item *ngFor="let item of test">
    {{ item.content | nzEllipsis: 100:'...' }}
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <a (click)="open(item.id)">{{ item.name }}</a>
      </nz-list-item-action>
    </ul>
  </nz-list-item>
</nz-list>

<nz-modal [(nzVisible)]="i18nVisable" [nzTitle]="title" (nzOnCancel)="close()">
  <ng-template #title>
    {{ bitTitle }}
  </ng-template>
  <ng-container *nzModalContent>
    <ng-content></ng-content>
  </ng-container>
</nz-modal>
