<form *ngIf="form" nz-form nzLayout="vertical" id="form" [formGroup]="form" (wpxSubmit)="submit($event)">
  <nz-form-item>
    <nz-form-label nzRequired> 服务名称 </nz-form-label>
    <nz-form-control nzHasFeedback [nzAutoTips]="tips.name">
      <input nz-input formControlName="name" placeholder="请输入服务名称" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired> 节点命名 </nz-form-label>
    <nz-form-control nzHasFeedback [nzAutoTips]="tips.node">
      <input nz-input formControlName="node" placeholder="请输入节点命名" />
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button type="button" nzType="default" (click)="close()">取消</button>
  <button nz-button nzType="primary" form="form" [disabled]="!form.valid">提交</button>
</div>
