<nz-layout class="main-layout">
  <app-header></app-header>

  <nz-layout class="section-layout">
    <nz-sider nzTheme="light" [nzWidth]="240">
      <ng-scrollbar visibility="hover">
        <bit-sider-menu></bit-sider-menu>
      </ng-scrollbar>
    </nz-sider>
    <nz-layout>
      <ng-scrollbar>
        <!--        <bit-page-header></bit-page-header>-->
        <nz-content>
          <router-outlet (activate)="router.activated()"></router-outlet>
        </nz-content>
      </ng-scrollbar>
    </nz-layout>
  </nz-layout>
</nz-layout>
