<div class="diagram block active" (contextmenu)="contextMenu($event, diagramMenu)">
  <div class="anchor">
    <button nzSize="small" nz-button nzType="primary">页面</button>
  </div>

  <nz-row cdkDropList cdkDrag [nzGutter]="[8, 8]" class="block">
    <div class="anchor">
      <button nzSize="small" nz-button nzType="primary">区块</button>
    </div>

    <nz-col class="block" [nzSpan]="24">
      <div class="anchor">
        <button nzSize="small" nz-button nzType="primary">区块</button>
      </div>
      <!--      <nz-card cdkDrag class="block" nzTitle="Card title">-->
      <!--        <div class="anchor">-->
      <!--          <button nzSize="small" nz-button nzType="primary">区块</button>-->
      <!--        </div>-->
      <!--        <p>Card content</p>-->
      <!--        <p>Card content</p>-->
      <!--        <p>Card content</p>-->
      <!--      </nz-card>-->
    </nz-col>
  </nz-row>
</div>

<nz-dropdown-menu #diagramMenu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item>新建区域</li>
    <li nz-menu-item>新建分割线</li>
  </ul>
</nz-dropdown-menu>
