.background {
  height: 100%;
  background-image: url('/assets/bg.svg');
  background-repeat: no-repeat;
  background-position: center 50px;
  background-size: 100%;
}

nz-footer {
  text-align: center;
  width: 100%;

  p {
    padding-top: 0.5em;
  }

  a {
    color: rgba(0, 0, 0, 0.85);
  }

  a:hover {
    text-decoration: underline;
  }
}
