<nz-layout class="main">
  <app-toolbar></app-toolbar>
  <nz-layout>
    <app-header *ngIf="app.project as v">
      <ul nz-menu nzMode="horizontal">
        <li nz-menu-item nzMatchRouter [routerLink]="['/', v.namespace, 'orgs', 'roles']">
          <span nz-icon nzType="partition"></span>
          权限组
        </li>
        <li nz-menu-item nzMatchRouter [routerLink]="['/', v.namespace, 'orgs', 'users']">
          <span nz-icon nzType="team"></span>
          团队成员
        </li>
      </ul>
    </app-header>
    <nz-layout class="frame">
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
