<bit-ph>
  <div nz-row>
    <div class="content">
      <p nz-paragraph>
        段落示意：蚂蚁金服务设计平台
        ant.design，用最小的工作量，无缝接入蚂蚁金服生态，提供跨越设计与开发的体验解决方案。
      </p>
      <div class="content-link">
        <a>
          <img src="https://gw.alipayobjects.com/zos/rmsportal/MjEImQtenlyueSmVEfUD.svg" alt="start" />
          快速开始
        </a>
        <a>
          <img src="https://gw.alipayobjects.com/zos/rmsportal/NbuDUAuBlIApFuDvWiND.svg" alt="info" />
          产品简介
        </a>
        <a>
          <img src="https://gw.alipayobjects.com/zos/rmsportal/ohOEPSYdDTNnyMbGuyLb.svg" alt="doc" />
          产品文档
        </a>
      </div>
    </div>
    <div class="content-image">
      <img src="https://gw.alipayobjects.com/zos/antfincdn/K%24NnlsB%26hz/pageHeader.svg" alt="content" />
    </div>
  </div>
</bit-ph>

<nz-list nzGrid>
  <nz-row [nzGutter]="16">
    <nz-col [nzSpan]="6">
      <nz-list-item>
        <button style="height: 201px" nz-button nzType="dashed" nzBlock>
          <i nz-icon nzType="plus"></i> 新增产品
        </button>
      </nz-list-item>
    </nz-col>
    <nz-col [nzSpan]="6" *ngFor="let item of data">
      <nz-list-item>
        <nz-card [nzActions]="[action1, action2]">
          <nz-card-meta [nzAvatar]="avatar" [nzTitle]="item.title" [nzDescription]="description"></nz-card-meta>
          <ng-template #avatar>
            <nz-avatar [nzSize]="48" [nzSrc]="item.avatar"></nz-avatar>
          </ng-template>
          <ng-template #description>
            <p nz-typography nzEllipsis [nzEllipsisRows]="3">{{ content }}</p>
          </ng-template>
          <ng-template #action1>操作一</ng-template>
          <ng-template #action2>操作二</ng-template>
        </nz-card>
      </nz-list-item>
    </nz-col>
  </nz-row>
</nz-list>
