<nz-card>
  <nz-list nzItemLayout="vertical">
    <nz-list nzSize="large" nzItemLayout="vertical">
      <nz-list-item>
        <nz-list-item-meta>
          <nz-list-item-meta-title> <b>服务商</b> </nz-list-item-meta-title>
          <nz-list-item-meta-description>
            <ng-container [ngSwitch]="data['cloud']">
              <ng-container *ngSwitchCase="'tencent'">
                <img height="30px" [src]="['assets', 'cloud', 'tencent.svg'] | wpxAssets" alt="" />
              </ng-container>
              <ng-container *ngSwitchCase="'aliyun'">
                <img height="30px" [src]="['assets', 'cloud', 'aliyun.png'] | wpxAssets" alt="" />
              </ng-container>
              <ng-container *ngSwitchCase="'huaweicloud'">
                <img height="36px" [src]="['assets', 'cloud', 'huaweicloud.svg'] | wpxAssets" alt="" />
              </ng-container>
              <ng-container *ngSwitchDefault> 当前未关联云服务商 </ng-container>
            </ng-container>
          </nz-list-item-meta-description>
        </nz-list-item-meta>

        <nz-descriptions style="width: 800px" nzSize="small" nzBordered nzLayout="vertical">
          <nz-descriptions-item nzTitle="访问密钥ID">
            <ng-container *ngIf="data['tencent_secret_id']; else unknow">
              {{ data['tencent_secret_id'] }}
            </ng-container>
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="访问密钥">
            <ng-container *ngIf="data['tencent_secret_key']; else unknow"> 已设置 </ng-container>
          </nz-descriptions-item>
        </nz-descriptions>

        <nz-list-item-extra>
          <button nz-button nzType="link" (click)="setPlatform()">设置</button>
          <ng-container *ngIf="!!data['cloud']">
            <button
              nz-button
              nzType="link"
              nzDanger
              nz-popconfirm
              nzPopconfirmTitle="您确定要取消该关联吗？"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="unset()"
            >
              取消关联
            </button>
          </ng-container>
        </nz-list-item-extra>
      </nz-list-item>
    </nz-list>
  </nz-list>

  <nz-card nzTitle="以下设置需要关联一种云厂商作为支持，切换云厂商原设置将失效">
    <nz-list nzSize="large" nzItemLayout="vertical">
      <nz-list-item>
        <nz-list-item-meta>
          <nz-list-item-meta-title><b>对象存储</b></nz-list-item-meta-title>
          <nz-list-item-meta-description>
            将静态文件存储至 COS 对象存储，再通过 CDN 回源进行内容分发
          </nz-list-item-meta-description>
        </nz-list-item-meta>
        <nz-descriptions style="width: 800px" nzSize="small" nzBordered nzLayout="vertical" [nzColumn]="2">
          <nz-descriptions-item nzTitle="存储桶名称">
            <ng-container *ngIf="data['tencent_cos_bucket']; else unknow">
              {{ data['tencent_cos_bucket'] }}
            </ng-container>
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="所属地域">
            <ng-container *ngIf="data['tencent_cos_region']; else unknow">
              {{ data['tencent_cos_region'] }}
            </ng-container>
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="预签名有效期（秒）">
            <ng-container *ngIf="data['tencent_cos_expired']; else unknow">
              {{ data['tencent_cos_expired'] }}
            </ng-container>
          </nz-descriptions-item>
          <nz-descriptions-item nzTitle="上传大小限制（KB）">
            <ng-container *ngIf="data['tencent_cos_limit']; else unknow">
              {{ data['tencent_cos_limit'] }}
            </ng-container>
          </nz-descriptions-item>
        </nz-descriptions>
        <nz-list-item-extra>
          <button nz-button nzType="primary" nzShape="circle" nz-tooltip="设置" (click)="setCos()">
            <i nz-icon nzType="tool"></i>
          </button>
        </nz-list-item-extra>
      </nz-list-item>
      <!--      <nz-list-item>-->
      <!--        <nz-list-item-meta>-->
      <!--          <nz-list-item-meta-title><b>消息队列</b></nz-list-item-meta-title>-->
      <!--          <nz-list-item-meta-description> 使用腾讯云 TDMQ Plusar 作用事务补偿 </nz-list-item-meta-description>-->
      <!--        </nz-list-item-meta>-->
      <!--        <nz-list-item-extra>-->
      <!--          <button nz-button nzType="primary" nzShape="circle" nz-tooltip="设置" disabled>-->
      <!--            <i nz-icon nzType="tool"></i>-->
      <!--          </button>-->
      <!--        </nz-list-item-extra>-->
      <!--      </nz-list-item>-->
      <!--      <nz-list-item>-->
      <!--        <nz-list-item-meta>-->
      <!--          <nz-list-item-meta-title><b>日志服务</b></nz-list-item-meta-title>-->
      <!--          <nz-list-item-meta-description> 使用腾讯云 CLS 日志服务收集日志 </nz-list-item-meta-description>-->
      <!--        </nz-list-item-meta>-->
      <!--        <nz-list-item-extra>-->
      <!--          <button nz-button nzType="primary" nzShape="circle" nz-tooltip="设置" disabled>-->
      <!--            <i nz-icon nzType="tool"></i>-->
      <!--          </button>-->
      <!--        </nz-list-item-extra>-->
      <!--      </nz-list-item>-->
    </nz-list>
  </nz-card>
</nz-card>

<ng-template #unknow>未设置</ng-template>
