<wpx-richtext
  [wpxPlaceholder]="placeholder"
  [wpxFallback]="['assets', 'photon.svg'] | wpxAssets"
  [wpxPictures]="openPictures"
  [wpxVideos]="openVideos"
  [(ngModel)]="value"
  (ngModelChange)="onChanged($event)"
></wpx-richtext>

<ng-template #header>
  <ng-container *ngTemplateOutlet="instance.searchRef"></ng-container>
  <ng-container *ngTemplateOutlet="instance.tagSearchRef"></ng-container>
</ng-template>

<ng-template #footer>
  <nz-space>
    <ng-container *nzSpaceItem>
      <button nz-button (click)="instance.openTags()" i18n> 设置标签 </button>
    </ng-container>
    <ng-container *nzSpaceItem>
      <ng-container *ngTemplateOutlet="instance.uploadRef"></ng-container>
    </ng-container>
  </nz-space>
</ng-template>
