<nz-layout class="common-layout">
  <nz-sider style="" nzWidth="200px" nzTheme="light">
    <ul *ngIf="app.project as p" nz-menu nzMode="inline">
      <li nz-menu-group nzTitle="组织架构">
        <ul>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', p.namespace, 'orgs', 'roles']">
            <span nz-icon nzType="partition"></span>
            <span>权限组</span>
          </li>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', p.namespace, 'orgs', 'users']">
            <span nz-icon nzType="team"></span>
            <span>团队成员</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout class="inner-layout">
    <nz-content class="content">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
