<cdk-virtual-scroll-viewport class="infinite-container" itemSize="363">
  <nz-list nzGrid nzItemLayout="vertical">
    <nz-list-item *cdkVirtualFor="let item of ds">
      <nz-row style="width: 100%" [nzGutter]="8">
        <div *ngFor="let x of item" nz-col [nzSpan]="24 / ds.itemSize">
          <nz-card nzHoverable [nzCover]="coverRef" [nzActions]="[tagsRef, editRef, deleteRef]">
            <ng-template #coverRef>
              <div class="photo" (click)="preview(x)">
                <img
                  nz-image
                  nzDisablePreview
                  [nzSrc]="[x.url, 'thumbnail'] | wpxAssets"
                  [nzPlaceholder]="[x.url, 'placeholder'] | wpxAssets"
                  [nzFallback]="[fallback!] | wpxAssets"
                  [alt]="x.name"
                />
              </div>
            </ng-template>
            <nz-card-meta style="height: 50px" [nzDescription]="descriptionRef">
              <ng-template #descriptionRef>
                <label nz-checkbox [(ngModel)]="x.checked">
                  <p nz-typography nzEllipsis [nzEllipsisRows]="2" [nzContent]="x.name"></p>
                </label>
              </ng-template>
            </nz-card-meta>
            <ng-template #tagsRef>
              <i nz-icon nzType="profile" nz-tooltip="详情"></i>
            </ng-template>
            <ng-template #editRef>
              <i nz-icon nzType="edit" nz-tooltip="编辑"></i>
            </ng-template>
            <ng-template #deleteRef>
              <i nz-icon nzType="delete" nz-tooltip="删除"></i>
            </ng-template>
          </nz-card>
        </div>
      </nz-row>
    </nz-list-item>
  </nz-list>
</cdk-virtual-scroll-viewport>
