<cdk-virtual-scroll-viewport class="infinite-container" itemSize="231.5">
  <nz-list nzGrid nzItemLayout="vertical">
    <nz-list-item *cdkVirtualFor="let items of ds">
      <div nz-row [nzGutter]="8">
        <div *ngFor="let item of items" nz-col>
          <nz-card
            style="width: 195px"
            nzSize="small"
            [nzHoverable]="true"
            [nzCover]="coverTpl"
            [nzActions]="[actionCopy, actionRename, actionEllipsis]"
          >
            <ng-template #coverTpl>
              <div
                class="thumb"
                [style]="{ 'background-image': [item.url] | wpxAssets: { thumbnail: true, css: true } }"
              >
                <div class="thumb-actions">
                  <i nz-icon nzType="search"></i>
                </div>
              </div>
            </ng-template>
            <ng-template #actionCopy>
              <!--              <i-->
              <!--                nz-icon-->
              <!--                nzType="link"-->
              <!--                [nz-tooltip]="item.copied ? copyTip : bit.static + item.url"-->
              <!--                [nzTooltipMouseEnterDelay]="0.2"-->
              <!--                (click)="copy(item)"-->
              <!--              ></i>-->
              <!--              <ng-template #copyTip>-->
              <!--                <span nz-typography nzType="success">-->
              <!--                  <i nz-icon nzType="check"></i>-->
              <!--                </span>-->
              <!--                {{ bit.l['copied'] }}-->
              <!--              </ng-template>-->
            </ng-template>
            <ng-template #actionRename>
              <!--              <i-->
              <!--                nz-icon-->
              <!--                nzType="edit"-->
              <!--                [nz-tooltip]="bit.l['rename']"-->
              <!--                [nzTooltipMouseEnterDelay]="0.2"-->
              <!--                (click)="openRenameModal(item)"-->
              <!--              ></i>-->
            </ng-template>
            <ng-template #actionEllipsis>
              <!--              <i-->
              <!--                nz-icon-->
              <!--                nzType="ellipsis"-->
              <!--                nz-dropdown-->
              <!--                [nzDropdownMenu]="actionMenu"-->
              <!--                [nzTrigger]="'click'"-->
              <!--                [nzClickHide]="false"-->
              <!--              ></i>-->
              <!--              <nz-dropdown-menu #actionMenu>-->
              <!--                <ul nz-menu>-->
              <!--                  <li nz-menu-item (click)="openMoveModal([item])">-->
              <!--                    <i nz-icon nzType="swap"></i>-->
              <!--                    {{ bit.l['move'] }}-->
              <!--                  </li>-->
              <!--                  <li nz-menu-item (click)="openDeleteModal([item])">-->
              <!--                    <i nz-icon nzType="delete"></i>-->
              <!--                    {{ bit.l['deleteItem'] }}-->
              <!--                  </li>-->
              <!--                </ul>-->
              <!--              </nz-dropdown-menu>-->
            </ng-template>

            <nz-card-meta [nzTitle]="cardTitle">
              <ng-template #cardTitle>
                <!--                              <label-->
                <!--                                nz-checkbox-->
                <!--                                [(ngModel)]="item.checked"-->
                <!--                                (ngModelChange)="ds.lists.refreshStatus()"-->
                <!--                                [nz-tooltip]="item.name"-->
                <!--                                [nzTooltipMouseEnterDelay]="0.2"-->
                <!--                              >-->
                <!--                                {{ item.name }}-->
                <!--                              </label>-->
              </ng-template>
            </nz-card-meta>
          </nz-card>
        </div>
      </div>
    </nz-list-item>
  </nz-list>
</cdk-virtual-scroll-viewport>
