<nz-card>
  <nz-tabset
    style="height: 100%"
    nzTabPosition="left"
    [(nzSelectedIndex)]="tabIndex"
    (nzSelectedIndexChange)="saveTabIndex()"
  >
    <nz-tab nzTitle="基本设置">
      <nz-card>
        <nz-list nzSize="large" nzItemLayout="vertical">
          <nz-list-item>
            <nz-list-item-meta>
              <nz-list-item-meta-title><b>会话超时策略</b></nz-list-item-meta-title>
              <nz-list-item-meta-description>
                用户在 {{ data['SessionTTL'] / 1e9 }} 秒内没有操作，退出当前帐号。
              </nz-list-item-meta-description>
            </nz-list-item-meta>
            <nz-list-item-extra>
              <button nz-button nzType="primary" nzShape="circle" nz-tooltip="编辑" (click)="setSession()">
                <i nz-icon nzType="edit"></i>
              </button>
            </nz-list-item-extra>
          </nz-list-item>
          <nz-list-item>
            <nz-list-item-meta>
              <nz-list-item-meta-title><b>帐号锁定策略</b></nz-list-item-meta-title>
              <nz-list-item-meta-description>
                用户连续登录失败 {{ data['LoginFailures'] }} 次， 锁定帐号 {{ data['LoginTTL'] / 1e9 }} 秒。
              </nz-list-item-meta-description>
            </nz-list-item-meta>
            <nz-list-item-extra>
              <button nz-button nzType="primary" nzShape="circle" nz-tooltip="编辑" (click)="setUserLock()">
                <i nz-icon nzType="edit"></i>
              </button>
            </nz-list-item-extra>
          </nz-list-item>
          <nz-list-item>
            <nz-list-item-meta>
              <nz-list-item-meta-title><b>IP 锁定策略</b></nz-list-item-meta-title>
              <nz-list-item-meta-description>
                IP 连续 {{ data['IpLoginFailures'] }} 次登录失败后（无白名单时启用），锁定 IP。
              </nz-list-item-meta-description>
            </nz-list-item-meta>
            <nz-list-item-extra>
              <button nz-button nzType="primary" nzShape="circle" nz-tooltip="编辑" (click)="setIpLock()">
                <i nz-icon nzType="edit"></i>
              </button>
            </nz-list-item-extra>
          </nz-list-item>
          <nz-list-item>
            <nz-list-item-meta>
              <nz-list-item-meta-title><b>密码强度策略</b></nz-list-item-meta-title>
              <nz-list-item-meta-description>
                <ng-container [ngSwitch]="data['PwdStrategy']">
                  <ng-container *ngSwitchCase="0"> 无限制 </ng-container>
                  <ng-container *ngSwitchCase="1"> 需要大写字母和小写字母 </ng-container>
                  <ng-container *ngSwitchCase="2"> 需要大写字母、小写字母和数字 </ng-container>
                  <ng-container *ngSwitchCase="3"> 需要大写字母、小写字母、数字和特殊字符 </ng-container>
                </ng-container>
              </nz-list-item-meta-description>
            </nz-list-item-meta>
            <nz-list-item-extra>
              <button nz-button nzType="primary" nzShape="circle" nz-tooltip="编辑" (click)="setPwdStrategy()">
                <i nz-icon nzType="edit"></i>
              </button>
            </nz-list-item-extra>
          </nz-list-item>
          <nz-list-item>
            <nz-list-item-meta>
              <nz-list-item-meta-title><b>密码有效期策略</b></nz-list-item-meta-title>
              <nz-list-item-meta-description>
                <ng-container *ngIf="data['PwdTTL'] === 0; else passwordExpire"> 永久 </ng-container>
                <ng-template #passwordExpire>
                  <ng-container> {{ data['PwdTTL'] / 86400e9 }} 天后密码过期，系统强制要求修改密码。 </ng-container>
                </ng-template>
              </nz-list-item-meta-description>
            </nz-list-item-meta>
            <nz-list-item-extra>
              <button nz-button nzType="primary" nzShape="circle" nz-tooltip="编辑" (click)="setPwdTtl()">
                <i nz-icon nzType="edit"></i>
              </button>
            </nz-list-item-extra>
          </nz-list-item>
        </nz-list>
      </nz-card>
    </nz-tab>
    <nz-tab nzTitle="白名单">
      <nz-alert
        nzType="info"
        nzBanner
        nzMessage="白名单不限制登录失败的锁定，支持 CIDR，例如：192.168.1.0/24"
      ></nz-alert>
      <nz-table #IpWhitelist nzHideOnSinglePage [nzData]="data['IpWhitelist']" [nzFooter]="whitelistActions">
        <thead>
          <tr>
            <th><b>IP 地址</b></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of IpWhitelist.data">
            <td>{{ item }}</td>
          </tr>
        </tbody>
        <ng-template #whitelistActions>
          <button nz-button nzType="text" nzBlock (click)="setIpList('IpWhitelist')">编辑</button>
        </ng-template>
      </nz-table>
    </nz-tab>
    <nz-tab nzTitle="黑名单">
      <nz-alert nzType="info" nzBanner nzMessage="黑名单将被禁止访问，支持 CIDR，例如：192.168.1.0/24"></nz-alert>
      <nz-table #IpBlacklist nzHideOnSinglePage [nzData]="data['IpBlacklist']" [nzFooter]="blacklistActions">
        <thead>
          <tr>
            <th><b>IP 地址</b></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of IpBlacklist.data">
            <td>{{ item }}</td>
          </tr>
        </tbody>
        <ng-template #blacklistActions>
          <button nz-button nzType="text" nzBlock (click)="setIpList('IpBlacklist')">编辑</button>
        </ng-template>
      </nz-table>
    </nz-tab>
  </nz-tabset>
</nz-card>
