<div *ngIf="app.project as v" class="toolbar">
  <ul nz-menu nzMode="vertical">
    <li
      nz-menu-item
      nzMatchRouter
      [routerLink]="['/', v.namespace, 'overview']"
      nz-tooltip="总览"
      nzTooltipPlacement="right"
    >
      <span nz-icon nzType="desktop"></span>
    </li>
    <li
      nz-menu-item
      nzMatchRouter
      [routerLink]="['/', v.namespace, 'factory']"
      nz-tooltip="内容生成器"
      nzTooltipPlacement="right"
    >
      <span nz-icon nzType="layout"></span>
    </li>
    <li
      nz-menu-item
      nzMatchRouter
      [routerLink]="['/', v.namespace, 'media']"
      nz-tooltip="媒体"
      nzTooltipPlacement="right"
    >
      <span nz-icon nzType="inbox"></span>
    </li>
    <li
      nz-menu-item
      nzMatchRouter
      [routerLink]="['/', v.namespace, 'orgs']"
      nz-tooltip="组织"
      nzTooltipPlacement="right"
    >
      <span nz-icon nzType="apartment"></span>
    </li>
    <li
      nz-menu-item
      nzMatchRouter
      [routerLink]="['/', v.namespace, 'monitor']"
      nz-tooltip="监控"
      nzTooltipPlacement="right"
    >
      <span nz-icon nzType="line-chart"></span>
    </li>
    <li
      nz-menu-item
      nzMatchRouter
      [routerLink]="['/', v.namespace, 'developer']"
      nz-tooltip="开发者"
      nzTooltipPlacement="right"
    >
      <i nz-icon nzType="code"></i>
    </li>
  </ul>
</div>
