<ng-template #uploadRef>
  <wpx-upload-transport
    [wpxExt]="'image'"
    [wpxAccept]="['image/jpeg', 'image/png', 'image/bmp', 'image/gif', 'image/webp', 'image/avif']"
    (wpxChange)="upload($event)"
  ></wpx-upload-transport>
</ng-template>

<wpx-quick [wpxApi]="tags"> </wpx-quick>
<ng-template #tagSearchRef>
  <nz-select
    style="min-width: 180px"
    nzMode="multiple"
    nzPlaceHolder="筛选标签"
    i18n-nzPlaceHolder
    nzAllowClear
    nzBorderless
    [(ngModel)]="tagIds"
    [nzServerSearch]="true"
    (nzOnSearch)="getTags($event)"
    (ngModelChange)="getData(true)"
  >
    <ng-container *ngFor="let item of tagItems">
      <nz-option [nzLabel]="item.name" [nzValue]="item._id"></nz-option>
    </ng-container>
  </nz-select>
</ng-template>

<ng-template #searchRef>
  <nz-space>
    <nz-input-group *nzSpaceItem style="width: 180px" nzSuffixIcon="search">
      <input
        (keyup.enter)="getData(true)"
        [(ngModel)]="searchText"
        type="text"
        nz-input
        placeholder="搜索"
        i18n-placeholder
      />
    </nz-input-group>
    <nz-button-group *nzSpaceItem>
      <button nz-button nzType="text" nz-tooltip="刷新" i18n-nz-tooltip (click)="getData(true)">
        <i nz-icon nzType="reload"></i>
      </button>
      <button nz-button nzType="text" nz-tooltip="重置" i18n-nz-tooltip (click)="clear()">
        <i nz-icon nzType="clear"></i>
      </button>
    </nz-button-group>
  </nz-space>
</ng-template>

<wpx-media
  [wpxData]="ds"
  [wpxType]="'pictures'"
  [wpxFallback]="['assets', 'photon.svg'] | wpxAssets"
  [wpxForm]="form"
></wpx-media>
