<nz-card>
  <nz-table
    #basicTable
    [nzFrontPagination]="false"
    [nzShowSizeChanger]="true"
    [nzHideOnSinglePage]="true"
    [nzLoading]="dataset.loading"
    [nzData]="dataset.values"
    [nzTotal]="dataset.total"
    [(nzPageSize)]="dataset.pagesize"
    [(nzPageIndex)]="dataset.page"
    (nzPageIndexChange)="getData(false)"
    (nzPageSizeChange)="getData(true)"
  >
    <thead>
      <tr>
        <th
          nzWidth="60px"
          nzLeft
          nzAlign="center"
          [nzChecked]="dataset.checked"
          [nzIndeterminate]="dataset.indeterminate"
          (nzCheckedChange)="dataset.setNChecked($event)"
        >
        </th>
        <th nzWidth="270px"><b>操作时间</b></th>
        <th nzWidth="320px"><b>操作者</b></th>
        <th><b>资源请求</b></th>
        <th><b>事件备注</b></th>
        <th nzWidth="60px" nzRight nzAlign="center">
          <button nz-button nzType="text" nzBlock disabled>
            <i nz-icon nzType="setting"></i>
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of basicTable.data">
        <tr>
          <td
            nzLeft
            nzAlign="center"
            [nzDisabled]="data['disabled']"
            [nzChecked]="dataset.checkedIds.has(data['_id'])"
            (nzCheckedChange)="dataset.setChecked(data['_id'], $event)"
          >
          </td>
          <td [nzExpand]="expand.has(data['_id'])" (nzExpandChange)="expandChange(data['_id'], $event)">
            {{ data['timestamp'] }}
          </td>
          <td>{{ data.metadata.user_id }}</td>
          <td>{{ data.metadata.method }} {{ data.metadata.path }}</td>
          <td>无</td>
          <td nzRight nzAlign="center">
            <button nz-button nzType="text" nz-dropdown [nzDropdownMenu]="menu">
              <i nz-icon nzType="ellipsis"></i>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item>设置备注</li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
        <tr [nzExpand]="expand.has(data['_id'])">
          <nz-descriptions nzTitle="日志数据" nzSize="small" [nzColumn]="2">
            <nz-descriptions-item nzTitle="HOST">{{ data.metadata.host }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="COST">{{ data.data.cost }}ms</nz-descriptions-item>
            <nz-descriptions-item nzTitle="IP">{{ data.metadata.ip }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="STATUS">{{ data.data.status }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="QUERY" [nzSpan]="2">{{ data.data.query }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="BODY" [nzSpan]="2">{{ data.data.body }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="USER_AGENT" [nzSpan]="2">{{ data.data.user_agent }}</nz-descriptions-item>
          </nz-descriptions>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</nz-card>
