<nz-card>
  <nz-table
    #basicTable
    [nzFrontPagination]="false"
    [nzShowSizeChanger]="true"
    [nzHideOnSinglePage]="true"
    [nzLoading]="dataset.loading"
    [nzData]="dataset.values"
    [nzTotal]="dataset.total"
    [(nzPageSize)]="dataset.pagesize"
    [(nzPageIndex)]="dataset.page"
    (nzPageIndexChange)="getData(false)"
    (nzPageSizeChange)="getData(true)"
  >
    <thead>
      <tr>
        <th nzWidth="60px" nzLeft nzAlign="center"> </th>
        <th nzWidth="240px"><b>日志时间</b></th>
        <th nzWidth="600px"><b>操作者</b></th>
        <th><b>日志数据</b></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let data of basicTable.data">
        <tr>
          <td>
            <button nz-button nzType="text" nzBlock>
              <span nz-icon nzType="copy"></span>
            </button>
          </td>
          <td>{{ data['timestamp'] }}</td>
          <td>
            <nz-descriptions nzSize="small" nzBordered [nzColumn]="2">
              <nz-descriptions-item nzTitle="HOST" [nzSpan]="2">{{ data.metadata.host }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="METHOD">{{ data.metadata.method }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="PATH">{{ data.metadata.path }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="IP">{{ data.metadata.ip }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="USER_ID">{{ data.metadata.user_id }}</nz-descriptions-item>
            </nz-descriptions>
          </td>
          <td>
            <nz-descriptions nzSize="small" nzBordered [nzColumn]="2">
              <nz-descriptions-item nzTitle="COST">{{ data.data.cost }}ms</nz-descriptions-item>
              <nz-descriptions-item nzTitle="STATUS">{{ data.data.status }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="QUERY" [nzSpan]="2">{{ data.data.query }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="BODY" [nzSpan]="2">{{ data.data.body }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="USER_AGENT" [nzSpan]="2">{{ data.data.user_agent }}</nz-descriptions-item>
            </nz-descriptions>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</nz-card>
