<nz-layout class="common-layout">
  <nz-sider nzWidth="200px" nzTheme="light">
    <ul *ngIf="app.project as p" nz-menu nzMode="inline">
      <li nz-menu-group nzTitle="资源配置">
        <ul>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', p.namespace, 'media', 'storage']">
            <span nz-icon nzType="database"></span>
            <span>存储介质</span>
          </li>
          <li nz-menu-item nzMatchRouter nzDisabled>
            <span nz-icon nzType="global"></span>
            <span>内容分发</span>
          </li>
          <li nz-menu-item nzMatchRouter nzDisabled>
            <span nz-icon nzType="build"></span>
            <span>数据处理</span>
          </li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="资源库">
        <ul>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', p.namespace, 'media', 'pictures']">
            <span nz-icon nzType="picture"></span>
            <span>图片</span>
          </li>
          <li nz-menu-item nzDisabled>
            <span nz-icon nzType="sound"></span>
            <span>音频</span>
          </li>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', p.namespace, 'media', 'videos']">
            <span nz-icon nzType="video-camera"></span>
            <span>视频</span>
          </li>
          <li nz-menu-item nzDisabled>
            <span nz-icon nzType="file-word"></span>
            <span>文档</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout class="inner-layout">
    <nz-content class="content">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
