<form nz-form nzLayout="vertical" id="form" [formGroup]="form" (wpxSubmit)="submit($event)">
  <nz-form-item>
    <nz-form-label nzRequired>服务商</nz-form-label>
    <nz-form-control>
      <nz-radio-group formControlName="cloud">
        <label nz-radio nzValue="tencent">
          <img height="20px" [src]="['assets', 'cloud', 'tencent.svg'] | wpxAssets" alt="" />
        </label>
        <label nz-radio nzValue="aliyun" nzDisabled>
          <img height="20px" [src]="['assets', 'cloud', 'aliyun.png'] | wpxAssets" alt="" />
        </label>
        <label nz-radio nzValue="huaweicloud" nzDisabled>
          <img height="30px" [src]="['assets', 'cloud', 'huaweicloud.svg'] | wpxAssets" alt="" />
        </label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>访问密钥 ID</nz-form-label>
    <nz-form-control
      nzHasFeedback
      [nzAutoTips]="{
        default: {
          required: '访问密钥 ID 不能为空'
        }
      }"
    >
      <input nz-input formControlName="tencent_secret_id" placeholder="腾讯云 API 密钥 Id" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>访问密钥</nz-form-label>
    <nz-form-control
      nzHasFeedback
      [nzAutoTips]="{
        default: {
          required: '访问密钥不能为空'
        }
      }"
    >
      <input nz-input formControlName="tencent_secret_key" placeholder="腾讯云 API 密钥 Key" />
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button type="button" nzType="default" (click)="close()">取消</button>
  <button nz-button nzType="primary" form="form" [disabled]="!form?.valid">提交</button>
</div>
