<ul nz-menu nzTheme="light" nzMode="inline">
  <ng-container *ngTemplateOutlet="navTemplate; context: { $implicit: navs }"></ng-container>
  <ng-template #navTemplate let-navs>
    <ng-container *ngFor="let nav of navs">
      <ng-container *ngIf="nav.router; else notRouter">
        <li nz-menu-item nzMatchRouter [nzPaddingLeft]="level(nav)" [routerLink]="nav.url">
          <i *ngIf="!!nav.icon" nz-icon [nzType]="nav.icon"></i>
          <span>{{ nav.name | object: bit.locale }}</span>
        </li>
      </ng-container>
      <ng-template #notRouter>
        <li nz-submenu [nzOpen]="nav.url[0] === actived" [nzPaddingLeft]="level(nav)">
          <span title>
            <i *ngIf="!!nav.icon" nz-icon [nzType]="nav.icon"></i>
            <span>{{ nav.name | object: bit.locale }}</span>
          </span>
          <ul>
            <ng-container *ngTemplateOutlet="navTemplate; context: { $implicit: nav.children }"></ng-container>
          </ul>
        </li>
      </ng-template>
    </ng-container>
  </ng-template>
</ul>
