<nz-layout style="height: 100%">
  <nz-header class="nav">
    <ng-template #breadcrumbsRef>
      <nz-breadcrumb nzAutoGenerate>
        <nz-breadcrumb-item>{{ data.name }}</nz-breadcrumb-item>
      </nz-breadcrumb>
    </ng-template>
    <app-nav [breadcrumbs]="breadcrumbsRef"></app-nav>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="240px" nzTheme="light">
      <ul nz-menu style="border: none">
        <li nz-menu-item nzMatchRouter routerLink="overview">
          <span nz-icon nzType="project" nzTheme="outline"></span>
          <span>Overview</span>
        </li>
        <li *ngIf="data.kind === 'cms'" nz-menu-item nzMatchRouter routerLink="builders">
          <span nz-icon nzType="layout" nzTheme="outline"></span>
          <span>Builders</span>
        </li>
        <li nz-menu-item nzMatchRouter routerLink="workflows">
          <span nz-icon nzType="schedule" nzTheme="outline"></span>
          <span>Workflows</span>
        </li>
        <li nz-menu-item nzMatchRouter routerLink="queues">
          <span nz-icon nzType="pull-request" nzTheme="outline"></span>
          <span>Queues</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout style="overflow: hidden auto">
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
