<nz-layout style="height: 100%; background: transparent">
  <nz-page-header>
    <nz-page-header-title>任务运行管理</nz-page-header-title>
    <nz-page-header-subtitle>{{ doc.name }}</nz-page-header-subtitle>
    <nz-page-header-extra>
      <nz-space nzAlign="center">
        <button *nzSpaceItem nz-button nzType="primary" nzShape="circle" nz-tooltip="检查" (click)="checkDiff()">
          <span nz-icon nzType="diff" nzTheme="outline"></span>
        </button>
      </nz-space>
    </nz-page-header-extra>
  </nz-page-header>

  <nz-content style="height: 100%">
    <nz-card>
      <nz-table nzSize="middle" nzTemplateMode>
        <thead>
          <tr>
            <th nzWidth="60px" nzAlign="center">
              <button nz-button nzType="text" nz-tooltip="终止" i18n-nz-tooltip disabled>
                <span nz-icon nzType="stop" nzTheme="outline"></span>
              </button>
            </th>
            <th><b>标识</b></th>
            <th><b>状态</b></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items; index as i">
            <td nzAlign="center">
              <button
                nz-button
                nzType="text"
                nz-popconfirm
                nzPopconfirmTitle="您确定要终止任务吗?"
                (nzOnConfirm)="stopJob(item)"
              >
                <span nz-icon nzType="stop" nzTheme="outline"></span>
              </button>
            </td>
            <td>{{ item }}</td>
            <td>
              <ng-container *ngIf="exists.has(item); else notExistsRef">
                <nz-badge nzStatus="success" nzText="接入"></nz-badge>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </nz-content>
</nz-layout>

<ng-template #notExistsRef>
  <nz-badge nzStatus="error" nzText="脱机"></nz-badge>
</ng-template>
