<nz-tabset style="height: 100%" nzTabPosition="left">
  <nz-tab nzTitle="Basic" i18n-nzTitle>
    <nz-card *ngIf="app.user as user">
      <nz-list nzSize="large" nzItemLayout="vertical">
        <nz-list-item>
          <nz-list-item-meta>
            <nz-list-item-meta-title><b i18n>Email</b></nz-list-item-meta-title>
            <nz-list-item-meta-description i18n> Already Set: {{ user.email }} </nz-list-item-meta-description>
          </nz-list-item-meta>
          <nz-list-item-extra>
            <button nz-button nzType="primary" nzShape="circle" nz-tooltip="Edit" i18n-nz-tooltip (click)="setEmail()">
              <i nz-icon nzType="edit"></i>
            </button>
          </nz-list-item-extra>
        </nz-list-item>
        <nz-list-item>
          <nz-list-item-meta>
            <nz-list-item-meta-title><b i18n>Call</b></nz-list-item-meta-title>
            <nz-list-item-meta-description>
              <ng-container *ngIf="!!user.name; else emptyNameTpl" i18n> Already Set: {{ user.name }} </ng-container>
              <ng-template #emptyNameTpl>
                <span i18n>It is recommended to set work title or real name</span>
              </ng-template>
            </nz-list-item-meta-description>
          </nz-list-item-meta>
          <nz-list-item-extra>
            <button nz-button nzType="primary" nzShape="circle" nz-tooltip="Edit" i18n-nz-tooltip (click)="setName()">
              <i nz-icon nzType="edit"></i>
            </button>
          </nz-list-item-extra>
        </nz-list-item>
        <nz-list-item>
          <nz-list-item-meta>
            <nz-list-item-meta-title><b i18n>Avatar</b></nz-list-item-meta-title>
            <nz-list-item-meta-description i18n> Recommended size 256*256 </nz-list-item-meta-description>
          </nz-list-item-meta>
          <ng-container *ngIf="!!user.avatar; else emptyAvatarTpl">
            <nz-avatar nzShape="square" [nzSize]="128" [nzSrc]="[user.avatar] | wpxAssets"></nz-avatar>
          </ng-container>
          <ng-template #emptyAvatarTpl>
            <nz-avatar nzShape="square" [nzSize]="128" nzIcon="user"></nz-avatar>
          </ng-template>
          <nz-list-item-extra>
            <button nz-button nzType="primary" nzShape="circle" nz-tooltip="Edit" i18n-nz-tooltip (click)="setAvatar()">
              <i nz-icon nzType="edit"></i>
            </button>
          </nz-list-item-extra>
        </nz-list-item>
        <nz-list-item>
          <nz-list-item-meta>
            <nz-list-item-meta-title><b i18n>Detail</b></nz-list-item-meta-title>
            <nz-list-item-meta-description>
              <nz-descriptions [nzColumn]="2">
                <nz-descriptions-item nzTitle="Create Time" i18n-nzTitle>
                  {{ user.create_time | date: 'yyyy-MM-dd HH:mm:ss' }}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="Update Time" i18n-nzTitle>
                  {{ user.update_time | date: 'yyyy-MM-dd HH:mm:ss' }}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="Sessions" i18n-nzTitle>
                  <span i18n>
                    Total number of sessions logged in <b> {{ user.sessions }} </b> times
                  </span>
                </nz-descriptions-item>
                <nz-descriptions-item *ngIf="user.last as l" nzTitle="Online" i18n-nzTitle>
                  {{ l.timestamp | date: 'yyyy-MM-dd HH:mm:ss' }}
                </nz-descriptions-item>
                <nz-descriptions-item *ngIf="user.last as l" nzTitle="IP" [nzSpan]="2">
                  <b>[ {{ l.ip }} ]</b>
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="Regional & ISP" i18n-nzTitle [nzSpan]="2">
                  <nz-space *ngIf="user.last as l" [nzSplit]="spaceSplit">
                    <ng-template #spaceSplit>
                      <nz-divider nzType="vertical"></nz-divider>
                    </ng-template>
                    <span *nzSpaceItem>{{ !l.country ? '-' : l.country }}</span>
                    <span *nzSpaceItem>{{ !l.province ? '-' : l.province }}</span>
                    <span *nzSpaceItem>{{ !l.city ? '-' : l.city }}</span>
                    <span *nzSpaceItem>{{ !l.isp ? '-' : l.isp }}</span>
                  </nz-space>
                </nz-descriptions-item>
              </nz-descriptions>
            </nz-list-item-meta-description>
          </nz-list-item-meta>
        </nz-list-item>
      </nz-list>
    </nz-card>
  </nz-tab>
  <nz-tab nzTitle="Security" i18n-nzTitle>
    <nz-card *ngIf="app.user as user">
      <nz-list nzSize="large" nzItemLayout="vertical">
        <nz-list-item>
          <nz-list-item-meta>
            <nz-list-item-meta-title><b i18n>Password</b></nz-list-item-meta-title>
            <nz-list-item-meta-description i18n>
              A combination of uppercase letters, lowercase letters, numbers, and special characters (@$!%*?&-+) is
              recommended for passwords
            </nz-list-item-meta-description>
          </nz-list-item-meta>
          <nz-list-item-extra>
            <button
              nz-button
              nzType="primary"
              nzShape="circle"
              nz-tooltip="Edit"
              i18n-nz-tooltip
              (click)="setPassword()"
            >
              <i nz-icon nzType="edit"></i>
            </button>
          </nz-list-item-extra>
        </nz-list-item>
        <nz-list-item>
          <nz-list-item-meta>
            <nz-list-item-meta-title><b i18n>Backup Email</b></nz-list-item-meta-title>
            <nz-list-item-meta-description>
              <ng-container *ngIf="!!user.backup_email; else emailEmptyTpl">
                Already Set: {{ user.backup_email }}
              </ng-container>
              <ng-template #emailEmptyTpl>
                <span i18n>
                  There is currently no backup mailbox set up, mainly used to restore account security related
                  operations, it is recommended to use a personal mailbox
                </span>
              </ng-template>
            </nz-list-item-meta-description>
          </nz-list-item-meta>
          <nz-list-item-extra>
            <button
              nz-button
              nzType="primary"
              nzShape="circle"
              nz-tooltip="Edit"
              i18n-nz-tooltip
              (click)="setBackupEmail()"
            >
              <i nz-icon nzType="edit"></i>
            </button>
          </nz-list-item-extra>
        </nz-list-item>
        <nz-list-item>
          <nz-list-item-meta>
            <nz-list-item-meta-title><b i18n>Recovery Codes</b></nz-list-item-meta-title>
            <nz-list-item-meta-description>
              <span i18n>
                Currently no recovery codes is set, it is can be used to access your account in the event you lose
                access to your device and cannot receive two-factor authentication codes.
              </span>
            </nz-list-item-meta-description>
          </nz-list-item-meta>
          <nz-list-item-extra>
            <button nz-button nzType="primary" nzShape="circle" nz-tooltip="Edit" i18n-nz-tooltip disabled>
              <i nz-icon nzType="edit"></i>
            </button>
          </nz-list-item-extra>
        </nz-list-item>
        <nz-list-item>
          <nz-list-item-meta>
            <nz-list-item-meta-title><b i18n>Authenticator App</b></nz-list-item-meta-title>
            <nz-list-item-meta-description i18n>
              Currently no authenticator app is set, Use an application on your phone to get two-factor authentication
              codes when prompted
            </nz-list-item-meta-description>
          </nz-list-item-meta>
          <nz-list-item-extra>
            <button nz-button nzType="primary" nzShape="circle" nz-tooltip="Edit" i18n-nz-tooltip disabled>
              <i nz-icon nzType="edit"></i>
            </button>
          </nz-list-item-extra>
        </nz-list-item>
        <nz-list-item>
          <nz-list-item-meta>
            <nz-list-item-meta-title><b i18n>Remote Login Protection</b></nz-list-item-meta-title>
            <nz-list-item-meta-description i18n>
              Judging based on whether the login IP belongs to a common login city, if the account is logged in in an
              unused city, identity verification is required
            </nz-list-item-meta-description>
          </nz-list-item-meta>
          <nz-list-item-extra>
            <button nz-button nzType="primary" nzShape="circle" nz-tooltip="Edit" i18n-nz-tooltip disabled>
              <i nz-icon nzType="edit"></i>
            </button>
          </nz-list-item-extra>
        </nz-list-item>
      </nz-list>
    </nz-card>
  </nz-tab>
  <nz-tab nzTitle="Collaboration" i18n-nzTitle>
    <nz-card *ngIf="app.user as user">
      <nz-list nzSize="large" nzItemLayout="vertical">
        <nz-list-item>
          <nz-list-item-meta>
            <nz-list-item-meta-avatar>
              <nz-avatar
                nzShape="square"
                nzSize="large"
                [nzSrc]="['assets', 'office', 'feishu.png'] | wpxAssets"
              ></nz-avatar>
            </nz-list-item-meta-avatar>
            <nz-list-item-meta-title><b i18n>Feishu</b></nz-list-item-meta-title>
            <nz-list-item-meta-description *ngIf="!user.feishu" i18n>
              No Feishu account is currently set up
            </nz-list-item-meta-description>
          </nz-list-item-meta>
          <nz-descriptions *ngIf="user.feishu as feishu" nzSize="small" nzBordered [nzColumn]="2">
            <nz-descriptions-item nzTitle="Name" i18n-nzTitle>{{ feishu.name }}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="English Name" i18n-nzTitle>
              {{ feishu.en_name | nzSafeNull: '-' }}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Identifier" i18n-nzTitle>{{ feishu.open_id }}</nz-descriptions-item>
          </nz-descriptions>
          <nz-list-item-extra>
            <ng-container *ngIf="user.feishu; else linkFeishuTpl">
              <button
                nz-button
                nzType="link"
                nz-popconfirm
                nzPopconfirmTitle="Are you sure you want to cancel this association?"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="unlinkFeishu()"
                i18n-nzPopconfirmTitle
                i18n
              >
                Cancel
              </button>
            </ng-container>
            <ng-template #linkFeishuTpl>
              <button nz-button nzType="link" (click)="linkFeishu()" i18n>Set</button>
            </ng-template>
          </nz-list-item-extra>
        </nz-list-item>
        <nz-list-item>
          <nz-list-item-meta>
            <nz-list-item-meta-avatar>
              <nz-avatar
                nzShape="square"
                nzSize="large"
                [nzSrc]="['assets', 'office', 'work-weixin.png'] | wpxAssets"
              ></nz-avatar>
            </nz-list-item-meta-avatar>
            <nz-list-item-meta-title><b i18n>WeCom</b></nz-list-item-meta-title>
            <nz-list-item-meta-description i18n>No WeCom account is currently set up</nz-list-item-meta-description>
          </nz-list-item-meta>
          <nz-list-item-extra>
            <button nz-button nzType="link" disabled i18n> Set </button>
          </nz-list-item-extra>
        </nz-list-item>
        <nz-list-item>
          <nz-list-item-meta>
            <nz-list-item-meta-avatar>
              <nz-avatar
                nzShape="square"
                nzSize="large"
                [nzSrc]="['assets', 'office', 'dingtalk.png'] | wpxAssets"
              ></nz-avatar>
            </nz-list-item-meta-avatar>
            <nz-list-item-meta-title><b i18n>DingTalk</b></nz-list-item-meta-title>
            <nz-list-item-meta-description i18n>No DingTalk account is currently set up</nz-list-item-meta-description>
          </nz-list-item-meta>
          <nz-list-item-extra>
            <button nz-button nzType="link" disabled i18n> Set </button>
          </nz-list-item-extra>
        </nz-list-item>
      </nz-list>
    </nz-card>
  </nz-tab>
</nz-tabset>
