<ng-template #titleRef>
  <nz-space nzAlign="center">
    <wpx-keyword
      *nzSpaceItem
      [wpxWidth]="320"
      [wpxModel]="model"
      [wpxKeys]="['name', 'namespace']"
      (wpxSubmit)="getData()"
      wpxPlaceholder="Name, Namespace"
    ></wpx-keyword>
    <wpx-toolbox *nzSpaceItem [wpxModel]="model" (wpxClear)="getData()" (wpxRefresh)="getData()"> </wpx-toolbox>
  </nz-space>
</ng-template>

<ng-template #extraRef>
  <nz-space nzAlign="center">
    @if (model.selection.size; as size) {
      <button *nzSpaceItem nz-button nzType="dashed" nz-dropdown [nzDropdownMenu]="menu">
        {{ size }} selected items
      </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="wpxTable.clearSelections()"> Unselect </li>
          <li nz-menu-item nzDanger (click)="bulkDelete()"> Delete </li>
        </ul>
      </nz-dropdown-menu>
    }
    <button *nzSpaceItem nz-button nzType="primary" (click)="openForm()"> Create </button>
  </nz-space>
</ng-template>

<wpx-table
  #wpxTable
  [wpxTitle]="titleRef"
  [wpxExtra]="extraRef"
  [wpxModel]="model"
  [wpxColumns]="[
    {
      title: 'Name',
      key: 'name',
      width: '360px',
      render: name
    },
    {
      title: 'Detail',
      key: 'detail',
      render: detail
    }
  ]"
  [wpxAction]="action"
  (wpxChange)="getData()"
>
  <ng-template #name let-data>
    <nz-tag nzColor="blue">
      @switch (data.kind) {
        @case ('schedule') {
          Schedule
        }
      }
    </nz-tag>
    {{ data.name }}
  </ng-template>
  <ng-template #detail let-data>
    @switch (data.kind) {
      @case ('schedule') {
        @if (data.schedule; as schedule) {
          @if (!schedule.status) {
            <nz-tag nzColor="error">
              <span nz-icon nzType="stop"></span>
              <span>Disabled</span>
            </nz-tag>
          }
          <nz-tag>
            <span nz-icon nzType="deployment-unit" nzTheme="outline"></span>
            @if (endpointDict[schedule.ref]; as endpoint) {
              {{ endpoint.name }}
            }
          </nz-tag>
          <nz-tag>
            <span nz-icon nzType="key" nzTheme="outline"></span>
            {{ data._id }}
          </nz-tag>
          <a (click)="openControl(data, 0)"> There are {{ schedule.jobs.length }} events </a>
        } @else {
          <a (click)="openControl(data, 1)">
            <span nz-icon nzType="info-circle" nzTheme="outline"></span>
            Please initialize the event
          </a>
        }
      }
    }
  </ng-template>
</wpx-table>

<ng-template #action let-data>
  <button nz-button nzType="text" nz-dropdown [nzDropdownMenu]="menu">
    <span nz-icon nzType="ellipsis" nzTheme="outline"></span>
  </button>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item (click)="openForm(data)"> Modify </li>
      <li nz-menu-item nzDanger (click)="delete(data)"> Delete </li>
    </ul>
  </nz-dropdown-menu>
</ng-template>
