<form *ngIf="form" nz-form nzLayout="vertical" id="form" [formGroup]="form" (wpxSubmit)="submit($event)">
  <nz-form-item>
    <nz-form-label nzRequired>项目名称</nz-form-label>
    <nz-form-control
      nzHasFeedback
      [nzAutoTips]="{
        default: {
          required: '项目名称不能为空'
        }
      }"
    >
      <input nz-input type="text" formControlName="name" placeholder="给项目起个名称" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>项目描述</nz-form-label>
    <nz-form-control
      nzHasFeedback
      [nzAutoTips]="{
        default: {
          maxlength: '项目描述不能超出 100 字'
        }
      }"
    >
      <nz-textarea-count [nzMaxCharacterCount]="100">
        <textarea rows="4" formControlName="description" nz-input placeholder="项目描述"></textarea>
      </nz-textarea-count>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>状态</nz-form-label>
    <nz-form-control>
      <nz-switch formControlName="status"></nz-switch>
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="close()">取消</button>
  <button nz-button nzType="primary" form="form" [disabled]="!form?.valid">提交</button>
</div>
