<ng-template #titleRef>
  <nz-space nzAlign="center">
    <wpx-keyword
      *nzSpaceItem
      [wpxWidth]="320"
      [wpxModel]="model"
      [wpxKeys]="['name', 'namespace']"
      (wpxSubmit)="getData()"
      wpxPlaceholder="项目名称、命名空间"
    ></wpx-keyword>
    <wpx-toolbox *nzSpaceItem [wpxModel]="model" (wpxClear)="getData()" (wpxRefresh)="getData()"> </wpx-toolbox>
  </nz-space>
</ng-template>

<ng-template #extraRef>
  <nz-space nzAlign="center">
    <ng-container *ngIf="model.selection.size as size">
      <button *nzSpaceItem nz-button nzType="dashed" nz-dropdown [nzDropdownMenu]="menu"> 已选中 {{ size }} 项 </button>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="wpxTable.clearSelections()"> 取消选择 </li>
        </ul>
        <ul nz-menu>
          <li nz-menu-item nzDanger (click)="bulkDelete()"> 删除 </li>
        </ul>
      </nz-dropdown-menu>
    </ng-container>
    <button *nzSpaceItem nz-button nzType="primary" (click)="openForm()"> 新增 </button>
  </nz-space>
</ng-template>

<wpx-table
  #wpxTable
  [wpxTitle]="titleRef"
  [wpxExtra]="extraRef"
  [wpxModel]="model"
  [wpxColumns]="[
    {
      title: '项目名称',
      key: 'name',
      width: '360px',
      render: name
    },
    {
      title: 'OpenAPI 密钥',
      key: 'openapi',
      width: '240px',
      render: openapi
    },
    {
      title: '详情',
      key: 'detail',
      render: detail
    }
  ]"
  [wpxItemSize]="50"
  [wpxOffset]="310"
  [wpxActions]="actions"
  (wpxChange)="getData()"
>
  <ng-template #name let-data>
    <nz-tag [ngSwitch]="data.kind" nzColor="blue">
      <ng-container *ngSwitchCase="'default'">标准类型</ng-container>
      <ng-container *ngSwitchCase="'cms'">内容类型</ng-container>
    </nz-tag>
    {{ data.name }} [{{ data.namespace }}]
  </ng-template>
  <ng-template #openapi let-data>
    <ng-container *ngIf="data.secret_id && data.secret_key; else unsetRef">
      <nz-space [nzSplit]="spaceSplit">
        <span *nzSpaceItem nz-typography nzCopyable [nzContent]="data.secret_id"></span>
        <span *nzSpaceItem nz-typography nzCopyable [nzCopyText]="data.secret_key" nzContent="KEY"></span>
      </nz-space>
    </ng-container>
  </ng-template>
  <ng-template #detail let-data>
    <a *ngIf="data.entry && data.entry.length !== 0" (click)="openEntry(data)">
      已设置 {{ data.entry.length }} 个限制
    </a>
  </ng-template>
</wpx-table>

<nz-dropdown-menu #actions="nzDropdownMenu">
  <ul *ngIf="wpxTable.actived as v" nz-menu>
    <li nz-menu-item nzDisabled>
      <b>{{ v.name }}</b>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item (click)="openForm(v)"> 修改 </li>
    <li nz-menu-item nzDanger (click)="delete(v)"> 删除 </li>
  </ul>
</nz-dropdown-menu>

<ng-template #unsetRef>未设置</ng-template>

<ng-template #spaceSplit>
  <nz-divider nzType="vertical"></nz-divider>
</ng-template>
