<nz-layout class="common-layout">
  <nz-page-header [nzGhost]="false" nzTitle="工作区" i18n-nzTitle nzSubtitle="让开发管理便利起来" i18n-nzSubtitle>
    <nz-page-header-content>
      <nz-row nzJustify="space-between">
        <nz-col>
          <ng-container *ngIf="app.user as user">
            <div class="user">
              <ng-container *ngIf="!!user.avatar; else defaultAvatar">
                <nz-avatar nzShape="square" [nzSize]="80" [nzSrc]="[user.avatar] | wpxAssets"></nz-avatar>
              </ng-container>
              <ng-template #defaultAvatar>
                <nz-avatar nzShape="square" [nzSize]="80" nzIcon="user"></nz-avatar>
              </ng-template>
              <div class="user-info">
                <h2 i18n> {{ user.email | uppercase }} ( {{ !user.name ? '无称呼' : (user.name | uppercase) }} )</h2>
                <p>
                  <nz-space *ngIf="user.last as l" [nzSplit]="spaceSplit">
                    <span *nzSpaceItem i18n>
                      已累计登录 <b> {{ user.sessions }} </b> 次
                    </span>
                    <span *nzSpaceItem i18n> 登录于 {{ l.timestamp | date: 'yyyy-MM-dd HH:mm:ss' }} </span>
                  </nz-space>
                </p>
                <p *ngIf="user.last as l">
                  <span i18n>地区 & ISP：</span>
                  <span> {{ !l.country ? '未知' : l.country }} /</span>
                  <span> {{ !l.province ? '未知' : l.province }} /</span>
                  <span> {{ !l.city ? '未知' : l.city }} /</span>
                  <span> {{ !l.isp ? '未知' : l.isp }}</span>
                </p>
              </div>
            </div>
          </ng-container>
        </nz-col>
        <nz-col></nz-col>
        <nz-col>
          <nz-space nzSize="large" [nzSplit]="spaceSplit">
            <nz-statistic *nzSpaceItem [nzValue]="(1 | number)!" [nzSuffix]="'/ 1'" [nzTitle]="'项目数'"></nz-statistic>
            <nz-statistic *nzSpaceItem [nzValue]="(0 | number)!" [nzSuffix]="'/ 0'" [nzTitle]="'成员组'"></nz-statistic>
            <nz-statistic *nzSpaceItem [nzValue]="(123 | number)!" [nzTitle]="'项目访问'"></nz-statistic>
          </nz-space>
        </nz-col>
      </nz-row>
    </nz-page-header-content>
    <nz-page-header-footer>
      <nz-tabset nzLinkRouter>
        <nz-tab>
          <a *nzTabLink nz-tab-link [routerLink]="['/admin', 'work', 'index']" i18n> 常用 </a>
        </nz-tab>
        <nz-tab>
          <a *nzTabLink nz-tab-link [routerLink]="['/admin', 'work', 'task']" i18n> 任务 (0) </a>
        </nz-tab>
        <nz-tab>
          <a *nzTabLink nz-tab-link [routerLink]="['/admin', 'work', 'notification']" i18n> 通知 (0) </a>
        </nz-tab>
      </nz-tabset>
    </nz-page-header-footer>
  </nz-page-header>

  <nz-content style="padding: 8px">
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>

<ng-template #spaceSplit>
  <nz-divider nzType="vertical"></nz-divider>
</ng-template>
