.diagram {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  border: 2px #1890ff solid;
  padding: 8px;
}

.anchor {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 998;
  button {
    border-radius: 0;
  }
}
