<nz-layout class="common-layout">
  <nz-sider nzWidth="300px" nzTheme="light" [nzCollapsedWidth]="0" [nzCollapsed]="design.collapsed">
    <app-design-outline></app-design-outline>
  </nz-sider>

  <nz-layout>
    <nz-content class="content">
      <app-design-diagram></app-design-diagram>
    </nz-content>

    <nz-sider
      class="control-panel"
      nzWidth="300px"
      nzTheme="light"
      nzCollapsible
      [nzTrigger]="null"
      [nzCollapsedWidth]="0"
      [(nzCollapsed)]="controlCollapsed"
    >
      <app-design-control></app-design-control>
      <div class="control-panel-trigger" [ngClass]="{ hide: controlCollapsed }">
        <button nz-button [nzType]="controlCollapsed ? 'primary' : 'text'" (click)="toggleControlCollapsed()">
          <span nz-icon [nzType]="controlCollapsed ? 'left' : 'right'"></span>
        </button>
      </div>
    </nz-sider>
  </nz-layout>
</nz-layout>
