<form nz-form nzLayout="vertical" [formGroup]="form" (bitFormSubmit)="submit($event)">
  <nz-form-item>
    <nz-form-label nzRequired>付款账户</nz-form-label>
    <nz-form-control
      style="width: 320px"
      nzHasFeedback
      [nzAutoTips]="{
        default: {
          required: '付款账户不能为空'
        }
      }"
    >
      <nz-select formControlName="payment" nzAllowClear>
        <nz-option nzValue="ant-design@alipay.com" nzLabel="ant-design@alipay.com"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>收款账户</nz-form-label>
    <nz-form-control
      style="width: 320px"
      nzHasFeedback
      [nzAutoTips]="{
        default: {
          required: '请输入收款人账户'
        }
      }"
    >
      <nz-input-group nzCompact>
        <nz-select style="width: 30%" formControlName="pay">
          <nz-option [nzLabel]="'支付宝'" [nzValue]="'alipay'"></nz-option>
          <nz-option [nzLabel]="'银行账户'" [nzValue]="'unionpay'"></nz-option>
        </nz-select>
        <input style="width: 70%" nz-input formControlName="receivable" placeholder="test@example.com" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>收款人姓名</nz-form-label>
    <nz-form-control
      style="width: 320px"
      nzHasFeedback
      [nzAutoTips]="{
        default: {
          required: '收款人姓名不能为空'
        }
      }"
    >
      <input nz-input formControlName="payee" placeholder="请输入收款人姓名" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>收款人姓名</nz-form-label>
    <nz-form-control
      style="width: 180px"
      nzHasFeedback
      [nzAutoTips]="{
        default: {
          required: '收款人姓名不能为空'
        }
      }"
    >
      <nz-input-number style="width: 100%" formControlName="amount" [nzMin]="1" [nzStep]="1"></nz-input-number>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="!form.valid">下一步</button>
    </nz-form-control>
  </nz-form-item>
</form>
