<nz-layout class="nested">
  <nz-sider nzTheme="light" [nzWidth]="300">
    <wpx-admin-departments [(id)]="departmentId" (idChange)="selectedDepartment()"></wpx-admin-departments>
  </nz-sider>
  <nz-layout style="overflow: auto">
    <nz-content>
      <ng-template #extra>
        <button nz-button nzType="primary" (click)="form()"> 新增 </button>
      </ng-template>

      <ng-template #actions let-data>
        <button nz-button nzType="text" nz-dropdown [nzDropdownMenu]="menu">
          <i nz-icon nzType="ellipsis"></i>
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="setDepartment(data)">设置部门</li>
            <li nz-menu-item (click)="form(data)">编辑</li>
            <li nz-menu-item nzDanger (click)="delete(data)">删除</li>
          </ul>
        </nz-dropdown-menu>
      </ng-template>

      <ng-template #bulk>
        <a nz-button nzType="link" nzSize="small" (click)="data.clearChecked()">取消选择</a>
        <br />
        <a style="float: right" nz-button nzType="link" nzSize="small" nzDanger (click)="bulkDelete()">删除</a>
      </ng-template>

      <nz-card [nzTitle]="table.wpxSearch" [nzExtra]="extra">
        <wpx-table
          #table
          wpxKey="users"
          [wpxApi]="users!"
          [wpxData]="data"
          [wpxFields]="fields"
          [wpxActions]="actions"
          [wpxBulk]="bulk"
          [wpxOmit]="['departments']"
        ></wpx-table>
      </nz-card>
    </nz-content>
  </nz-layout>
</nz-layout>
