<ng-template #extra>
  <button nz-button nzType="primary" (click)="form()"> 新增 </button>
</ng-template>

<wpx-admin-factory-tabs [id]="id" [extra]="extra">
  <nz-table
    #contentTable
    [nzData]="fields"
    [nzFrontPagination]="false"
    [nzShowPagination]="false"
    [nzScroll]="{ x: '1200px' }"
  >
    <thead>
      <tr>
        <th nzWidth="50px" nzLeft nzAlign="center"> </th>
        <th nzWidth="320px" nzLeft><b>定义</b></th>
        <th><b>描述</b></th>
        <th nzWidth="50px" nzRight nzAlign="center"><b>操作</b></th>
      </tr>
    </thead>
    <tbody cdkDropList (cdkDropListDropped)="sort($event)">
      <tr *ngFor="let data of contentTable.data" cdkDrag>
        <td nzLeft nzAlign="center">
          <button nz-button nzType="dashed" nzShape="circle" cdkDragHandle>
            <i nz-icon nzType="drag"></i>
          </button>
        </td>
        <td nzLeft>
          <nz-tag nzColor="blue">{{ types[data.type] }}</nz-tag>
          {{ data.label }}
          [{{ data.key }}]
        </td>
        <td>
          <ng-container *ngIf="data.required">
            <nz-tag>必须的</nz-tag>
          </ng-container>
          <ng-container *ngIf="data.hide">
            <nz-tag>隐藏字段</nz-tag>
          </ng-container>
          <ng-container *ngIf="data.default">
            <nz-tag>存在默认值</nz-tag>
          </ng-container>
          <ng-container *ngIf="data.keyword">
            <nz-tag>关键词</nz-tag>
          </ng-container>
          <ng-container *ngIf="data.readonly">
            <nz-tag>只读</nz-tag>
          </ng-container>
          <ng-container *ngIf="data.type === 'number'">
            <nz-tag>最大值:{{ data.option?.max ?? '∞' }}</nz-tag>
            <nz-tag>最小值:{{ data.option?.min ?? '∞' }}</nz-tag>
            <nz-tag>保留小数:{{ data.option?.decimal }}</nz-tag>
          </ng-container>
          <ng-container *ngIf="data.option?.time">
            <nz-tag>包含时间</nz-tag>
          </ng-container>
          <ng-container *ngIf="data.type === 'ref'">
            <nz-tag> 引用:{{ data.option?.reference }}.{{ data.option?.target }} </nz-tag>
          </ng-container>
          <ng-container *ngIf="data.option?.multiple">
            <nz-tag>多选</nz-tag>
          </ng-container>
          <ng-container *ngIf="data.option?.scope">
            <nz-tag>作用域:{{ data.option?.scope }}</nz-tag>
          </ng-container>
        </td>
        <td nzRight nzAlign="center">
          <button nz-button nzType="text" nz-dropdown [nzDropdownMenu]="actions">
            <i nz-icon nzType="ellipsis"></i>
          </button>
          <nz-dropdown-menu #actions="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="form(data)">编辑</li>
              <li nz-menu-item nzDanger (click)="delete(data)">删除</li>
            </ul>
          </nz-dropdown-menu>
        </td>
      </tr>
    </tbody>
  </nz-table>
</wpx-admin-factory-tabs>
