/* You can add global styles to this file, and also import other style files */
@import '~ng-zorro-antd/ng-zorro-antd.compact.min.css';
@import 'node_modules/ng-zorro-antd/code-editor/style';
@import 'node_modules/ng-zorro-antd/resizable/style';

nz-layout.main {
  height: 100%;
  background-image: url('/assets/bg.svg');
  background-repeat: no-repeat;
  background-position: center 50px;
  background-size: 100%;
}

nz-layout.frame {
  padding-top: 44px;
  padding-left: 51px;

  nz-sider {
    overflow: auto;
    height: 100%;
    border-right: 1px solid #f0f0f0;
  }
}
