/* You can add global styles to this file, and also import other style files */
@import 'https://cdn.kainonly.com/assets/ng-zorro-antd/ng-zorro-antd.compact.min.css';
@import 'https://cdn.kainonly.com/assets/ng-zorro-antd/code-editor/index.min.css';
@import 'https://cdn.kainonly.com/assets/ng-zorro-antd/resizable/index.min.css';

body {
  background-color: #f0f2f5;
}

.search-input {
  width: 180px;
}

.highlight {
  color: red;
}

$content-left: 60px;

.toolbar {
  position: fixed;
  left: 0;
  top: 45px;
  bottom: 0;
  width: $content-left;
  background: #fafafa;
  z-index: 998;

  ul {
    text-align: center;
    border: none;

    li[nz-menu-item] {
      height: 45px;
      line-height: 45px;
      background: #fafafa;
    }
  }

  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #fff;
  }
}

.common-layout {
  height: 100%;
  padding-top: 45px;
  padding-left: $content-left;
  overflow: hidden;
}

.inner-layout {
  padding: 8px;
  overflow-x: hidden;
  overflow-y: auto;
}
