@import '~ng-zorro-antd/ng-zorro-antd.compact.min.css';
@import 'node_modules/ng-zorro-antd/code-editor/style';
@import 'node_modules/ng-zorro-antd/resizable/style';

.main {
  height: 100%;
}

.wpx-container {
  padding-top: 45px;
}

.wpx-sider {
  overflow: auto;
  height: 100%;
  border-right: 1px solid #f0f0f0;
}

nz-content {
  padding: 1px 0;
}
