<wpx-admin-factory-tabs [extra]="extra">
  <ng-template #extra>
    <button nz-button nzType="primary" (click)="form()"> 新增 </button>
  </ng-template>
  <nz-table
    #contentTable
    [nzData]="indexesList"
    [nzFrontPagination]="false"
    [nzShowPagination]="false"
    [nzScroll]="{ x: '1200px' }"
  >
    <thead>
      <tr>
        <th nzWidth="65px" nzLeft nzAlign="center"> </th>
        <th nzWidth="200px" nzLeft>索引名称</th>
        <th>索引信息</th>
        <th nzWidth="100px" nzRight nzAlign="center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of contentTable.data">
        <td nzLeft nzAlign="center">
          <nz-tag nzColor="blue">
            <ng-container [ngSwitch]="item | IndexType">
              <ng-container *ngSwitchCase="'text'">全文索引</ng-container>
              <ng-container *ngSwitchCase="'2dsphere'">地理空间索引</ng-container>
              <ng-container *ngSwitchDefault>常规</ng-container>
            </ng-container>
          </nz-tag>
        </td>
        <td nzLeft>{{ item.name }}</td>
        <td>
          <ng-container *ngIf="item.unique">
            <nz-tag>唯一</nz-tag>
          </ng-container>
          <ng-container *ngFor="let item of item.key | keyvalue">
            <ng-container *ngTemplateOutlet="fieldTags; context: { $implicit: item }"></ng-container>
          </ng-container>
          <ng-container *ngIf="item.hasOwnProperty('weights')">
            <ng-container *ngFor="let item of item.weights | keyvalue">
              <ng-container *ngTemplateOutlet="fieldTags; context: { $implicit: item }"></ng-container>
            </ng-container>
          </ng-container>
          <ng-template #fieldTags let-item>
            <nz-tag>
              {{ item.key }} :
              <ng-container [ngSwitch]="item.value">
                <ng-container *ngSwitchCase="1">升序</ng-container>
                <ng-container *ngSwitchCase="-1">降序</ng-container>
                <ng-container *ngSwitchCase="'text'">全文索引</ng-container>
                <ng-container *ngSwitchCase="'2dsphere'">地理空间索引</ng-container>
              </ng-container>
            </nz-tag>
          </ng-template>
        </td>
        <td nzRight nzAlign="center">
          <button
            nz-button
            nzType="text"
            nz-tooltip="删除"
            nz-popconfirm
            nzPopconfirmTitle="您确定移除该索引吗?"
            nzPopconfirmPlacement="bottomRight"
            (nzOnConfirm)="delete(item.name)"
            [disabled]="item.name === '_id_'"
          >
            <i nz-icon nzType="delete"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</wpx-admin-factory-tabs>
