<form nz-form nzLayout="vertical" id="form" [formGroup]="form" (wpxSubmit)="submit($event)">
  <nz-form-item>
    <nz-form-label nzRequired>权限名称</nz-form-label>
    <nz-form-control
      nzHasFeedback
      [nzAutoTips]="{
        default: {
          required: '权限名称不能为空',
          duplicated: '存在重复的定义，权限名称必须是唯一的'
        }
      }"
    >
      <input nz-input type="text" formControlName="name" placeholder="请填写权限名称" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>描述</nz-form-label>
    <nz-form-control>
      <textarea rows="4" nz-input formControlName="description" placeholder="简述一段权限的用途"></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired>状态</nz-form-label>
    <nz-form-control>
      <nz-switch formControlName="status"></nz-switch>
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button type="button" nzType="default" (click)="close()">取消</button>
  <button nz-button nzType="primary" form="form" [disabled]="!form?.valid">提交</button>
</div>
