<form nz-form nzLayout="vertical" id="form" [formGroup]="form" (wpxSubmit)="submit($event)">
  <nz-form-item>
    <nz-form-label>用户名</nz-form-label>
    <nz-form-control
      [nzExtra]="usernameExtra"
      style="width: 328px"
      nzHasFeedback
      [nzAutoTips]="{
        default: {
          required: '用户名不能为空',
          minlength: '用户名长度不能小于4位',
          maxlength: '用户名长度不能大于20位',
          pattern: '请使用小写字母与下划线的组合',
          duplicated: '存在重复的定义，用户名必须是唯一的'
        }
      }"
    >
      <input nz-input placeholder="请输入" formControlName="username" />
      <ng-template #usernameExtra>*修改用户名将立即注销登录状态</ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>称呼</nz-form-label>
    <nz-form-control style="width: 328px">
      <input nz-input placeholder="请输入" formControlName="name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>头像</nz-form-label>
    <nz-form-control>
      <wpx-upload-avatar
        wpxExt="image"
        [wpxAccept]="['image/jpeg', 'image/png']"
        [wpxFallback]="['assets', 'dataflow.svg'] | wpxAssets"
        formControlName="avatar"
      >
      </wpx-upload-avatar>
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button type="button" nzType="default" (click)="close()">取消</button>
  <button nz-button nzType="primary" form="form" [disabled]="!form?.valid">提交</button>
</div>
