<nz-layout style="height: 100%">
  <nz-header class="nav">
    <app-nav>
      <ul nz-menu nzMode="horizontal" style="line-height: 59px">
        <li nz-menu-item nzMatchRouter routerLink="pictures">
          <span nz-icon nzType="picture" nzTheme="outline"></span>
          Picture
        </li>
        <li nz-menu-item nzMatchRouter routerLink="videos">
          <span nz-icon nzType="video-camera" nzTheme="outline"></span>
          Video
        </li>
      </ul>
    </app-nav>
  </nz-header>
  <nz-layout style="overflow: hidden auto">
    <nz-content style="padding: 8px">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
