<nz-layout class="main">
  <app-toolbar></app-toolbar>
  <nz-layout>
    <ng-template #breadcrumb>
      <!--      <nz-breadcrumb>-->
      <!--        <ng-container *ngIf="!wpx.manual">-->
      <!--          <nz-breadcrumb-item>-->
      <!--            <a [routerLink]="['/pages']"><span nz-icon nzType="home"></span> 首页</a>-->
      <!--          </nz-breadcrumb-item>-->
      <!--          <ng-container *ngIf="wpx.pageId | async as current">-->
      <!--            <ng-container *ngFor="let page of current | Path | async">-->
      <!--              <nz-breadcrumb-item>-->
      <!--                <ng-container *ngIf="page?.kind !== 'group'; else textName">-->
      <!--                  <a [routerLink]="['/pages', page._id]">{{ page?.name }}</a>-->
      <!--                </ng-container>-->
      <!--                <ng-template #textName>{{ page?.name }}</ng-template>-->
      <!--              </nz-breadcrumb-item>-->
      <!--            </ng-container>-->
      <!--          </ng-container>-->
      <!--        </ng-container>-->
      <!--      </nz-breadcrumb>-->
    </ng-template>
    <app-header [breadcrumb]="breadcrumb">
      <ul nz-menu nzMode="horizontal">
        <li nz-menu-item nzSelected>
          <span nz-icon nzType="ant-design"></span>
          设计
        </li>
        <li nz-menu-item>
          <span nz-icon nzType="desktop"></span>
          预览
        </li>
      </ul>
    </app-header>
    <nz-layout class="frame" style="overflow: hidden">
      <nz-sider nzTheme="light">
        <app-factory-nav></app-factory-nav>
      </nz-sider>
      <nz-layout style="overflow: auto">
        <nz-content>
          <router-outlet></router-outlet>
        </nz-content>
      </nz-layout>
    </nz-layout>
  </nz-layout>
</nz-layout>
