<nz-layout class="main">
  <nz-header>
    <button nz-button nzType="text" routerLink="/">
      <span nz-icon nzType="arrow-left"></span>
      返回应用
    </button>
  </nz-header>
  <nz-layout>
    <nz-sider nzTheme="light" style="padding-top: 1px">
      <ul nz-menu nzMode="inline">
        <li nz-menu-group nzTitle="插件">
          <ul>
            <li nz-menu-item nzMatchRouter [routerLink]="['/_dev', 'richtext']">块编辑器</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content style="padding: 8px">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
