<nz-page-header [nzGhost]="false">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <ng-container *ngFor="let url of router.urls">
      <nz-breadcrumb-item>
        <ng-container *ngIf="dict.hasOwnProperty(url) && data.hasOwnProperty(dict[url])">
          <ng-container *ngIf="!bit.locale; else isMultiple">
            {{ data[dict[url]].name }}
          </ng-container>
          <ng-template #isMultiple>
            {{ data[dict[url]].name | object: bit.locale }}
          </ng-template>
        </ng-container>
      </nz-breadcrumb-item>
    </ng-container>
  </nz-breadcrumb>
  <nz-page-header-title>
    <ng-container *ngIf="!bit.locale; else isMultiple">
      {{ data[dict[router.fragments | Join: '/']].name }}
    </ng-container>
    <ng-template #isMultiple>
      {{ data[dict[router.fragments | Join: '/']].name | object: bit.locale }}
    </ng-template>
  </nz-page-header-title>
  <nz-page-header-subtitle>{{ (router.ph | async)?.subTitle }} </nz-page-header-subtitle>
</nz-page-header>
