nz-header {
  position: fixed;
  top: 0;

  width: 100%;
  height: 64px;
  line-height: 64px;

  padding: 0 24px;
  z-index: 999;
  box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
  background: #fff;
  transition: width 0.2s;
}

.app-menu {
  span.name {
    margin-left: 10px;
  }
}

.center {
  padding: 0 24px;

  &:hover,
  &:focus {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.018);
  }

  span.name {
    margin-left: 16px;
  }
}
