<nz-layout class="main">
  <app-toolbar></app-toolbar>
  <nz-layout>
    <ng-template #breadcrumbTpl>
      <nz-breadcrumb nzAutoGenerate>
        <nz-breadcrumb-item>
          <a [routerLink]="['/']"><span nz-icon nzType="home"></span> 首页</a>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </ng-template>
    <app-header *ngIf="app.project as v" [breadcrumb]="breadcrumbTpl">
      <ul nz-menu nzMode="horizontal">
        <li nz-menu-item nzMatchRouter [routerLink]="['/', v.namespace, 'monitor', 'values']">
          <span nz-icon nzType="control"></span>
          动态配置
        </li>
        <li nz-menu-item nzMatchRouter [routerLink]="['/', v.namespace, 'monitor', 'sessions']">
          <span nz-icon nzType="rocket"></span>
          在线会话
        </li>
        <li nz-menu-item nzMatchRouter [routerLink]="['/', v.namespace, 'monitor', 'audit']">
          <span nz-icon nzType="file-protect"></span>
          审计日志
        </li>
      </ul>
    </app-header>
    <nz-layout class="frame">
      <nz-content class="content">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
