<nz-layout class="main">
  <app-toolbar></app-toolbar>
  <nz-layout>
    <app-header> </app-header>
    <nz-layout class="frame">
      <nz-layout style="overflow: auto">
        <nz-content style="padding: 8px">
          <nz-row [nzGutter]="[8, 8]">
            <nz-col [nzSpan]="12">
              <nz-row [nzGutter]="[8, 8]">
                <nz-col [nzSpan]="24">
                  <nz-card nzTitle="近24小时在线会话状态">
                    <wpx-admin-chart-session></wpx-admin-chart-session>
                  </nz-card>
                </nz-col>
                <nz-col [nzSpan]="24">
                  <nz-card nzTitle="近24小时服务负载状态">
                    <wpx-admin-chart-load></wpx-admin-chart-load>
                  </nz-card>
                </nz-col>
              </nz-row>
            </nz-col>
            <nz-col [nzSpan]="12">
              <nz-row [nzGutter]="[8, 8]">
                <nz-col [nzSpan]="24">
                  <nz-card nzTitle="集群资源占用">
                    <wpx-admin-chart-cpu height="265px" width="265px"></wpx-admin-chart-cpu>
                    <wpx-admin-chart-mem height="265px" width="265px"></wpx-admin-chart-mem>
                  </nz-card>
                </nz-col>
                <nz-col [nzSpan]="24">
                  <nz-card nzTitle="服务告警">
                    <nz-list>
                      <ng-container *ngFor="let alert of alerts">
                        <nz-list-item>
                          <span>
                            <ng-container [ngSwitch]="alert.status">
                              <ng-container *ngSwitchCase="'success'">
                                <nz-tag nzColor="processing">
                                  <i nz-icon nzType="sync" nzSpin></i>
                                  <span>运行</span>
                                </nz-tag>
                              </ng-container>
                              <ng-container *ngSwitchCase="'error'">
                                <nz-tag nzColor="error">
                                  <i nz-icon nzType="close-circle"></i>
                                  <span>异常</span>
                                </nz-tag>
                              </ng-container>
                            </ng-container>

                            {{ alert.name }}
                          </span>
                          {{ alert.image }}
                          <b>( {{ alert.ready }} Ready / {{ alert.total }} Total )</b>
                        </nz-list-item>
                      </ng-container>
                    </nz-list>
                  </nz-card>
                </nz-col>
              </nz-row>
            </nz-col>
          </nz-row>
        </nz-content>
      </nz-layout>
    </nz-layout>
  </nz-layout>
</nz-layout>
