<ng-template #searchRef>
  <nz-row [nzGutter]="6">
    <nz-col>
      <nz-input-group nzSuffixIcon="search">
        <input
          (keyup.enter)="submitSearch()"
          [(ngModel)]="searchText"
          style="width: 180px"
          type="text"
          nz-input
          placeholder="关键词搜索"
        />
      </nz-input-group>
    </nz-col>
    <nz-col>
      <nz-button-group>
        <button nz-button nzType="text" nz-tooltip="刷新" (click)="getData(true)">
          <i nz-icon nzType="reload"></i>
        </button>
        <button nz-button nzType="text" nz-tooltip="重置" (click)="clearSearch()">
          <i nz-icon nzType="clear"></i>
        </button>
        <button nz-button nzType="text" nz-tooltip="搜索" (click)="openSearchForm()">
          <i nz-icon nzType="filter"></i>
        </button>
      </nz-button-group>
    </nz-col>
  </nz-row>
  <nz-drawer
    nzTitle="条件筛选"
    [nzVisible]="searchVisible"
    nzPlacement="bottom"
    nzHeight="50%"
    [nzFooter]="footerTpl"
    [nzBodyStyle]="{ overflow: 'auto' }"
    (nzOnClose)="closeSearchForm()"
  >
    <ng-container *nzDrawerContent>
      <form
        *ngIf="searchForm"
        id="search"
        nzLayout="vertical"
        nz-form
        [formGroup]="searchForm"
        (wpxSubmit)="submitSearch($event)"
      >
        <nz-row [nzGutter]="16">
          <ng-container *ngFor="let x of columns">
            <nz-col [nzSpan]="8">
              <nz-form-item [formGroupName]="x.value">
                <nz-form-label>{{ x.label }}</nz-form-label>
                <nz-form-control>
                  <nz-input-group nzCompact>
                    <nz-select style="width: 30%" formControlName="operator">
                      <nz-option [nzLabel]="'精确'" [nzValue]="'$eq'"></nz-option>
                      <nz-option [nzLabel]="'模糊'" [nzValue]="'$regex'"></nz-option>
                    </nz-select>
                    <input style="width: 70%" nz-input formControlName="value" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </ng-container>
        </nz-row>
      </form>
    </ng-container>
    <ng-template #footerTpl>
      <nz-space>
        <button *nzSpaceItem nz-button form="search"> <i nz-icon nzType="search"></i> 搜索 </button>
        <button *nzSpaceItem nz-button (click)="resetSearch()" type="reset">
          <i nz-icon nzType="clear"></i> 重置
        </button>
      </nz-space>
    </ng-template>
  </nz-drawer>
</ng-template>
<nz-table
  #basicTable
  [nzLoading]="ds.loading"
  [nzData]="ds.values"
  [nzScroll]="wpxScroll"
  [nzFrontPagination]="false"
  [nzShowSizeChanger]="true"
  [nzHideOnSinglePage]="true"
  [nzTotal]="ds.total"
  [(nzPageSize)]="ds.pageSize"
  [(nzPageIndex)]="ds.pageIndex"
  (nzPageIndexChange)="getData(false)"
  (nzPageSizeChange)="getData(true)"
>
  <thead>
    <tr>
      <th
        nzWidth="50px"
        nzLeft
        nzAlign="center"
        [nzChecked]="ds.checked"
        [nzIndeterminate]="ds.indeterminate"
        (nzCheckedChange)="ds.setNChecked($event)"
      ></th>
      <ng-container *ngFor="let x of columnsDisplay">
        <th
          nz-resizable
          nzBounds="window"
          [nzDisabled]="!columnsWidthVisible"
          [nzPreview]="columnsWidthVisible"
          [nzMaxWidth]="420"
          [nzMinWidth]="100"
          (nzResizeEnd)="resize($event, x.value)"
          [nzWidth]="columnsWidth[x.value]"
          [nzShowSort]="!columnsWidthVisible"
          [(nzSortOrder)]="ds.sort[x.value]"
          (nzSortOrderChange)="getData(true)"
        >
          <b>{{ x.label }} </b>
          <ng-container *ngIf="keywords.has(x.value)">
            <i nz-icon nzType="tag" nz-tooltip="关键词"></i>
          </ng-container>
          <nz-resize-handle nzDirection="right" *ngIf="columnsWidthVisible">
            <div class="resize-trigger"></div>
          </nz-resize-handle>
        </th>
      </ng-container>
      <th nzWidth="50px" nzRight nzAlign="center">
        <button
          nz-button
          nzType="text"
          nz-popover
          nzPopoverPlacement="bottomRight"
          [nzPopoverTitle]="columnsTitle"
          [nzPopoverContent]="columnsContent"
        >
          <i nz-icon nzType="setting"></i>
          <ng-template #columnsTitle>
            <nz-row style="padding: 0.5em 0" nzJustify="space-between">
              <nz-col> 自定义宽度 </nz-col>
              <nz-col></nz-col>
              <nz-col>
                <nz-switch [(ngModel)]="columnsWidthVisible" (ngModelChange)="onResizeMessage()"></nz-switch>
              </nz-col>
            </nz-row>
          </ng-template>
          <ng-template #columnsContent>
            <nz-checkbox-wrapper (nzOnChange)="updateColumnChecked()">
              <nz-space nzDirection="vertical">
                <label
                  *nzSpaceItem
                  nz-checkbox
                  [(ngModel)]="columnsChecked"
                  (ngModelChange)="updateColumnsChecked()"
                  [nzIndeterminate]="columnsIndeterminate"
                >
                  全部展示
                </label>
                <ng-container *ngFor="let column of columns">
                  <label *nzSpaceItem nz-checkbox [nzValue]="column.value" [(ngModel)]="column.checked">
                    {{ column.label }}
                  </label>
                </ng-container>
              </nz-space>
            </nz-checkbox-wrapper>
          </ng-template>
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td
        nzLeft
        nzAlign="center"
        [nzDisabled]="data['disabled']"
        [nzChecked]="ds.checkedIds.has(data._id)"
        (nzCheckedChange)="ds.setChecked(data._id, $event)"
      ></td>
      <ng-container *ngFor="let x of columnsDisplay">
        <td *ngIf="wpxFields | wpxMap: x.value as field">
          <ng-container [ngSwitch]="field.type">
            <ng-container *ngSwitchCase="'date'">
              <ng-container *ngIf="field?.option?.time; else date">
                {{ data[x.value] | date: 'yyyy-MM-dd HH:mm:ss' }}
              </ng-container>
              <ng-template #date>{{ data[x.value] | date: 'yyyy-MM-dd' }}</ng-template>
            </ng-container>
            <ng-container *ngSwitchCase="'bool'">
              <ng-container *ngIf="data[x.value]; else isFalse">
                <nz-badge nzStatus="processing"></nz-badge> 开启
              </ng-container>
              <ng-template #isFalse> <nz-badge nzStatus="default"></nz-badge> 关闭 </ng-template>
            </ng-container>
            <ng-container *ngSwitchCase="'select'">
              <ng-container *ngFor="let id of data[x.value]">
                <ng-container *ngIf="field?.option?.reference as reference; else select">
                  <nz-tag nzColor="blue" *ngIf="references[reference] as dict">
                    <ng-container *ngIf="field?.option?.target as target; else targetDefault">
                      {{ dict[id]?.[target] }}
                    </ng-container>
                    <ng-template #targetDefault>
                      {{ dict[id]?.name }}
                    </ng-template>
                  </nz-tag>
                </ng-container>
              </ng-container>

              <ng-template #select></ng-template>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <p style="margin: 0" nz-typography nzEllipsis [nzEllipsisRows]="2">
                {{ data[x.value] }}
              </p>
            </ng-container>
          </ng-container>
        </td>
      </ng-container>
      <td nzRight nzAlign="center">
        <ng-container *ngIf="wpxActions">
          <ng-container *ngTemplateOutlet="wpxActions; context: { $implicit: data }"></ng-container>
        </ng-container>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-alert
  *ngIf="ds.checkedNumber !== 0 && wpxBulk"
  class="bulk"
  nzType="info"
  nzBanner
  nzMessage="批量"
  [nzDescription]="description"
  [nzAction]="wpxBulk"
>
  <ng-template #description>
    已选中 <nz-tag>{{ ds.checkedNumber }}</nz-tag> 项
  </ng-template>
</nz-alert>
