<ng-template #searchRef>
  <nz-row [nzGutter]="12">
    <nz-col>
      <nz-input-group nzCompact>
        <input
          (keyup.enter)="submitSearch()"
          [(ngModel)]="searchText"
          style="width: 420px"
          type="text"
          nz-input
          placeholder="请输入搜索关键词"
        />
        <button (click)="submitSearch()" nz-button nzSearch><i nz-icon nzType="search"></i></button>
      </nz-input-group>
    </nz-col>
    <nz-col>
      <a nz-button nzType="link" (click)="openSearchForm()">高级搜索</a>
    </nz-col>
  </nz-row>
  <nz-drawer
    nzTitle="条件筛选"
    [nzVisible]="searchVisible"
    nzPlacement="bottom"
    nzHeight="50%"
    [nzFooter]="footerTpl"
    [nzBodyStyle]="{ overflow: 'auto' }"
    (nzOnClose)="closeSearchForm()"
  >
    <ng-container *nzDrawerContent>
      <form
        *ngIf="searchForm"
        id="search"
        nzLayout="vertical"
        nz-form
        [formGroup]="searchForm"
        (wpxSubmit)="submitSearch($event)"
      >
        <nz-row [nzGutter]="16">
          <ng-container *ngFor="let x of columns">
            <nz-col [nzSpan]="8">
              <nz-form-item [formGroupName]="x.value">
                <nz-form-label>{{ x.label }}</nz-form-label>
                <nz-form-control>
                  <nz-input-group nzCompact>
                    <nz-select style="width: 30%" formControlName="operator">
                      <nz-option [nzLabel]="'精确'" [nzValue]="'$eq'"></nz-option>
                      <nz-option [nzLabel]="'模糊'" [nzValue]="'$regex'"></nz-option>
                    </nz-select>
                    <input style="width: 70%" nz-input formControlName="value" />
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </nz-col>
          </ng-container>
        </nz-row>
      </form>
    </ng-container>

    <ng-template #footerTpl>
      <nz-space>
        <button *nzSpaceItem nz-button form="search"> <i nz-icon nzType="search"></i> 搜索 </button>
        <button *nzSpaceItem nz-button (click)="resetSearch()" type="reset">
          <i nz-icon nzType="clear"></i> 重置
        </button>
      </nz-space>
    </ng-template>
  </nz-drawer>
</ng-template>
<ng-template #toolRef>
  <nz-button-group>
    <button nz-button nzType="text" nz-tooltip="刷新" (click)="getData(true)">
      <i nz-icon nzType="reload"></i>
    </button>
    <button nz-button nzType="text" nz-tooltip="清除搜索" (click)="clearSearch()">
      <i nz-icon nzType="clear"></i>
    </button>
    <button
      nz-button
      nzType="text"
      nz-tooltip="设置"
      nz-popover
      nzPopoverPlacement="bottomRight"
      nzPopoverTrigger="click"
      [nzPopoverTitle]="columnsTitle"
      [nzPopoverContent]="columnsContent"
    >
      <i nz-icon nzType="setting"></i>
      <ng-template #columnsTitle>
        <nz-row nzJustify="space-between">
          <nz-col>
            <label nz-checkbox [(ngModel)]="columnsWidthVisible" (ngModelChange)="onResizeMessage()">
              自定义宽度
            </label>
          </nz-col>
          <nz-col></nz-col>
          <nz-col> </nz-col>
        </nz-row>
      </ng-template>
      <ng-template #columnsContent>
        <nz-checkbox-wrapper (nzOnChange)="updateColumnChecked()">
          <nz-space nzDirection="vertical">
            <nz-radio-group *nzSpaceItem nzSize="small" [(ngModel)]="columnsHeight" (ngModelChange)="updateStorage()">
              <label nz-radio-button nzValue="default">默认</label>
              <label nz-radio-button nzValue="middle">中等</label>
              <label nz-radio-button nzValue="small">紧凑</label>
            </nz-radio-group>
            <label
              *nzSpaceItem
              nz-checkbox
              [(ngModel)]="columnsChecked"
              (ngModelChange)="updateColumnsChecked()"
              [nzIndeterminate]="columnsIndeterminate"
            >
              全部展示
            </label>
            <ng-container *ngFor="let column of columns">
              <label *nzSpaceItem nz-checkbox [nzValue]="column.value" [(ngModel)]="column.checked">
                {{ column.label }}
              </label>
            </ng-container>
          </nz-space>
        </nz-checkbox-wrapper>
      </ng-template>
    </button>
  </nz-button-group>
</ng-template>
<ng-template #bulkRef>
  <nz-alert nzType="info" nzBanner [nzMessage]="message"></nz-alert>
  <ng-template #message>
    <nz-row nzJustify="space-between">
      <nz-col> 已选中 {{ ds.checkedNumber }} 项 </nz-col>
      <nz-col></nz-col>
      <nz-col style="text-align: right">
        <a nz-button nzType="link" nzSize="small">操作<i nz-icon nzType="down"></i></a>
        <a nz-button nzType="link" nzSize="small" (click)="ds.clearChecked()">取消选择</a>
      </nz-col>
    </nz-row>
  </ng-template>
</ng-template>
<nz-table
  #basicTable
  [nzLoading]="ds.loading"
  [nzSize]="columnsHeight"
  [nzData]="ds.values"
  [nzScroll]="wpxScroll"
  [nzFrontPagination]="false"
  [nzShowSizeChanger]="true"
  [nzTotal]="ds.total"
  [(nzPageSize)]="ds.pageSize"
  [(nzPageIndex)]="ds.pageIndex"
  (nzPageIndexChange)="getData(false)"
  (nzPageSizeChange)="getData(true)"
>
  <thead>
    <tr>
      <th
        nzWidth="65px"
        nzLeft
        nzAlign="center"
        [nzChecked]="ds.checked"
        [nzIndeterminate]="ds.indeterminate"
        (nzCheckedChange)="ds.setNChecked($event)"
      ></th>
      <ng-container *ngFor="let x of columnsDisplay">
        <th
          nz-resizable
          nzBounds="window"
          [nzDisabled]="!columnsWidthVisible"
          [nzPreview]="columnsWidthVisible"
          [nzMaxWidth]="420"
          [nzMinWidth]="100"
          (nzResizeEnd)="resize($event, x.value)"
          [nzWidth]="columnsWidth[x.value] ?? '300px'"
          [nzShowSort]="!columnsWidthVisible"
          [(nzSortOrder)]="ds.sort[x.value]"
          (nzSortOrderChange)="getData(true)"
        >
          {{ x.label }}
          <ng-container *ngIf="keywords.has(x.value)">
            <i nz-icon nzType="tag" nz-tooltip="关键词"></i>
          </ng-container>
          <nz-resize-handle nzDirection="right" *ngIf="columnsWidthVisible">
            <div class="resize-trigger"></div>
          </nz-resize-handle>
        </th>
      </ng-container>
      <th nzWidth="100px" nzRight nzAlign="center"> 操作 </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td
        nzLeft
        nzAlign="center"
        [nzDisabled]="data['disabled']"
        [nzChecked]="ds.checkedIds.has(data._id)"
        (nzCheckedChange)="ds.setChecked(data._id, $event)"
      ></td>
      <ng-container *ngFor="let x of columnsDisplay">
        <td>
          <p style="margin: 0" nz-typography nzEllipsis [nzEllipsisRows]="2">
            {{ data[x.value] }}
          </p>
        </td>
      </ng-container>
      <td nzRight nzAlign="center">
        <ng-container *ngIf="wpxActions">
          <ng-container *ngTemplateOutlet="wpxActions; context: { $implicit: data }"></ng-container>
        </ng-container>
      </td>
    </tr>
  </tbody>
</nz-table>
