.install {
  margin: 6% auto 0;
  padding: 24px;
  width: 600px;
  border-radius: 3px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);

  h1 {
    text-align: center;
  }
}

.content {
  margin: 24px auto 0;
}
