<nz-layout class="main" [ngStyle]="{ 'background-image': ['assets', 'ant-bg.svg'] | wpxAssets: { css: true } }">
  <nz-content>
    <nz-card class="install">
      <h1>初始化应用</h1>
      <nz-steps [nzCurrent]="step" nzProgressDot>
        <nz-step nzTitle="须知"></nz-step>
        <nz-step nzTitle="设置"></nz-step>
        <nz-step nzTitle="完成"></nz-step>
      </nz-steps>
      <nz-spin nzTip="正在初始化..." [nzSpinning]="install">
        <form class="content" nzLayout="vertical" [formGroup]="form" nz-form (wpxSubmit)="submit($event)">
          <ng-container *ngIf="step === 0">
            <nz-form-item>
              <nz-form-control>
                <nz-collapse [nzBordered]="false">
                  <nz-collapse-panel nzHeader="说明" [(nzActive)]="panels[0]">
                    <p style="margin: 0"> 无 </p>
                  </nz-collapse-panel>
                  <nz-collapse-panel nzHeader="部署环境" [(nzActive)]="panels[1]">
                    <p style="margin: 0"> 无 </p>
                  </nz-collapse-panel>
                  <nz-collapse-panel nzHeader="开源协议" [(nzActive)]="panels[2]">
                    <p style="margin: 0"> 无 </p>
                  </nz-collapse-panel>
                </nz-collapse>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <nz-row nzJustify="space-between">
                  <nz-col>
                    <label nz-checkbox formControlName="readme">我已阅读</label>
                  </nz-col>
                  <nz-col></nz-col>
                  <nz-col>
                    <button type="button" nz-button [disabled]="!readme.value" (click)="next()">下一步</button>
                  </nz-col>
                </nz-row>
              </nz-form-control>
            </nz-form-item>
          </ng-container>
          <ng-container *ngIf="step === 1">
            <nz-form-item>
              <nz-form-label nzRequired>超级管理员</nz-form-label>
              <nz-form-control
                nzHasFeedback
                [nzAutoTips]="{
                  default: {
                    required: '用户名不能为空',
                    minlength: '用户名定义至少需要4位',
                    maxlength: '用户名定义过长'
                  }
                }"
              >
                <input type="text" nz-input formControlName="username" placeholder="可以是英文+数字的组合" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzRequired>密码</nz-form-label>
              <nz-form-control
                nzHasFeedback
                [nzAutoTips]="{
                  default: {
                    required: '密码不能为空',
                    minlength: '密码定义至少需要6位'
                  }
                }"
              >
                <input
                  nz-input
                  formControlName="password"
                  placeholder="建议使用字母大小写+数字+符号（@$!%*?&-+）组合"
                />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzRequired>电子邮件</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="email" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>应用页面</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="template" placeholder="默认不设置，自定义请填写网络回调地址" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <nz-row nzJustify="space-between">
                  <nz-col>
                    <button type="button" nz-button (click)="pre()">返回</button>
                  </nz-col>
                  <nz-col></nz-col>
                  <nz-col>
                    <button nz-button nzType="primary" [disabled]="!form.valid">安装</button>
                  </nz-col>
                </nz-row>
              </nz-form-control>
            </nz-form-item>
          </ng-container>
        </form>
      </nz-spin>
    </nz-card>
  </nz-content>
  <nz-footer class="footer">
    <nz-space [nzSplit]="split">
      <ng-template #split>
        <nz-divider nzType="vertical"></nz-divider>
      </ng-template>
      <a *nzSpaceItem>BSD-3-Clause License</a>
    </nz-space>
    <p>
      <i nz-icon nzType="copyright"></i>
      <span> {{ now }} Developed by </span>
      <a href="https://github.com/weplanx" target="_blank"> <b>WEPLANX </b> <i nz-icon nzType="github"></i></a>
    </p>
  </nz-footer>
</nz-layout>
