<wpx-layout>
  <button *wpxLayoutAction nz-button nzType="primary" nzShape="circle" nz-tooltip="新增">
    <i nz-icon nzType="plus"></i>
  </button>
</wpx-layout>

<ng-template #searchTpl>
  <nz-row [nzGutter]="12">
    <nz-col>
      <nz-input-group nzCompact>
        <nz-select style="width: 160px" [(ngModel)]="searchQuick.field" nzPlaceHolder="请选择查询字段" nzAllowClear>
          <ng-container *ngFor="let x of search">
            <nz-option [nzLabel]="x.label" [nzValue]="x.key"></nz-option>
          </ng-container>
        </nz-select>
        <input
          (keyup.enter)="quickSearch()"
          [(ngModel)]="searchQuick.value"
          style="width: 260px"
          type="text"
          nz-input
          [placeholder]="'请输入查询关键词'"
        />
        <button (click)="quickSearch()" nz-button nzSearch><i nz-icon nzType="search"></i></button>
      </nz-input-group>
    </nz-col>
    <nz-col>
      <nz-button-group>
        <button nz-button (click)="openSearchAdvanced()"> 高级搜索 </button>
        <button nz-button nzType="dashed" nz-tooltip="重置搜索">
          <i nz-icon nzType="clear"></i>
        </button>
      </nz-button-group>
    </nz-col>
  </nz-row>
</ng-template>

<ng-template #actions>
  <nz-space>
    <nz-button-group *nzSpaceItem>
      <button nz-button nzType="text" nz-tooltip="刷新" (click)="getData()">
        <i nz-icon nzType="reload"></i>
      </button>
      <button
        nz-button
        nzType="text"
        nz-tooltip="密度"
        nz-popover
        nzPopoverPlacement="bottomRight"
        nzPopoverTrigger="click"
        nzPopoverTitle="设置密度"
        [nzPopoverContent]="sizePopover"
      >
        <i nz-icon nzType="column-height"></i>
        <ng-template #sizePopover>
          <nz-radio-group [(ngModel)]="template.tableSize">
            <label nz-radio-button nzValue="default">默认</label>
            <label nz-radio-button nzValue="middle">中等</label>
            <label nz-radio-button nzValue="small">紧凑</label>
          </nz-radio-group>
        </ng-template>
      </button>
      <button
        nz-button
        nzType="text"
        nz-tooltip="列设置"
        nz-popover
        nzPopoverPlacement="bottomRight"
        nzPopoverTrigger="click"
        [nzPopoverTitle]="fieldPopoverTitle"
        [nzPopoverContent]="fieldPopoverContent"
      >
        <i nz-icon nzType="setting"></i>
        <ng-template #fieldPopoverTitle>
          <label
            nz-checkbox
            [(ngModel)]="columnsChecked"
            (ngModelChange)="updateColumnsChecked()"
            [nzIndeterminate]="columnsIndeterminate"
          >
            全部展示
          </label>
        </ng-template>
        <ng-template #fieldPopoverContent>
          <nz-checkbox-group [(ngModel)]="columns" (ngModelChange)="updateColumnChecked()"></nz-checkbox-group>
        </ng-template>
      </button>
    </nz-button-group>
  </nz-space>
</ng-template>

<nz-card [nzTitle]="searchTpl" [nzExtra]="actions">
  <nz-table
    #basicTable
    [nzSize]="template.tableSize"
    [nzData]="lists.data"
    [nzLoading]="lists.loading"
    [nzScroll]="{ x: '1600px' }"
    [nzTitle]="lists.checkedNumber ? bulk : null"
  >
    <ng-template #bulk>
      <nz-alert nzType="info" nzBanner [nzMessage]="message"></nz-alert>
      <ng-template #message>
        <nz-row nzJustify="space-between">
          <nz-col> 已选中 {{ lists.checkedNumber }} 项 </nz-col>
          <nz-col></nz-col>
          <nz-col style="text-align: right">
            <a nz-button nzType="link" nzSize="small">操作<i nz-icon nzType="down"></i></a>
            <a nz-button nzType="link" nzSize="small">取消选择</a>
          </nz-col>
        </nz-row>
      </ng-template>
    </ng-template>
    <thead>
      <tr>
        <th
          nzWidth="65px"
          nzLeft
          nzAlign="center"
          [nzChecked]="lists.checked"
          [nzIndeterminate]="lists.indeterminate"
          (nzCheckedChange)="lists.setAllChecked($event)"
        ></th>
        <th *ngFor="let x of displayColumns" nzWidth="300px">{{ x.label }}</th>
        <th nzWidth="100px" nzRight nzAlign="center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td
          nzLeft
          nzAlign="center"
          [nzDisabled]="data.disabled"
          [nzChecked]="lists.checkedIds.has(data._id)"
          (nzCheckedChange)="lists.setChecked(data._id, $event)"
        ></td>
        <td *ngFor="let x of displayColumns">{{ data[x.value] }}</td>
        <td nzRight nzAlign="center">
          <button nz-button nzType="text">
            <i nz-icon nzType="ellipsis"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>

<nz-drawer
  nzTitle="高级搜索"
  [nzVisible]="searchAdvancedVisible"
  [nzWidth]="450"
  [nzMask]="false"
  [nzFooter]="footerTpl"
  [nzBodyStyle]="{ overflow: 'auto' }"
  (nzOnClose)="closeSearchAdvanced()"
>
  <ng-container *nzDrawerContent>
    <form
      *ngIf="searchAdvancedForm"
      nzLayout="vertical"
      [formGroup]="searchAdvancedForm"
      nz-form
      (wpxFormSubmit)="submit($event)"
    >
      <ng-container *ngFor="let x of search">
        <nz-form-item [formGroupName]="x.key" style="margin-bottom: 1em">
          <nz-form-label>{{ x.label }}</nz-form-label>
          <nz-form-control>
            <nz-input-group nzCompact>
              <nz-select style="width: 30%" formControlName="operator">
                <nz-option [nzLabel]="'精确'" [nzValue]="'$eq'"></nz-option>
                <nz-option [nzLabel]="'模糊'" [nzValue]="'Except'"></nz-option>
              </nz-select>
              <input style="width: 70%" nz-input formControlName="value" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </ng-container>
    </form>
  </ng-container>

  <ng-template #footerTpl>
    <nz-space>
      <button *nzSpaceItem nz-button> <i nz-icon nzType="search"></i> 搜索 </button>
      <button *nzSpaceItem nz-button type="reset"> <i nz-icon nzType="clear"></i> 重置 </button>
    </nz-space>
  </ng-template>
</nz-drawer>
