<nz-list nzSize="large" nzItemLayout="vertical">
  <nz-list-item>
    <nz-list-item-meta>
      <nz-list-item-meta-title><b>认证配置</b></nz-list-item-meta-title>
    </nz-list-item-meta>
    <nz-descriptions nzSize="small" nzBordered [nzColumn]="2">
      <nz-descriptions-item nzTitle="开放服务地址">
        {{ data['openapi_url'] | nzSafeNull: '未设置' }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="开放服务应用认证 Key">
        {{ data['openapi_key'] | nzSafeNull: '未设置' }}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="开放服务应用认证密钥">
        {{ data['openapi_secret'] | nzSafeNull: '未设置' }}
      </nz-descriptions-item>
    </nz-descriptions>
    <nz-list-item-extra>
      <button nz-button nzType="primary" nzShape="circle" nz-tooltip="设置" (click)="form()">
        <i nz-icon nzType="tool"></i>
      </button>
    </nz-list-item-extra>
  </nz-list-item>
</nz-list>
