name: 自动部署

on:
  push:
    tags:
      - console-*

env:
  COS_VERSION: v0.10.2-beta

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: 检出
        uses: actions/checkout@v2

      - name: 缓存
        uses: actions/cache@v2
        id: cache
        with:
          path: '~/.cache'
          key: ${{ env.COS_VERSION }}

      - name: 安装 coscli
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          mkdir -p ~/.cache
          wget https://github.com/tencentyun/coscli/releases/download/${{ env.COS_VERSION }}/coscli-linux
          mv ./coscli-linux ~/.cache/coscli
          chmod +x ~/.cache/coscli
          cat > ~/.cache/cos.yml << EOF
          cos:
            base:
              secretid: ${{ secrets.COS_SECRETID }}
              secretkey: ${{ secrets.COS_SECRETKEY }}
              sessiontoken: ""
            buckets:
              - name: ${{ secrets.COS_BUCKET }}
                alias: default
                region: ap-guangzhou
              - name: ${{ secrets.COS_BUCKET }}
                alias: accelerate
                region: accelerate
          EOF

      - name: 安装 Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: 安装依赖
        run: npm install

      - name: 构建应用
        run: npm run build

      - name: 静态部署
        run: |
          ~/.cache/coscli rm cos://default/ -r -f -c ~/.cache/cos.yml
          ~/.cache/coscli cp ./dist/console/ cos://accelerate/ -r -c ~/.cache/cos.yml
