<form nz-form nzLayout="vertical" id="form" [formGroup]="form" (wpxSubmit)="submit($event)">
  <nz-form-item>
    <nz-form-label nzRequired>SecretId</nz-form-label>
    <nz-form-control nzHasFeedback [nzAutoTips]="tips.tencent_secret_id">
      <input nz-input formControlName="tencent_secret_id" placeholder="请输入腾讯云 SecretId" i18n-placeholder />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired>SecretKey</nz-form-label>
    <nz-form-control nzHasFeedback [nzAutoTips]="tips.tencent_secret_key">
      <input nz-input formControlName="tencent_secret_key" placeholder="请输入腾讯云 SecretKey" i18n-placeholder />
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button type="button" nzType="default" (click)="close()" i18n>取消</button>
  <button nz-button nzType="primary" form="form" [disabled]="!form.valid" i18n>提交</button>
</div>
