<wpx-layout wpxTitle="静态表单">
  <wpx-upload-transport *wpxLayoutAction></wpx-upload-transport>
</wpx-layout>

<nz-card>
  <form nz-form nzLayout="vertical" [formGroup]="form" (wpxSubmit)="submit($event)">
    <nz-form-item>
      <nz-form-label nzRequired>复选</nz-form-label>
      <nz-form-control>
        <wpx-checkbox [wpxOptions]="featureOptions" formControlName="feature"></wpx-checkbox>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>富文本</nz-form-label>
      <nz-form-control>
        <wpx-richtext
          formControlName="text"
          wpxPlaceholder="请输入内容"
          [wpxFallback]="['assets', 'dataflow.svg'] | wpxAssets"
        ></wpx-richtext>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzRequired>图片上传</nz-form-label>
      <nz-form-control>
        <wpx-upload-avatar
          wpxExt="image"
          [wpxAccept]="['image/jpeg', 'image/png']"
          [wpxFallback]="['assets', 'dataflow.svg'] | wpxAssets"
          formControlName="avatar"
        >
        </wpx-upload-avatar>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>图库</nz-form-label>
      <nz-form-control>
        <wpx-media
          wpxType="pictures"
          [wpxFallback]="['assets', 'dataflow.svg'] | wpxAssets"
          formControlName="picture"
          (ngModelChange)="test($event)"
        ></wpx-media>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzRequired>视频库</nz-form-label>
      <nz-form-control>
        <wpx-media
          wpxType="videos"
          [wpxFallback]="['assets', 'dataflow.svg'] | wpxAssets"
          formControlName="video"
          (ngModelChange)="test($event)"
        ></wpx-media>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="!form?.valid">提交</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>
