<nz-layout style="height: 100%; background: transparent">
  <nz-page-header>
    <nz-page-header-title>{{ doc.name }}</nz-page-header-title>
    <nz-page-header-subtitle> </nz-page-header-subtitle>
    <nz-page-header-extra>
      <button nz-button nzType="primary" nzShape="circle" (click)="getTenants()">
        <span nz-icon nzType="sync" nzTheme="outline"></span>
      </button>
    </nz-page-header-extra>
  </nz-page-header>

  <nz-card>
    <nz-list nzItemLayout="vertical">
      <nz-list-item>
        <nz-list-item-meta>
          <nz-list-item-meta-title><b>服务集群</b></nz-list-item-meta-title>
          <nz-list-item-meta-description>
            <ng-container *ngIf="cluster; else unsetClusterRef">
              {{ cluster.name }}
            </ng-container>
          </nz-list-item-meta-description>
        </nz-list-item-meta>
        <nz-list-item-extra>
          <button nz-button nzType="primary" nzShape="circle" (click)="openCluster()">
            <span nz-icon nzType="cluster" nzTheme="outline"></span>
          </button>
        </nz-list-item-extra>
      </nz-list-item>
      <nz-list-item>
        <nz-list-item-meta>
          <nz-list-item-meta-title><b>NATS 租户</b></nz-list-item-meta-title>
          <nz-list-item-meta-description>未设置</nz-list-item-meta-description>
        </nz-list-item-meta>
        <nz-list-item-extra>
          <button
            nz-button
            nzType="primary"
            nzShape="circle"
            [disabled]="!doc.cluster"
            nz-popconfirm
            [nzPopconfirmTitle]="doc.nats ? '您确定要启用 NATS 租户吗?' : '租户已存在确认要重置吗？'"
            (nzOnConfirm)="deployNats()"
          >
            <span nz-icon nzType="deployment-unit" nzTheme="outline"></span>
          </button>
        </nz-list-item-extra>
      </nz-list-item>
      <nz-list-item>
        <nz-list-item-meta>
          <nz-list-item-meta-title><b>REDIS 租户</b></nz-list-item-meta-title>
          <nz-list-item-meta-description>未设置</nz-list-item-meta-description>
        </nz-list-item-meta>
        <nz-list-item-extra>
          <button nz-button nzType="primary" nzShape="circle" [disabled]="!doc.cluster">
            <span nz-icon nzType="deployment-unit" nzTheme="outline"></span>
          </button>
        </nz-list-item-extra>
      </nz-list-item>
    </nz-list>
  </nz-card>
</nz-layout>

<ng-template #unsetClusterRef>未接入集群</ng-template>
